<section class="text-center" [ngClass]="deferClass" deferLoad [threshold]="deferThreshold" (onLoad)="deferClass='defer-load'">
    <h1 class="text-left">Nine to fives.</h1>
    <div class="row no-gutters">
        <div class="col-6">
            <h3>AllofE Solutions</h3>
            <div class="row no-gutters">
                <div class="col-6">
                    <i class="fas fa-2x fa-calendar mb-3"></i>
                    <br>
                    <span>Feb 2014 - Mar 2017</span>
                </div>
                <div class="col-6">
                    <i class="fas fa-2x fa-map-marker-alt mb-3"></i>
                    <br>
                    <span>Lawrence, KS</span>
                </div>
            </div>
            <p class="text-left mt-3 px-3">
                As a <mark>web developer intern</mark> at AllofE Solutions, I got my first taste of responsibilities such as contributing to the design of new interfaces, updating legacy code and managing diverse databases. The projects I was involved in at AllofE introduced me to modern web technologies and allowed me to build a <mark>solid foundation</mark> of web development skills.
                <br><br>
                It was a privilage to work with AllofE's team of talented developers on a wide array of products. My time there provided <mark>invaluable experience</mark> for academic work and shaped into a solid platform from which to launch my professional career.
            </p>
        </div>
        <div class="col-6">
            <h3>Lockpath</h3>
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-2x fa-calendar mb-3"></i>
                    <br>
                    <span>June 2017 - Present</span>
                </div>
                <div class="col-6">
                    <i class="fas fa-2x fa-map-marker-alt mb-3"></i>
                    <br>
                    <span>Overland Park, KS</span>
                </div>
            </div>
            <p class="text-left mt-3 px-3">
                I currently work at Lockpath as a full-stack <mark>software engineer</mark>. On day one, I joined the back-end team and developed a good understanding of the business logic behind their flagship product, Keylight. After several months, I switched to focus on front-end work and assist with a crucial UI/UX overhaul for Keylight involving converting the app to Angular.
                <br><br>
                Since then, I have been able to flex my skills on both sides of Keylight. I continue to be involved in the overall Angular conversion while also building and refining associated REST API endpoints. These projects continue to teach me about advanced <mark>software architecture</mark> principles, modern <mark>coding standards</mark> and timeline management.
            </p>
        </div>
    </div>
</section>
