/* COLORFUL PALETTE
    #61B0FF - blue
    #814EFA - purple
    #FA4E71 - pink
    #C7FA4E - lime
*/

/********************/
/*** Basic styles ***/
/********************/
body{
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
a, a:link, a:visited {
    color: #FA4E71;
}
a:hover, a:active {
    color: #EA3E61;
}

/**********************/
/*** Tooltip styles ***/
/**********************/
.tooltip-theme {
	background: #C7FA4E;
	color: #646464;
}
.tooltip-theme .tooltipster-content {
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 16px;
	padding: 8px 10px;
}
