#expertise {
    background: #814EFA;
}
#expertise .section-header {
    color: #FFFFFF;
}
.expertise-items {
    color: #FFFFFF;
    list-style: none;
    margin: 0px;
}
.expertise-ratings {
    color: #C7FA4E;
    list-style: none;
    margin: 0px;
    text-align: right;
}
#expertise .section-content-row .columns .columns {
    padding-left: 0px;
}
#expertise .section-content-row .columns .columns:nth-child(3) {
    border-right: 1px solid #FFFFFF;
    padding-right: 30px;
}
#expertise .section-content-row .columns .columns:nth-child(4) {
    border-left: 1px solid #FFFFFF;
    padding-left: 30px;
}
