/* COLORFUL PALETTE
    #61B0FF - blue
    #814EFA - purple
    #FA4E71 - pink
    #C7FA4E - lime
*/

/*******************/
/*** Body styles ***/
/*******************/
body {
    background-image: url("../images/black-mountains-bkg-2.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}
a:link, a:visited {
    color: #FA4E71;
}
a:hover, a:active {
    color: #EA3E61;
}

/*********************/
/*** Header styles ***/
/*********************/
header {
    background-color: #61B0FF;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#header {
    font-family: 'Noticia Text', Tahoma, Geneva, sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
}
#header-title {
    color: #353334;
    font-size: 2.5em;
    text-align: center;
}
#header-title span {
    color: #FFFFFF;
    font-weight: bold;
}
.header-sub-title {
    color: #909090;
    font-size: 0.8em;
    text-align: center;
}
#progress-bar{
    background-color: #646464;
    height: 4px;
    width: 0%;
}

/**********************/
/*** Content styles ***/
/**********************/
#content {
    background: transparent;
    padding-top: 93px;
    width: 100%;
}
.section {
    background: #FFF;
    margin: 0;
    max-width: 100%;
/*    max-width: 70em;*/
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    width: 100%;
}
.section:nth-child(even) {
    background: #eee;
}
.section-header {
    color: #646464;
    font-size: 2em;
    padding-bottom: 50px;
    text-align: left;
}
.section-sub-header {
    color: #FA4E71;
    font-size: 1.3em;
}

/*********************/
/*** Footer styles ***/
/*********************/
footer {
    background: #444;
    border-top: ;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}
#connect {
    margin-bottom: 25px;
}
.connect-icon {
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 20px;
    transition: all 0.15s linear;
}
.connect-icon:hover {
    color: #C7FA4E;
}
#back-to-top {
    margin-top: 20px;
    padding: 20px;
}
#back-to-top:hover {
    color: #C7FA4E;
    cursor: pointer;
    -webkit-animation: bounce-horizontal-up 0.75s ease-out;
    -moz-animation: bounce-horizontal-up 0.75s ease-out;
    -ms-animation: bounce-horizontal-up 0.75s ease-out;
    -o-animation: bounce-horizontal-up 0.75s ease-out;
    animation: bounce-horizontal-up 0.75s ease-out;
}
.overlay {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}
.overlay:target {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.popup {
    background: #fff;
    border-radius: 4px;
    margin: 100px auto;
    min-width: 400px;
    padding: 20px;
    position: relative;
    transition: all 0.5s ease-out;
    width: 40%;
}
.popup-header {
    color: #61B0FF;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
}
.popup-content {
    color: #000;
    font-size: 1.2em;
    margin-top: 10px;
    max-height: 50%;
    overflow: auto;
    text-align: left;
}
.close-popup {
    color: #000;
    position: absolute;
    right: 30px;
    top: 20px;
    transition: all 0.25s;
}
.close-popup:hover {
    color: #FA4E71;
}

/**********************/
/*** Tooltip styles ***/
/**********************/
.tooltip-theme {
	background: #C7FA4E;
	color: #646464;
}
.tooltip-theme .tooltipster-content {
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 16px;
	padding: 8px 10px;
}
