/* Color palette

Blue: #61B0FF
Yellow: #C7FA4E
    Tint: #D5FB7A
    Shade: #AEDB44
Purple: #814EFA
Pink: #FA4E71
    Tint: #FB6483
    Shade: #DB4463
Slate gray: #646464

*/

/*****************/
/* Media queries */
/*****************/
@media (min-width: 0px) { /* xs */
    #basics .col-md-6 {
        height: 150px;
    }
    
    #basics-one {
        background-color: #FB6483;
    }
    
    #basics-two {
        background-color: #DB4463;
    }
    
    #experience-one {
        border-top: .3em dashed black;
        border-right: .3em dashed black;
        border-left: .3em dashed black;
    }
    
    #experience-two {
        border-right: .3em dashed black;
        border-bottom: .3em dashed black;
        border-left: .3em dashed black;
    }
}

@media (min-width: 576px) { /* sm */
    #basics .col-md-6 {
        height: 200px;
    }
}

@media (min-width: 768px) { /* md */
    #basics .col-md-6 {
        height: 225px;
    }
    
    #basics-one {
        background-color: #DB4463;
    }

    #basics-two {
        background-color: #FB6483;
    }
}

@media (min-width: 992px) { /* lg */
    #basics .col-md-6 {
        height: 275px;
    }
    
    #experience-one {
        border-right: none;
        border-bottom: .3em dashed black;
    }
    
    #experience-two {
        border-top: .3em dashed black;
        border-left: none;
    }
}

@media (min-width: 1200px) { /* xl */
    #basics .col-md-6 {
        height: 350px;
    }
}

/***********/
/* Nav bar */
/***********/
nav {
    background-color: black;
    color: white;
}

.navbar-brand {
    font-family: 'Monoton', sans-serif;
    font-size: 2.5em;
}

.navbar .navbar-toggler {
    border-color: white;
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar #basics-link:hover {
    color: #FA4E71;
}

.navbar #education-link:hover {
    color: #61B0FF;
}

.navbar #experience-link:hover {
    color: #C7FA4E;
}

.navbar #skills-link:hover {
    color: #814EFA;
}

/************/
/* Sections */
/************/
main {
    font-family: 'Montserrat', sans-serif;
    padding-top: 5.4em;
}

#basics {
    background-color: #FA4E71;
}

#experience {
    background-color: #C7FA4E;
}

#education, #skills {
    background-color: white;
}

/*
section {
    padding-top: 3em;
    padding-bottom: 3em;
}
*/

.section-header {
    text-align: center;
}

/***************/
/* Main titles */
/***************/
.section-header .main-title {
    display: block;
    font-size: 3.5em;
    padding-top: .5em;
}

#basics .main-title {
    color: #FFFFFF;
}

#education .main-title {
    color: #61B0FF;
}

#experience .main-title {
    color: black;
}

#skills .main-title {
    color: #814EFA;
}

/**************/
/* Sub titles */
/**************/
.section-header .sub-title {
    display: block;
    font-weight: bold;
    padding-bottom: 2em;
}

#basics .sub-title {
    color: white;
}

#experience .sub-title {
    color: black;
}

#education .sub-title, #skills .sub-title {
    color: #646464;
}


/*****************/
/* Content items */
/*****************/
.section-content {
    padding: 3em;
}

.section-content-title {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}

.section-content-primary {
    margin-bottom: 1.5em;
    text-align: center;
}

.section-content-detail {
    display: block;
}

.section-content-i {
    margin-bottom: .5em;
}

#basics-three {
    background-color: #FB6483;
}

#basics-four {
    background-color: #DB4463;
}

.basics-detail {
    color: white;
}

.basics-detail svg {
    left: 43%;
    position: absolute;
    top: 35%;
}

/*
#education .section-text-content::before {
    background-image: url("../resources/images/ku-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 100%;
    opacity: 0.15;
    position: absolute;
    width: 100%;
}
*/

.education-content-i {
    color: #61B0FF;
}

#experience-one {
    background-color: white;
}

#experience-two {
    background-color: white;
}

.experience-content-i {
    color: #C7FA4E;
}

.experience-highlight {
    background-color: black;
    color: #C7FA4E;
    padding-right: .3em;
    padding-left: .3em;
}

/**********/
/* Footer */
/**********/
footer {
    background-color: black;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
