@media only screen and (max-width: 64.0624em) {
    .resume-small-margin {
        margin-top: 40px;
    }
}
.section-content-row .resume-row + .resume-row {
    padding-top: 20px;
}
.resume-header {
    color: #646464;
    font-size: 1.2em;
    font-weight: bold;
}
.resume-sub-header {
    display: block;
}
.resume-location {
    color: #61B0FF;
}
