@media only screen and (max-width: 64.0624em) {
    .resume-small-margin {
        margin-top: 40px;
    }
}
.resume-row {
    padding-top: 10px;
}
.resume-header {
    font-weight: bold;
}
.resume-sub-header {
    display: block;
    font-size: 0.8em;
    font-style: italic;
}
