#skills {
    background: #814EFA;
}
#skills .section-header {
    color: #FFFFFF;
}
.skills-row {
    padding-top: 20px;
    padding-bottom: 60px;
}
.skills-item {
    font-size: 5em;
}
.skills-item-container {
    text-align: center;
}
.white {
    color: #FFFFFF;
}
.slick-prev:before,
.slick-next:before {
    color: #FA4E71;
}
#tools {
    text-align: center;
}
#tools-header {
    color: #61B0FF;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
}
#tools-content {
    margin-top: 10px;
    max-height: 50%;
    overflow: auto;
}
.tools-item {
    display: block;
    font-size: 1.2em;
}
