@use 'sass:color';

@use 'variables';
@use 'functions';

$map: (
    'accent-color': (
        // General
        'primary': variables.$color-sky,

        // Games
        'sudoku': functions.adjust-to-contrast(variables.$color-sudoku, variables.$color-navy),
        'warships': variables.$color-warships
    ),
    'background-color': (
        // General
        'primary': variables.$color-navy,
        'secondary': variables.$color-light-navy,
        'tertiary': variables.$color-ocean,

        // Controls
        'tooltip': variables.$color-white,

        // Games
        'sudoku-active': color.scale(variables.$color-sky, $lightness: -55%),
        'sudoku-extra-highlight': color.scale(variables.$color-sky, $lightness: -75%)
    ),
    'box-shadow': (
        'soft': 0 2px 10px 0 color.scale(variables.$color-gray-200, $alpha: -85%),
        'hard': 0 2px 10px 0 color.scale(variables.$color-gray-200, $alpha: -45%)
    ),
    'font-color': (
        // General
        'normal': variables.$color-gray-200,
        'large': variables.$color-white,
        'neutral-on-primary': functions.adjust-to-contrast(variables.$color-neutral, variables.$color-navy, 7),
        'neutral-on-secondary': functions.adjust-to-contrast(variables.$color-neutral, variables.$color-light-navy, 7),
        'positive-on-primary': variables.$color-positive,
        'positive-on-secondary': variables.$color-positive,
        'negative-on-primary': functions.adjust-to-contrast(variables.$color-negative, variables.$color-navy, 7),
        'negative-on-secondary': functions.adjust-to-contrast(variables.$color-negative, variables.$color-light-navy, 7),

        // Controls
        'tooltip': variables.$color-black
    ),
    'font-family': (
        'normal': variables.$default-font-family,

        'warships': monospace
    ),
    'icon-color': (
        'primary': variables.$color-white,
        'neutral-on-primary': functions.adjust-to-contrast(variables.$color-neutral, variables.$color-navy, 3),
        'neutral-on-secondary': functions.adjust-to-contrast(variables.$color-neutral, variables.$color-light-navy, 3),
        'positive-on-primary': variables.$color-positive,
        'positive-on-secondary': variables.$color-positive,
        'negative-on-primary': variables.$color-negative,
        'negative-on-secondary': functions.adjust-to-contrast(variables.$color-negative, variables.$color-light-navy, 3)
    )
)
