@use 'sass:color';

@use 'variables';
@use 'functions';

$map: (
    'accent-color': (
        // General
        'primary': variables.$color-sky,

        // Games
        'sudoku': functions.adjust-to-contrast(variables.$color-sudoku, variables.$color-navy)
    ),
    'background-color': (
        // General
        'primary': variables.$color-navy,
        'secondary': variables.$color-light-navy,

        // Controls
        'tooltip': variables.$color-white,
        'input': variables.$color-navy
    ),
    'box-shadow': (
        'soft': 0 2px 10px 0 color.scale(variables.$color-gray-200, $alpha: -85%),
        'hard': 0 2px 10px 0 color.scale(variables.$color-gray-200, $alpha: -45%)
    ),
    'font-color': (
        // General
        'normal': variables.$color-gray-200,
        'large': variables.$color-white,

        // Controls
        'tooltip': variables.$color-black,
        'input': variables.$color-gray-200
    ),
    'icon-color': (
        'primary': variables.$color-white
    )
)
