@use 'sass:color';

@use 'variables';

$map: (
    'accent-color': (
        // General
        'primary': variables.$color-yellow,

        // Games
        'sudoku': variables.$color-yellow
    ),
    'background-color': (
        // General
        'primary': variables.$color-vanta-black,
        'secondary': variables.$color-vanta-black,

        // Controls
        'tooltip': variables.$color-black,
        'input': variables.$color-vanta-black
    ),
    'box-shadow': (
        'soft': none,
        'hard': none
    ),
    'font-color': (
        // General
        'normal': variables.$color-white,
        'large': variables.$color-white,

        // Controls
        'tooltip': variables.$color-white,
        'input': variables.$color-white
    ),
    'icon-color': (
        'primary': variables.$color-white
    )
)
