/* COLORFUL PALETTE
    #61B0FF - blue
    #814EFA - purple
    #FA4E71 - pink
    #C7FA4E - lime
*/

/*******************/
/*** Body styles ***/
/*******************/
body {
    background: #444;
}

/**********************/
/*** Content styles ***/
/**********************/
#content {
    background: transparent;
    padding-top: 75px;
    width: 100%;
}
.game-tile-container {
    margin-top: 20px;
    text-align: center;
}
.game-tile {
    background: #814EFA;
    border-radius: 15px;
    cursor: pointer;
    display: table;
    height: 150px;
    margin: auto;
    transition: all 0.2s ease-out;
    width: 225px;
}
.game-tile:hover {
/*    background: url("../images/stormtrooper-keyboard.jpg");*/
/*    background-position: center;*/
    background: #612EDA;
    transition: all 0.2s ease-out;
}
.game-tile:hover .game-title {
/*    color: #FA4E71;*/
    transition: all 0.2s ease-out;
}
.game-title {
    color: #FFFFFF;
    display: table-cell;
    font-size: 1.4em;
    vertical-align: middle;
}
