textarea {
    height: 100px;
}

#submit-btn {
    background-color: #fff;
    border: 2px solid #DF614D;
    color: #DF614D;
    font-weight: bold;
    outline: none;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    transition: all 0.15s linear;
}

#submit-btn:hover {
    background-color: #DF614D;
    color: #fff;
}
