/* *************** REDESIGN ***************

 * TEAL     #3a735a; rgba(58, 115, 90, 100)
 * L. GRAY  #c3c3c3; rgba(195, 195, 195, 100)
 * M. GRAY  #686469; rgba(195, 195, 195, 100)
 * D. Gray  #353334; rgba(53, 51, 52, 100)
 * D. White #e3e3e3; rgba(227, 227, 227, 100)
 * RED      #d36f62; rgba(211, 111, 98, 100)
 * YELLOW   #ffc43d; rgba(255, 196, 61, 100)
 * GREEN    #5d9c49; rgba(93, 156, 73, 100)

 * *************** REDESIGN *************** */

body {
    background-color: #c3c3c3;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 18px;
}

.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}

header {
    background-color: #e3e3e3;
    padding-bottom: 40px;
}

#header-text {
    margin-top: 50px;
}

#header-sub-text {
    margin-top: 12px;
}

.main-text-span {
    font-family: 'Noticia Text', Tahoma, Geneva, sans-serif;
    font-size: 50px;
}

.sub-text-span {
    font-family: 'Noticia Text', Tahoma, Geneva, sans-serif;
    font-size: 18px;
    float: left;
    clear: left;
}

#header-nav {
    text-align: left;
    padding-top: 50px;
}

.header-nav-link {
    color: #686469;
	font-size: 18px;
    margin-right: 30px;
}

.header-nav-link:visited {
    color: #686469;
}

.header-nav-link:hover {
    color: #686469;
}

.header-nav-link:active {
    color: #686469;
}

/*#iframe-div {
}*/

#content-iframe {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.5s;
    transition-property: opacity;
    transition-duration: 0.5s;
}

#content-iframe.faded {
    opacity: 0.0;
}

#content-iframe.normal {
    opacity: 1.0;
}

footer {
    font-size: 12px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
}

.header-nav-link-underline-1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.header-nav-link-underline-1:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #d36f62;
    height: 4px;
    -webkit-transition-property: left, right;
    -moz-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.header-nav-link-underline-1:hover:before, .header-nav-link-underline-1:active:before {
    left: 0;
    right: 0;
}

.header-nav-link-underline-2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.header-nav-link-underline-2:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #3a735a;
    height: 4px;
    -webkit-transition-property: left, right;
    -moz-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.header-nav-link-underline-2:hover:before, .header-nav-link-underline-2:active:before {
    left: 0;
    right: 0;
}

.header-nav-link-underline-3 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.header-nav-link-underline-3:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ffc43d;
    height: 4px;
    -webkit-transition-property: left, right;
    -moz-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.header-nav-link-underline-3:hover:before, .header-nav-link-underline-3:active:before {
    left: 0;
    right: 0;
}










/* ***** Material Color Palette *****
 * 
 * dark primary: #455a64
 * primary: #607d8b
 * light primary: #cfd8dc
 * text/icons: #ffffff
 * accent: #ff9800
 * primary text: #212121
 * secondary text: #727272
 * divider: #b6b6b6
 * 
 * *********************************/
/* ***** Custom Color Palette *****
 * 
 * background: #fff
 * footer: #ddd
 * accent: #c98383
 * dark accent: #7d3737
 * accent compliments: #a683c9 #83c9c9 #a6c983
 * primary text: #818181
 * secondary text: #727272
 * 
 * *******************************/


/* for testing */
/**:not(hr):not(body):not(html) {
/*
    box-sizing: border-box;
    border: 1px dashed #000;
*/
/*}
.columns {
/*    min-height: 100px;*/
/*}
/* end testing */


/***** OVERALL *****/
/*body {
	background-color: #fff;
    margin: 0px;
}
.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}
.tooltip-theme {
	background: #ff9800;
	color: #727272;
}
.tooltip-theme .tooltipster-content {
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 16px;
	padding: 8px 10px;
}



/***** HEADER *****/
/*#page-header {
    background: url(images/ku_skyline_blurred.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    height: 600px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
#header-text {
    color: #455a64;
    font-size: 1.8em;
    font-weight: bold;
}
#header-text-down {
    color: #455a64;
    font-size: 2.5em;
    font-weight: bold;
}
.header-subtext {
    color: #ff9800;
    font-size: 1.3em;
    font-weight: lighter;
}
.header-subtext-down {
    color: #ff9800;
    font-size: 1.8em;
    font-weight: lighter;
}
#header-hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
}
/*#header-text-div {
    display: table;
}
#header-text {
    color: #818181;
    display: table-cell;
    vertical-align: middle;
}*/



/***** MENU *****/
/*#menu {
    background-color: #607d8b;
    left:15px;
    text-align: center;
}
.menu-item {
    color: #ffffff;
    display: inline;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 1em;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.menu-item:hover {
    color: #cfd8dc;
    cursor: pointer;
}



/***** CONTENT *****/
/*.sections {
    background-color: #fff;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    padding: 20px;
}
#circular {
    background: url(images/prof_pic.jpg) no-repeat;
    background-size: 150px 150px;
    float: left;
    height: 150px;
    margin-right: 10px;
    width: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
}
.section-header:after {
    border-top: 1px solid #b6b6b6;
    content: '';
    left: 7%;
    position: absolute;
    top: 25px;
    width: calc(100% - 7%);
    z-index: 0;
}
.section-header-down:after {
    border-top: 1px solid #b6b6b6;
    content: '';
    left: 12%;
    position: absolute;
    top: 53%;
    width: calc(100% - 14%);
    z-index: 0;
}
.section-header-icon {
    color: #607d8b;
    z-index: ;
}
.section-content-header {
    color: #212121;
    font-weight: bold;
}
.section-content {
    color: #727272;
    padding: 10px 20px 10px 20px;
    
}
#skills-banner {
    text-align: center;
}
.skills-banner-item {
    margin: 10px 0px 10px 0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.skills-banner-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/*[class*="section-"] {
    padding: 10px;
}*/



/***** FOOTER *****/
/*#page-footer {
    background-color: #cfd8dc;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    min-height: 150px;
    padding: 10px 0px 0px 0px;
}
#connect {
    background-color: #cfd8dc;
    text-align: center;
}
.connect-icon {
    color: #607d8b;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.connect-icon:hover {
    color: #455a64;
}
#end-phrase {
    color: #455a64;
    font-size: 1.1em;
    text-align: center;
}
#quote {
    color: #727272;
    font-size: 1em;
    text-align: center;
}
#credits {
    color:  #727272;
    font-size: 1em;
    text-align: left;
}
#to-top {
    font-size: 1em;
    text-align: right;
}
