/************************************/
/********** Tromino styles **********/
/************************************/
/*
    #CAC05F - yellow
    #C4A3BF - purple
    #D19576 - red
    #83C4C3 - blue
    #8FCE8E - green
    #70798A - blue-gray
    #909090 - gray
*/
body {
    background: #fff;
    color: #70798A;
    cursor: auto;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

.right {
    float: right;
}
.left {
    float: left;
}
.hidden {
    display: none;
}

/*** BUTTON ***/
.trom-btn {
    background-color: #fff;
    border: 2px solid #909090;
    border-radius: 0;
    box-shadow: none;
    color: #909090;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 0.6rem 1.1rem;
    transition: all 0.15s linear;
}
.trom-btn:hover {
    background-color: #909090;
    color: #fff;
}
.trom-btn.success {
    background-color: #fff;
    border-color: #8FCE8E;
    color: #8FCE8E;
}
.trom-btn.success:hover {
    background-color: #8FCE8E;
    color: #fff;
}
.trom-btn.caution {
    background-color: #fff;
    border-color: #CAC05F;
    color: #CAC05F;
}
.trom-btn.caution:hover {
    background-color: #CAC05F;
    color: #fff;
}
.trom-btn.failure {
    background-color: #fff;
    border-color: #D19576;
    color: #D19576;
}
.trom-btn.failure:hover {
    background-color: #D19576;
    color: #fff;
}
.trom-btn.info {
    background-color: #fff;
    border-color: #83C4C3;
    color: #83C4C3;
}
.trom-btn.info:hover {
    background-color: #83C4C3;
    color: #fff;
}

/*** SELECT ***/
/*
label.trom-sel {
    border: 1px solid #a0a0a0;
    padding: 0.5em;
    position: relative;
}
label.trom-sel:after {
    content: "\f078";   
    font-family: "FontAwesome";
    font-size: 0.8em;
    color: #a0a0a0;
    right: 8px;
    top: 8px;
    pointer-events: none;
    position: absolute;
}
label.trom-sel:before {
    background: #fff;
    content: "";
    display:block;
    pointer-events: none;
    position: absolute;
}
label.trom-sel select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 0px;
    color: #70798A;
    cursor:pointer;
    display: inline-block;
    font-size: 100%;
    outline: none;
    padding: 0.39em;
    width: 8em;
}
label.trom-sel select:active > label.trom-sel:after {
    content: "\f079";
}
*/
