@import 'variables';

header {
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    height: 100%;
    z-index: 999;
    animation-name: $title-slide-name;
    animation-duration: $title-slide-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $title-slide-delay;

    &.rainbow {
        height: 15%;
    }
}

svg {
    font-size: $default-font-size;
    animation-name: $svg-font-size-name;
    animation-duration: $svg-font-size-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $svg-font-size-delay;
}

#outline {
    fill: none;
    stroke: $black;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-width: .02rem;
    animation-name: $title-outline-name;
    animation-duration: $title-outline-duration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#fill {
    fill: $black;
    fill-opacity: 0;
    animation-name: $title-fill-name;
    animation-duration: $title-fill-duration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: $title-fill-delay;
}

.slant {
    opacity: 0;
    animation-name: $slant-appear-name;
    animation-duration: $slant-appear-duration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: $slant-appear-delay;

    &.color-2 {
        animation-delay: $slant-appear-delay + .1s;
    }

    &.color-4 {
        animation-delay: $slant-appear-delay + .2s;
    }

    &.color-1 {
        animation-delay: $slant-appear-delay + .3s;
    }
}

main {
    background-color: $white;
    color: $black;
    display: none;
    padding-top: 5%;
}

footer {
    background-color: $black;
    color: $white;

    .email {
        color: $white;

        &:hover {
            color: $app-red;
        }
    }
}
