<!-- Side bar (lg and above) -->
<aside #aside class="h-100 position-fixed d-none d-lg-block">
    <svg class="h-75 w-100">
        <text text-anchor="middle" x="50%" y="50%" class="title-text" id="outline">{{ title }}</text>
        <text text-anchor="middle" x="50%" y="50%" class="title-text" id="fill">{{ title }}</text>
    </svg>
    <div class="song h-25 w-100 text-center">
        <label class="d-block">My latest song on repeat:</label>
        <label class="d-block">Sorry You're Sick - Anderson East</label>
        <a class="btn spotify-green m-2" href="https://open.spotify.com/track/1yJISuvwXVeClWaDvm1IqF?si=ub8zuoAURn2RlrCFcW51ig" target="_blank">
            <i class="fab fa-2x fa-spotify"></i>
        </a>
        <a class="btn youtube-red m-2" href="https://www.youtube.com/watch?v=fPY-oyR9A10" target="_blank">
            <i class="fab fa-2x fa-youtube"></i>
        </a>
    </div>
</aside>
<!-- Header (md and down) -->
<header #header class="w-100 sticky-top d-block d-lg-none">
    <svg class="h-100 w-100">
        <text text-anchor="middle" x="50%" y="55%" class="title-text" id="outline">{{ title }}</text>
        <text text-anchor="middle" x="50%" y="55%" class="title-text" id="fill">{{ title }}</text>
    </svg>
</header>
<!-- Content -->
<ng-template #contentTemplate>
    <about></about>
    <education></education>
    <experience></experience>
    <skills></skills>
    <footer class="row no-gutters py-3 justify-content-center align-items-center">
        <div class="col-auto mr-3">
            <i class="far fa-copyright"></i> Austin Kurtti
        </div>
        <div class="col-auto">
            <a class="btn linkedin-blue m-2" href="https://www.linkedin.com/in/austinkurtti">
                <i class="fab fa-2x fa-linkedin"></i>
            </a>
            <a class="btn email m-2" href="mailto:austin.kurtti@gmail.com">
                <i class="fas fa-2x fa-envelope-square"></i>
            </a>
            <a class="btn github-purple m-2" href="https://github.com/austinkurtti">
                <i class="fab fa-2x fa-github-square"></i>
            </a>
        </div>
    </footer>
</ng-template>
<!-- Pairs with aside -->
<main class="with-aside position-static d-none d-lg-block">
    <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>
</main>
<!-- Pairs with header -->
<main class="with-header position-static d-block d-lg-none">
    <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>
</main>
