<!-- Header -->
<header #header
    class="w-100 position-fixed">
    <div class="position-relative h-100 w-100">
        <svg class="header-slants position-absolute h-100" viewBox="0 0 128 128">
            <defs>
                <path id="slant" d="M16,0 L64,128 L112,128 L64,0 Z"></path>
            </defs>
            <use xlink:href="#slant" x="-50%" class="slant color-3"></use>
            <use xlink:href="#slant" x="-33.3%" class="slant color-2"></use>
            <use xlink:href="#slant" x="33.3%" class="slant color-4"></use>
            <use xlink:href="#slant" x="50%" class="slant color-1"></use>
        </svg>
        <svg class="header-title position-absolute h-100 w-100" viewBox="0 0 128 128">
            <text text-anchor="middle" x="50%" y="55%" id="outline">{{ title }}</text>
            <text text-anchor="middle" x="50%" y="55%" id="fill">{{ title }}</text>
        </svg>
        <!-- TODO: Templatize contact icons -->
        <div class="header-icons position-absolute h-100 d-none d-md-flex align-items-center">
            <a class="btn contact-icon-black m-2" href="https://www.linkedin.com/in/austinkurtti">
                <i class="fab fa-2x fa-linkedin"></i>
            </a>
            <a class="btn contact-icon-black m-2" href="mailto:austin.kurtti@gmail.com">
                <i class="fas fa-2x fa-envelope-square"></i>
            </a>
            <a class="btn contact-icon-black m-2" href="https://github.com/austinkurtti">
                <i class="fab fa-2x fa-github-square"></i>
            </a>
        </div>
    </div>
</header>
<!-- Content -->
<main #main
    class="position-static">
    <about></about>
    <education></education>
    <experience></experience>
    <skills></skills>
    <!-- Footer -->
    <footer class="row no-gutters py-3 justify-content-center align-items-center">
        <div class="col-auto mr-3">
            <i class="far fa-copyright"></i> Austin Kurtti
        </div>
        <div class="col-auto">
            <a class="btn contact-icon-white m-2" href="https://www.linkedin.com/in/austinkurtti">
                <i class="fab fa-2x fa-linkedin"></i>
            </a>
            <a class="btn contact-icon-white m-2" href="mailto:austin.kurtti@gmail.com">
                <i class="fas fa-2x fa-envelope-square"></i>
            </a>
            <a class="btn contact-icon-white m-2" href="https://github.com/austinkurtti">
                <i class="fab fa-2x fa-github-square"></i>
            </a>
        </div>
    </footer>
</main>
