<!-- Sticky nav header -->
<header class="container-fluid sticky-top">
    <div class="row align-items-center text-center">
        <div class="col-12 col-md-auto">
            <span id="title">{{ title }}</span>
        </div>
        <div class="col-4 col-md-auto">
            <a routerLink="/about" [ngClass]="aboutColor" >About</a>
        </div>
        <div class="col-4 col-md-auto">
            <a routerLink="/resume" [ngClass]="resumeColor">Resume</a>
        </div>
        <div class="col-4 col-md-auto">
            <a routerLink="/contact" [ngClass]="contactColor">Contact</a>
        </div>
    </div>
</header>

<!-- Page content -->
<main>
    <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="py-4">
    <div class="row text-center">
        <div class="col-12">
            <i class="far fa-copyright"></i> Austin Kurtti
        </div>
    </div>
</footer>
