@use 'sass:math';

@use 'variables';
@use 'mixins';

:host {
    display: block;

    .theme-radio {
        bottom: math.div(variables.$base-size, 1.6);
        pointer-events: none;
    }

    .theme-text {
        bottom: math.div(variables.$base-size, 2);
        left: variables.$base-size * 2.5;
    }
}
