@import 'variables';
@import 'keyframes';

$header-height: $base-size * 6;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    #sudoku-header {
        height: $header-height;

        #sudoku-timer {
            i {
                margin-right: $base-size;

                &:hover {
                    cursor: pointer;
                }
            }

            span {
                font-family: monospace;
            }
        }

        #sudoku-difficulties {
            padding-left: $base-size;
            padding-right: $base-size;

            button {
                border-bottom-width: $base-size / 8;
                border-color: $color-app-accent-1;
                border-left-width: $base-size / 16;
                border-right-width: $base-size / 16;
                border-style: solid;
                border-top-width: $base-size / 8;
                color: $color-app-accent-1;
                transition: ease-in background-color .1s,
                            ease-in color .1s;

                &:hover {
                    background-color: lighten($color-app-accent-1, 50%);
                }
                
                &:nth-child(1) {
                    border-bottom-left-radius: $base-size / 4 !important;
                    border-bottom-right-radius: 0 !important;
                    border-left-width: $base-size / 8 !important;
                    border-top-left-radius: $base-size / 4 !important;
                    border-top-right-radius: 0 !important;
                }

                &:nth-child(2) {
                    border-radius: 0 !important;
                }

                &:nth-child(3) {
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: $base-size / 4 !important;
                    border-right-width: $base-size / 8 !important;
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: $base-size / 4 !important;
                }

                &.active {
                    background-color: $color-app-accent-1;
                    color: $color-white;
                }
            }
        }

        #sudoku-actions {
            button {
                border-color: $color-app-accent-1;
                border-radius: $base-size / 4;
                border-style: solid;
                color: $color-app-accent-1;
                transition: ease-in background-color .1s,
                            ease-in color .1s;

                &:hover {
                    background-color: lighten($color-app-accent-1, 50%);
                }

                &:not(:first-child) {
                    margin-left: $base-size;
                }
            }
        }
    }

    #sudoku-content {
        display: flex;
        flex: 1;
        flex-direction: column;

        #sudoku-board {
            border-style: solid;
            border-width: $base-size / 4;
            display: flex;
            flex-direction: column;

            > .row {
                flex: 1;

                &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                    border-top: $base-size / 4 solid;
                }

                &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                    border-bottom: $base-size / 4 solid;
                }
            }

            .sudoku-cell {
                border-style: solid;
                border-width: $base-size / 8;
                display: flex;

                &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                    border-left: $base-size / 4 solid;
                }

                &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                    border-right: $base-size / 4 solid;
                }

                &.building {
                    animation: $color-pulse-name $color-pulse-duration $color-pulse-timing;
                    animation-iteration-count: infinite;
                }

                &.given {
                    background-color: $color-sudoku-given;
                }

                &:focus, &:focus-visible {
                    background-color: $color-sudoku-orange;
                    border-radius: 0px;
                    outline: none;
                }

                span {
                    font-size: $default-font-size * 4;
                    font-weight: bold;
                }
            }
        }
    }
}
