@use 'sass:math';

@import 'variables';
@import 'keyframes';

$sudoku-border-width: math.div($base-size, 5);

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    #sudoku-header {
        padding: $base-size * 2;

        #sudoku-state {
            i {
                &:not(.fa-flag-checkered):hover {
                    cursor: pointer;
                }
            }

            #sudoku-time {
                font-family: monospace;
            }
        }

        // #sudoku-difficulties {
        //     padding-left: $base-size;
        //     padding-right: $base-size;

        //     button {
        //         border-bottom-width: math.div($base-size, 8);
        //         border-left-width: math.div($base-size, 16);
        //         border-right-width: math.div($base-size, 16);
        //         border-top-width: math.div($base-size, 8);

        //         &:not(.active):not(:disabled):hover {
        //             background-color: lighten($color-slate, 60%);
        //         }
                
        //         &:nth-child(1) {
        //             border-bottom-left-radius: math.div($base-size, 4) !important;
        //             border-bottom-right-radius: 0 !important;
        //             border-left-width: math.div($base-size, 8) !important;
        //             border-top-left-radius: math.div($base-size, 4) !important;
        //             border-top-right-radius: 0 !important;
        //         }

        //         &:nth-child(2) {
        //             border-radius: 0 !important;
        //         }

        //         &:nth-child(3) {
        //             border-bottom-left-radius: 0 !important;
        //             border-bottom-right-radius: math.div($base-size, 4) !important;
        //             border-right-width: math.div($base-size, 8) !important;
        //             border-top-left-radius: 0 !important;
        //             border-top-right-radius: math.div($base-size, 4) !important;
        //         }

        //         &.active {
        //             background-color: $color-slate;
        //             color: $color-white;
        //             pointer-events: none;
        //         }
        //     }
        // }

        #sudoku-actions {
            button {
                &:not(:disabled):hover {
                    background-color: lighten($color-slate, 60%);
                }

                &:not(:first-child) {
                    margin-left: $base-size;
                }
            }
        }
    }

    #sudoku-content {
        flex: 1;

        #sudoku-board-container {
            display: flex;
            flex-direction: column;

            #sudoku-board {
                border-style: solid;
                border-width: $sudoku-border-width;
                display: flex;
                flex-direction: column;

                > .row {
                    flex: 1;

                    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                        border-top: $sudoku-border-width solid;
                    }

                    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                        border-bottom: $sudoku-border-width solid;
                    }
                }

                .sudoku-cell {
                    border-style: solid;
                    border-width: math.div($sudoku-border-width, 2);
                    display: flex;
                    flex-direction: column;

                    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                        border-left: $sudoku-border-width solid;
                    }

                    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                        border-right: $sudoku-border-width solid;
                    }

                    &:focus, &:focus-visible {
                        border-radius: 0px;
                        outline: none;
                    }

                    &.building {
                        animation: $color-pulse-name $color-pulse-duration $color-pulse-timing;
                        animation-iteration-count: infinite;
                    }

                    &.given {
                        background-color: $color-gray-200;
                    }

                    &.active {
                        background-color: $color-sudoku-orange;
                    }

                    .normal {
                        font-size: $default-font-size * 4;
                        font-weight: bold;

                        &.valid {
                            color: green;
                        }
        
                        &.invalid {
                            color: red;
                        }
                    }

                    .candidate-row {
                        flex: 1 1;
                    }

                    .candidate {
                        font-size: $default-font-size * 1.5;
                        line-height: 1;
                    }
                }
            }
        }

        #sudoku-input-container {
            margin-left: math.div($base-size, 2);

            .sudoku-input {
                background-color: $color-gray-200;
                border: math.div($sudoku-border-width, 2) solid;
                border-radius: math.div($base-size, 4);
                font-size: $default-font-size * 2;
                font-weight: bold;
                height: 100%;
                transition: ease-in background-color .1s;
                width: 100%;

                &:disabled {
                    opacity: .5;
                    pointer-events: none;
                }
    
                &:not(:disabled):hover {
                    background-color: $color-gray-300;
                    cursor: pointer;
                }

                i {
                    // Helps prevent tooltip wonkiness
                    pointer-events: none;
                }
            }
        }
    }
}
