<div id="sudoku-header" class="row no-gutters align-items-center justify-content-center">
    Header
</div>

<ng-template #boardLoading>
    <div id="sudoku-board-loading">
        <i class="fas fa-circle-notch fa-spin"></i>
        <span>Building your unique Sudoku...</span>
    </div>
</ng-template>

<div #sudokuContent
    id="sudoku-content"
    class="align-items-center justify-content-center">
    <div *ngIf="board.primed$ | async; else boardLoading;"
        #sudokuBoard
        id="sudoku-board">
        <div *ngFor="let row of board.cells; let rowIndex = index;" class="row no-gutters">
            <div *ngFor="let cell of row; let colIndex = index;"
                #sudokuCell
                tabindex="0"
                class="sudoku-cell col align-items-center justify-content-center"
                [id]="'cell-' + rowIndex + '-' + colIndex"
                [ngClass]="{ 'given': cell.given }"
                (keydown)="cellKeydown(rowIndex, colIndex, $event)">
                <span class="position-absolute">{{ cell.value }}</span>
            </div>
        </div>
    </div>
</div>
