/* *************** REDESIGN ***************

 * BLUE     #084c61; rgba(8, 76, 97, 100)
 * L. GRAY  #c3c3c3; rgba(195, 195, 195, 100)
 * M. GRAY  #686469; rgba(195, 195, 195, 100)
 * D. Gray  #353334; rgba(53, 51, 52, 100)
 * D. White #e3e3e3; rgba(227, 227, 227, 100)
 * RED      #d36f62; rgba(211, 111, 98, 100)
 * YELLOW   #ffc43d; rgba(255, 196, 61, 100)

 * *************** REDESIGN *************** */
 
body {
    background-color: #e3e3e3;
}

.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}

#top-div {
    padding: 20px;
}
 
#prof-pic {
    background: url(../images/prof_pic.jpg) no-repeat;
    background-size: 200px 200px;
    float: left;
    height: 200px;
    margin-right: 10px;
    width: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
}
