/* *************** REDESIGN ***************

 * TEAL     #3a735a; rgba(58, 115, 90, 100)
 * L. GRAY  #c3c3c3; rgba(195, 195, 195, 100)
 * M. GRAY  #686469; rgba(195, 195, 195, 100)
 * D. Gray  #353334; rgba(53, 51, 52, 100)
 * D. White #e3e3e3; rgba(227, 227, 227, 100)
 * RED      #d36f62; rgba(211, 111, 98, 100)
 * YELLOW   #ffc43d; rgba(255, 196, 61, 100)
 * GREEN    #5d9c49; rgba(93, 156, 73, 100)

 * *************** REDESIGN *************** */
 
body {
/*    background-color: #e3e3e3;*/
/*    background-image: url("../images/white-mountains-bkg.jpg");*/
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
}

.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}

#top-div {
    
}
 
#prof-pic {
    background: url(../images/prof_pic.jpg) no-repeat;
    background-size: 200px 200px;
    float: left;
    height: 200px;
    margin-right: 10px;
    width: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
}

#tile-row {
/*    background-color: #353334;*/
    background-image: url("../images/black-mountains-bkg-2.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 250px;
    text-align: center;
}

.tile {
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
}

.tile-icon {
    background-color: #3a735a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.tile-icon:hover {
    background-color: #686469;
    color: #c3c3c3;
}

.tile-text {
    color: #fff;
    font-size: 20px;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

.tile-text:hover {
    color: #c3c3c3;
}

#fact-row {
    padding: 50px;
}

#basics {
    font-size: 28px;
}

.basic-fact {
    cursor: pointer;
    margin-top:30px;
    text-align: center;
}

.primary-fact {
    opacity: 1;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.secondary-fact {
    color: #3a735a;
    opacity: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.basic-fact:hover .primary-fact {
    opacity: 0;
    -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    transform: translateY(-35px);
}

.basic-fact:hover .secondary-fact {
    opacity: 1;
    -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    transform: translateY(-35px);
}

.basic-fact-icon {
    color: #3a735a;
}

.basic-fact-text {
    font-size: 20px;
    padding-left: 10px;
}
