<section>
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row no-gutters px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div class="row no-gutters justify-content-center px-5 px-lg-0">
            <div class="col-12 col-lg-4 text-left mb-5 mb-lg-0">
                <p>Over the last several years, I've had the opportunity to work with a variety of web technologies. While I mostly identify as a front-ender, I still find myself flexing my skills on both sides of the tech stack.</p>
                <p>I strive to stay up-to-date on the latest programming principles and am continually looking for ways to improve my web development game.</p>
            </div>
            <div class="col-12 col-lg-4">
                Map here
            </div>
        </div>
    </div>
</section>
