@use 'sass:color';
@use 'sass:math';

@use 'variables';

:host {
    .dialog-header {
        font-family: variables.$industrial-font-family;
        font-weight: normal;
    }

    .dialog-body {
        h4 {
            font-family: variables.$industrial-font-family;
            font-weight: normal;
        }
    }
}
