<h3 class="dialog-header mb-0 text-center">{{ gameManager.gameInstance.gameState() === GameState.victory ? 'Victory' : 'Defeat' }}</h3>

<div class="dialog-body">
    <div class="row g-0 mb-4">
        <div class="col text-center">
            {{ gameManager.gameInstance.gameState() === GameState.victory ? 'The opposing fleet has been destroyed!' : 'Your fleet has been destroyed.' }}
        </div>
    </div>

    <h4>Your fleet</h4>
    <ak-warships-fleet-status
        [isPlayer]="true"
        [isFinal]="true"
    ></ak-warships-fleet-status>

    <h4>Opponent fleet</h4>
    <ak-warships-fleet-status
        [isPlayer]="false"
        [isFinal]="true"
    ></ak-warships-fleet-status>
</div>

<div class="dialog-actions d-flex gap-3 justify-content-end">
    <button class="confirm-button" (click)="playAgain()">Play again</button>
    <button class="cancel-button" (click)="exit()">Exit Warships</button>
</div>
