@use 'theme/maps/light' as light;
@use 'theme/maps/dark' as dark;
@use 'theme/maps/high-contrast' as highContrast;

@use 'variables';
@use 'mixins';

$themes: (
    'light': light.$map,
    'dark': dark.$map
);

:root {
    // TODO - extract into theme?
    --theme-accent-color-primary: #{variables.$color-sky};

    @each $name, $map in $themes {
        $attr-selector: '&[data-theme=#{$name}]';

        #{$attr-selector} {
            @include mixins.unfold-theme-map($map);
        }
    }

    &[data-theme=sync] {
        @media (prefers-color-scheme: light) {
            @include mixins.unfold-theme-map(light.$map);
        }

        @media (prefers-color-scheme: dark) {
            @include mixins.unfold-theme-map(dark.$map);
        }
    }
}

// High contrast preference overrides all other themes
@media (prefers-contrast: more) {
    :root,
    :root[data-theme=light],
    :root[data-theme=dark],
    :root[data-theme=sync] {
        --theme-accent-color-primary: #{variables.$color-purple};
        @include mixins.unfold-theme-map(highContrast.$map);
    }
}
