@use 'theme/maps/light' as light;
@use 'theme/maps/dark' as dark;
@use 'mixins';

$themes: (
    'light': light.$map,
    'dark': dark.$map
);

:root {
    @each $name, $map in $themes {
        $attr-selector: '&[data-theme=#{$name}]';

        #{$attr-selector} {
            @include mixins.unfold-theme-map($map);
        }
    }

    &[data-theme=sync] {
        @media (prefers-color-scheme: light) {
            @include mixins.unfold-theme-map(light.$map);
        }

        @media (prefers-color-scheme: dark) {
            @include mixins.unfold-theme-map(dark.$map);
        }
    }
}
