<div class="position-relative">
    <label [class.float]="focusing || value">{{ label }}</label>
    <input #textInput
        type="text"
        tabindex="0"
        autocomplete="off"
        [minLength]="minLength"
        [maxLength]="maxLength"
        [ngModel]="value"
        (ngModelChange)="valueChange.emit($event)"
    />
    @if (buttonClass) {
        <button
            akTooltip
            class="icon-button"
            [tooltipContent]="buttonTooltip"
            [tooltipEnabled]="buttonTooltip ? true : false"
            (click)="buttonClick.emit()"
        >
            <i [class]="buttonClass"></i>
        </button>
    }
</div>
