@use 'sass:math';

@use 'variables';

:host {
    display: flex;

    label {
        left: variables.$base-size * .65;
        position: absolute;
        top: variables.$base-size * 1.3;
        transition: ease-in font-size .1s,
                    ease-in top .1s;

        @media (prefers-reduced-motion) {
            transition: none;
        }

        &.float {
            font-size: variables.$default-font-size * .8;
            top: variables.$base-size * .5;
        }
    }

    input {
        background-color: variables.$theme-bg-color-input;
        border-color: variables.$theme-font-color-input;
        border-radius: math.div(variables.$base-size, 4);
        border-style: solid;
        border-width: math.div(variables.$base-size, 8);
        color: variables.$theme-font-color-input;
        font-family: variables.$default-font-family;
        font-size: variables.$default-font-size;
        height: variables.$base-size * 2;
        padding-bottom: math.div(variables.$base-size, 4);
        padding-left: math.div(variables.$base-size, 2);
        padding-right: math.div(variables.$base-size, 2);
        padding-top: variables.$base-size;

        &:not(:last-child) {
            padding-right: variables.$base-size * 2.5;
        }

        &:focus {
            outline-color: variables.$theme-font-color-input;
            outline-style: solid;
            outline-width: math.div(variables.$base-size, 12);
        }
    }

    button {
        position: absolute;
        right: variables.$base-size * .65;
        top: variables.$base-size * .65;
    }
}
