@use 'sass:color';

@use 'variables';
@use 'functions';

$red-on-grid: functions.adjust-to-contrast(variables.$color-red, variables.$color-sky, 3, $prefer: 'darken');

:host {
    display: block;
    height: 100%;

    h1 {
        font-family: variables.$industrial-font-family;
        font-weight: normal;

        &.victory {
            color: variables.$theme-font-color-positive-on-primary;
        }

        &.defeat {
            color: variables.$theme-font-color-negative-on-primary;
        }
    }

    // TODO - should probably componentize this
    .grid-container {
        height: 40vh;
        padding: variables.$base-size * 2;
        position: relative;
        width: 100%;

        .grid {
            aspect-ratio: 1 / 1;
            background-color: variables.$theme-bg-color-tertiary;
            border: 1px solid variables.$theme-font-color-normal;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: relative;

            #grid-col-labels {
                color: variables.$theme-font-color-normal;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                height: variables.$base-size * 2;
                position: absolute;
                top: -(variables.$base-size * 2);
                width: 100%;

                .grid-col-label {
                    align-self: center;
                    font-family: variables.$industrial-font-family;
                    font-size: variables.$default-font-size * 1.5;
                    text-align: center;
                }
            }

            #grid-row-labels {
                color: variables.$theme-font-color-normal;
                display: grid;
                grid-template-rows: repeat(10, 1fr);
                height: 100%;
                left: -(variables.$base-size * 2);
                position: absolute;
                width: variables.$base-size * 2;

                .grid-row-label {
                    align-self: center;
                    font-family: variables.$industrial-font-family;
                    font-size: variables.$default-font-size * 1.5;
                    text-align: center;
                }
            }

            .sector {
                aspect-ratio: 1 / 1;
                border: 1px solid variables.$theme-font-color-normal;
                box-sizing: border-box;
            }

            .deployed-ship {
                border: 1px solid variables.$theme-font-color-normal;
            }
        }

        #grid-overlays-container {
            box-sizing: border-box;
            height: 100%;
            left: 0;
            padding: variables.$base-size * 2;
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 100%;

            #sector-overlays {
                aspect-ratio: 1 / 1;
                border: 1px solid transparent;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);
                margin: auto;
                max-height: 100%;
                max-width: 100%;

                .sector-overlay {
                    aspect-ratio: 1 / 1;
                    border: 1px solid transparent;
                    box-sizing: border-box;

                    .fa-map-marker {
                        &.miss {
                            color: variables.$color-white;
                        }

                        &.hit {
                            color: $red-on-grid;
                        }
                    }
                }
            }
        }
    }
}
