<ul #skillCarousel
    class="skill-carousel row no-gutters justify-content-center position-relative text-center">
</ul>
<div class="carousel-controls mt-4">
    <div class="button-wrapper">
        <button type="button" class="d-flex justify-content-center align-items-center" (click)="scrollCarousel('left')">
            <i class="fas fa-2x fa-chevron-left"></i>
        </button>
    </div>
    <div class="button-wrapper">
        <button type="button" class="d-flex justify-content-center align-items-center" (click)="scrollCarousel('right')">
            <i class="fas fa-2x fa-chevron-right"></i>
        </button>
    </div>
</div>
