@import 'variables';
@import 'keyframes';

.skill-carousel {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    .skill {
        display: inline-block;

        &.move-left {
            transform: translateX(-100%);
            transition-duration: .25s;
            transition-property: transform;
            transition-timing-function: ease-in;
        }

        &.move-right {
            transform: translateX(100%);
            transition-duration: .25s;
            transition-property: transform;
            transition-timing-function: ease-in;
        }

        &.shrink {
            transform: scale(0);
            animation-name: $shrink-name;
            animation-duration: $shrink-duration;
            animation-timing-function: $shrink-timing;
            animation-fill-mode: backwards;
        }

        &.grow {
            transform: scale(1);
            animation-name: $grow-name;
            animation-duration: $grow-duration;
            animation-timing-function: $grow-timing;
            animation-fill-mode: backwards;
        }

        [class^=devicon-] {
            font-size: $base-size * 4;
        }
    }
}

.carousel-controls {
    .button-wrapper {
        display: inline-block;

        &:first-child {
            margin-right: $base-size * 2;
        }

        button {
            background: transparent;
            border: none;
            height: $base-size * 2;
            transition: ease-in color .1s;
            width: $base-size * 2;

            &:hover {
                color: $color-app-accent-2;
            }
        }
    }
}
