/* *************** REDESIGN ***************

 * TEAL     #3a735a; rgba(58, 115, 90, 100)
 * L. GRAY  #c3c3c3; rgba(195, 195, 195, 100)
 * M. GRAY  #686469; rgba(195, 195, 195, 100)
 * D. Gray  #353334; rgba(53, 51, 52, 100)
 * D. White #e3e3e3; rgba(227, 227, 227, 100)
 * RED      #d36f62; rgba(211, 111, 98, 100)
 * YELLOW   #ffc43d; rgba(255, 196, 61, 100)
 * GREEN    #5d9c49; rgba(93, 156, 73, 100)

 * *************** REDESIGN *************** */
 
body {
    background-color: #fff;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
}

.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}

#top-div {
    padding: 50px;
}

#contact-header {
    font-size: 28px;
    margin-bottom: 50px;
}

.contact-row {
    padding-bottom: 50px;
}

.contact-row-header {
    color: #3a735a;
    font-size: 20px;
    padding-bottom: 15px;
}

.contact-row-sub-header {
    color: #3a735a;
    font-size: 16px;
}

.contact-row-content {
    padding-bottom: 20px;
}

.contact-row-content-text {
    padding-left: 20px;
}

.contact-icon {
    color: #686469;
    cursor: pointer;
    margin-left: 20px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.contact-icon:visited {
    color: #686469;
}

.contact-icon:hover {
    color: #3a735a;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.contact-icon:active {
    color: #686469;
}

textarea {
    height: 150px;
}

#submit-btn {
    background-color: transparent;
    border: 3px solid #3a735a;
    color: #3a735a;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 25px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#submit-btn:after {
    background-color: #3a735a;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#submit-btn:hover, #submit-btn:active {
    color: #fff;
}

#submit-btn:hover:after, #submit-btn:active:after {
    width: 100%;
}



/*****EXPERIMENTAL*****/
/*.submit-btn-hidden {
    color: green;
    position: absolute;
    padding-top: 3px;
    padding-left: 17px;
    z-index: -1;
}

.submit-btn {
    background-color: #e3e3e3;
    color: green;
    padding: 10px;
    position: absolute;
}

.submit-btn:visited {
    color: green;
}

.submit-btn:hover {
    color: green;
    -webkit-animation: moveRight 0.5s forwards;
    -moz-animation: moveRight 0.5s forwards;
    animation: moveRight 0.5s forwards;
}

.submit-btn:active {
    color: green;
}

@-webkit-keyframes moveRight {
    0% {background-color: transparent; 1; -webkit-transform: translateX(0px);}
    100% {background-color: transparent; opacity: 0; -webkit-transform: translateX(40px);}
}

@-moz-keyframes moveRight {
    0% {background-color: transparent; opacity: 1; -moz-transform: translateX(0px);}
    100% {background-color: transparent; opacity: 0; -moz-transform: translateX(40px);}
}

@keyframes moveRight {
    0% {background-color: transparent; opacity: 1; transform: translateX(0px);}
    100% {background-color: transparent; opacity: 0; transform: translateX(40px);}
}*/
