@use 'sass:math';

@use 'variables';

.help-group {
    background-color: variables.$theme-bg-color-secondary;
    border-radius: math.div(variables.$base-size, 4);
    padding: math.div(variables.$base-size, 2);

    &:not(:first-child) {
        margin-top: variables.$base-size;
    }

    h5 {
        font-weight: normal;
    }

    table {
        text-align: left;
        border-spacing: variables.$base-size math.div(variables.$base-size, 2);

        th, td {
            vertical-align: top;
        }

        .action-subtext {
            color: variables.$theme-font-color-negative-on-secondary;
            font-size: variables.$default-font-size * .8;

            kbd {
                font-size: variables.$default-font-size * .6;
            }
        }
    }
}
