<div class="row g-0 mb-3 align-items-center">
    <div class="col">
        <i class="fa-2x project-icon" [ngClass]="icon()"></i>
    </div>
    @if (hasLinks()) {
        <div class="col-auto project-links">
            @if (gitHubLink()) {
                <a target="_blank" [href]="gitHubLink()">
                    <i class="fab fa-github"></i>
                </a>
            }
            @if (externalLink()) {
                <a target="_blank" [routerLink]="externalLink()">
                    <i class="fas fa-external-link-alt"></i>
                </a>
            }
        </div>
    }
</div>
<div class="row g-0 mb-3">
    <div class="col">
        <h4>{{ name() }}</h4>
    </div>
</div>
<ng-content></ng-content>
