@use 'sass:math';

@use 'variables';

:host {
    background-color: variables.$theme-content-background;
    border-radius: math.div(variables.$base-size, 4);
    display: block;
    flex-grow: 1;
    padding: variables.$base-size * 2;

    .project-icon {
        color: variables.$color-sky;
    }

    .project-links {
        a:not(:first-child) {
            margin-left: variables.$base-size;
        }

        i {
            @media (min-width: 0px) {
                font-size: variables.$default-font-size * 1.5;
            }
    
            @media (min-width: variables.$breakpoint-tablet) {
                font-size: variables.$default-font-size * 1.35;
            }
    
            @media (min-width: variables.$breakpoint-desktop) {
                font-size: variables.$default-font-size * 1.25;
            }
        }
    }
}
