
<main class="h-100 pt-0">
    <div class="row g-0 align-items-center justify-content-center h-100">
        <div id="oops" class="col-auto text-center">
            <h1 class="mb-5">
                404
            </h1>
            <p class="mb-5">
                Oops, looks like that page doesn't exist...
                <br>
                Let's get you back to solid ground.
                <br>
            </p>
            <a class="me-3" [routerLink]="''">Home</a>
        </div>
    </div>
</main>
