@use 'variables';

:host {
    background-color: variables.$theme-bg-color-primary;
    display: block;
    height: 100%;

    #oops {
        background-color: variables.$theme-bg-color-secondary;
        border-radius: variables.$base-size;
        padding: variables.$base-size * 5;

        h1 {
            color: variables.$theme-font-color-negative-on-secondary;
        }
    }
}
