@use 'variables';

:host {
    background-color: variables.$theme-content-background;
    display: block;
    height: 100%;

    #oops {
        background-color: variables.$color-gray-100;
        border-radius: variables.$base-size;
        padding: variables.$base-size * 5;
    }
}
