<section [id]="navigationId">
    <div class="content position-relative p-0">
        <div class="row no-gutters align-items-center px-5 px-lg-0">
            <div class="col-auto offset-lg-2">
                <h1>
                    <span>Hi,</span>
                    <br>
                    <span>I'm</span>&nbsp;<span>Austin</span>
                </h1>
            </div>
        </div>
        <div akTooltip
            id="scroll-down"
            class="position-absolute"
            [tooltipContent]="'Keep scrolling!'">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </div>
    </div>
</section>
