@import 'variables';
@import 'keyframes';

section {
    animation: $bg-gradient-name $bg-gradient-duration $bg-gradient-timing;
    animation-fill-mode: forwards;
    background: $color-app-gradient;
    background-size: 200% 200%;
    min-height: 100vh;

    .content {
        min-height: 100vh;

        .row {
            min-height: 100vh;

            h1 {
                #hi {
                    animation: $opacity-name $opacity-duration $opacity-timing;
                    animation-delay: .75s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }

                #im {
                    animation: $opacity-name $opacity-duration $opacity-timing;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }

                #austin {
                    animation: $opacity-name $opacity-duration $opacity-timing;
                    animation-delay: 1.75s;
                    animation-fill-mode: forwards;
                    color: $color-white;
                    opacity: 0;
                }
            }
        }

        #scroll-down {
            animation: $opacity-name $opacity-duration $opacity-timing;
            animation-delay: 2s;
            animation-fill-mode: forwards;
            bottom: 0%;
            color: $color-white;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            user-select: none;

            i {
                animation: $bounce-name $bounce-duration $bounce-timing;
                animation-iteration-count: infinite;
            }
        }
    }
}
