<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row no-gutters px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div id="timeline" class="row no-gutters align-items-center mb-3 px-5 px-lg-0">
            <ng-container *ngFor="let year of timelineYears">
                <div class="timeline-year-line"
                    [ngStyle]="{'left': (timelineStart | timeline:year) + 'px'}">
                </div>
                <h3 class="timeline-year-text"
                    [ngStyle]="{'left': (timelineStart | timeline:year) + 16 + 'px'}">
                    {{ year | date:'y' }}
                </h3>
            </ng-container>
            <i *ngFor="let event of timelineEvents"
                tabindex="0"
                class="timeline-event dark-focus fas fa-circle"
                [ngStyle]="{'left': (timelineStart | timeline:event.startDate) + 'px'}"
                (click)="selectEvent(event)">
            </i>
        </div>
        <div id="timeline-event-description" class="row no-gutters justify-content-center py-5 px-5 px-lg-0">
            <div id="selected-event-arrow"
                [ngStyle]="{'left': (timelineStart | timeline:selectedEvent.startDate) + 'px'}">
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <h3>{{ selectedEvent.name }}</h3>
                <em>
                    {{ selectedEvent.startDate | date:'MMM y' }}
                    <ng-container *ngIf="selectedEvent.endDate">
                        {{ ' - ' + (selectedEvent.endDate | date:'MMM y') }}
                    </ng-container>
                </em>
            </div>
            <div class="col-12 col-lg-4">
                <p [innerHtml]="selectedEvent.description"></p>
            </div>
        </div>
    </div>
</section>
