@use 'sass:math';

@use 'variables';
@use 'keyframes';
@use 'mixins';

$sudoku-header-height: variables.$base-size * 6;
$sudoku-border-width: math.div(variables.$base-size, 5);

$sudoku-color-active: var(--theme-background-color-sudoku-active);
$sudoku-color-extra-highlight: var(--theme-background-color-sudoku-extra-highlight);

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    #building {
        background-color: variables.$theme-bg-color-secondary;
        top: 0;
        z-index: variables.$z-index-bump;
    }

    #sudoku-header {
        button {
            &:not(:first-child) {
                margin-left: variables.$base-size;
            }
        }

        #sudoku-state {
            button:disabled {
                opacity: 1;
            }

            #sudoku-time {
                font-family: monospace;
            }

            .fa-skull {
                color: variables.$theme-icon-color-negative-on-primary;
            }
        }

        #sudoku-actions {
            #game-data {
                border-top: 1px solid variables.$theme-font-color-normal;
                font-size: variables.$default-font-size * .75;
            }
        }
    }

    #sudoku-content {
        flex: 1;

        #sudoku-board-container {
            display: flex;
            flex-direction: column;
            max-height: 100%;
            max-width: 100%;

            #sudoku-board {
                aspect-ratio: 1/1;
                border-style: solid;
                border-width: $sudoku-border-width;
                display: flex;
                flex: 1;
                flex-direction: column;
                max-height: 100%;
                max-width: 100%;
                position: relative;

                > .row {
                    flex: 1;
                    max-height: calc(100% / 9);

                    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                        border-top: $sudoku-border-width solid;
                    }

                    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                        border-bottom: $sudoku-border-width solid;
                    }
                }

                .sudoku-cell {
                    border-style: solid;
                    border-width: math.div($sudoku-border-width, 2);
                    display: flex;
                    flex-direction: column;
                    font-family: monospace;

                    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                        border-left: $sudoku-border-width solid;
                    }

                    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                        border-right: $sudoku-border-width solid;
                    }

                    &:focus, &:focus-visible {
                        border-radius: 0px;
                        outline: none;
                    }

                    &:hover:not(.given):not(.active) {
                        background-color: variables.$theme-bg-color-secondary;
                    }

                    &.given {
                        background-color: variables.$theme-bg-color-tertiary;
                    }

                    &.active {
                        background-color: $sudoku-color-active;
                    }

                    &:not(.active).extra-highlight {
                        background-color: $sudoku-color-extra-highlight;
                    }

                    &.conflicted::after {
                        border-radius: variables.$base-size;
                        color: variables.$theme-font-color-negative-on-primary;
                        content: '\f06a'; // exclamation-circle
                        font-family: variables.$font-awesome-font-family;
                        font-size: variables.$base-size;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 900;
                        margin-left: auto;
                        padding: math.div(variables.$base-size, 4);
                        text-rendering: auto;
                    }

                    .normal {
                        font-weight: bold;

                        &.revealed {
                            color: variables.$theme-font-color-neutral-on-primary;
                        }

                        &.valid {
                            color: variables.$theme-font-color-positive-on-primary;
                        }
        
                        &.invalid {
                            color: variables.$theme-font-color-negative-on-primary;
                        }
                    }

                    .candidate-row {
                        flex: 1 1;
                    }
                }

                #sudoku-pause-overlay {
                    backdrop-filter: blur(math.div(variables.$base-size, 2));
                    background-color: rgba($color: variables.$color-gray-500, $alpha: .5);
                    position: absolute;

                    > div {
                        background-color: variables.$color-sudoku;
                        border-radius: math.div(variables.$base-size, 4);
                        color: variables.$color-white;
                        font-weight: bold;
                    }
                }
            }
        }

        #sudoku-input-container {
            max-height: 50%;

            .sudoku-input {
                border: math.div($sudoku-border-width, 2) solid;
                border-radius: math.div(variables.$base-size, 4);
                font-family: monospace;
                font-weight: bold;
                height: 100%;
                width: 100%;

                &:disabled {
                    opacity: .5;
                    pointer-events: none;
                }
    
                &:not(:disabled):hover {
                    background-color: variables.$theme-bg-color-secondary;
                    cursor: pointer;
                }

                i {
                    // Helps prevent tooltip wonkiness
                    pointer-events: none;
                }
            }

            @include mixins.for-xs-screens {
                .sudoku-input-col {
                    flex: 0 0 auto;
                    width: 20%;
                }
            }

            @include mixins.for-lg-screens {
                .sudoku-input-col-4 {
                    flex: 0 0 auto;
                    width: 33.33333333%;
                }

                .sudoku-input-col-12 {
                    flex: 0 0 auto;
                    width: 100%;
                }
            }
        }
    }
}

@include mixins.for-xs-screens {
    #sudoku-header {
        height: $sudoku-header-height * .5;
    }

    #sudoku-content {
        max-height: calc(100% - $sudoku-header-height * .5);
    }

    .sudoku-cell {
        .normal {
            font-size: 8vmin;
            line-height: 8vmin;
        }

        .candidate {
            font-size: 2.5vmin;
            line-height: 2.5vmin;
        }
    }

    .sudoku-input {
        font-size: 6vmin;
        line-height: 6vmin;
    }
}

@include mixins.for-md-screens {
    #sudoku-header {
        height: $sudoku-header-height * .75;
    }

    #sudoku-content {
        max-height: calc(100% - $sudoku-header-height * .75);
    }

    .sudoku-cell {
        .normal {
            font-size: 7vmin;
            line-height: 7vmin;
        }

        .candidate {
            font-size: 2vmin;
            line-height: 2vmin;
        }
    }

    .sudoku-input {
        font-size: 5vmin;
        line-height: 5vmin;
    }
}

@include mixins.for-lg-screens {
    #sudoku-header {
        height: $sudoku-header-height;
    }

    #sudoku-content {
        max-height: calc(100% - $sudoku-header-height);
    }

    .sudoku-cell {
        .normal {
            font-size: 6vmin;
            line-height: 6vmin;
        }

        .candidate {
            font-size: 2vmin;
            line-height: 2vmin;
        }
    }

    .sudoku-input {
        font-size: 4vmin;
        line-height: 4vmin;
    }
}
