<div id="building" class="d-flex align-items-center justify-content-center h-100 w-100 position-absolute" [ngClass]="{ 'd-none': (building$ | async) === false }">
    <i class="fas fa-2x fa-circle-notch fa-spin"></i><span class="ms-2">Building puzzle...</span>
</div>

<div id="sudoku-header" class="row g-0 px-2 px-lg-4 align-items-center">
    <div id="sudoku-nav" class="col-auto col-lg-4 d-flex">
        <button akTooltip
            class="icon-button"
            [tooltipContent]="'Back'"
            (click)="back()">
            <i class="fas fa-2x fa-angle-left"></i>
        </button>
    </div>

    <div id="sudoku-state" class="col col-lg-4 text-center">
        <ng-container *ngIf="gameManager.gameSettings.showTimer">
            <button tabindex="0"
                class="icon-button"
                [disabled]="board.state === GameState.solved"
                (click)="board.state === GameState.paused ? resumeTimer(true) : (board.state === GameState.running ? pauseTimer(true) : null)">
                <i class="fas"
                    [ngClass]="{
                        'fa-play': board.state === GameState.paused,
                        'fa-pause': board.state === GameState.running,
                        'fa-flag-checkered': board.state === GameState.solved
                    }">
                </i>
            </button>
            <span id="sudoku-time" class="ms-3">{{ gameManager.gameInstance.time$ | async }}</span>
        </ng-container>
        <span id="sudoku-difficulty" class="ms-3">{{ gameManager.gameInstance.difficulty | sudokuDifficulty }}</span>
        <i *ngIf="gameManager.gameInstance.hardcore"
            akTooltip
            class="fas fa-skull ms-3"
            [tooltipContent]="'Hardcore mode enabled!'">
        </i>
    </div>

    <div id="sudoku-actions" class="col-auto col-lg-4 d-flex justify-content-end">
        <button akTooltip
            class="icon-button d-none d-md-block"
            [tooltipContent]="'Help'"
            (click)="showHelpDialog()">
            <i class="fas fa-question-circle fa-2x"></i>
        </button>
        <button akTooltip
            class="icon-button d-none d-md-block"
            [tooltipContent]="'Settings'"
            (click)="showSettingsDialog()">
            <i class="fas fa-cog fa-2x"></i>
        </button>
        <button akMenu
            class="icon-button"
            [menuPosition]="MenuPosition.bottomLeft">
            <i class="fas fa-ellipsis-h fa-2x"></i>
            <ng-template #menuContent>
                <div akMenuContent>
                    <div *ngIf="!gameManager.gameInstance.hardcore" akMenuItem (menuItemClick)="checkCell()">Check cell</div>
                    <div *ngIf="!gameManager.gameInstance.hardcore" akMenuItem (menuItemClick)="checkAll()">Check all</div>
                    <div *ngIf="!gameManager.gameInstance.hardcore" akMenuItem (menuItemClick)="revealCell()">Reveal cell</div>
                    <div *ngIf="!gameManager.gameInstance.hardcore" akMenuItem (menuItemClick)="revealAll()">Reveal all</div>
                    <div akMenuItem (menuItemClick)="reset()">Reset</div>
                    <div akMenuItem (menuItemClick)="share()">Share</div>
                    <div class="d-block d-md-none" akMenuItem (menuItemClick)="showSettingsDialog()">Settings</div>
                    <div class="d-block d-md-none" akMenuItem (menuItemClick)="showHelpDialog()">Help</div>
                    <div id="game-data" class="p-3">
                        <label class="me-2">Seed:</label>
                        <span class="font-family-monospace">{{ gameManager.gameInstance.seed }}</span>
                    </div>
                </div>
            </ng-template>
        </button>
    </div>
</div>

<div #sudokuContent id="sudoku-content" class="row g-0 flex-column flex-lg-row">
    <div #sudokuBoardContainer id="sudoku-board-container" class="col col-lg-9 col-xl-8 align-items-center align-items-lg-end p-2 p-lg-3">
        <div #sudokuBoard id="sudoku-board">
            <div *ngFor="let row of board.cells; let rowIndex = index;" class="row g-0">
                <div *ngFor="let cell of row; let colIndex = index;"
                    #sudokuCell
                    tabindex="0"
                    class="sudoku-cell col align-items-center justify-content-center"
                    [id]="'cell-' + rowIndex + '-' + colIndex"
                    [ngClass]="{
                        'given': cell.given,
                        'active': cell.active,
                        'extra-highlight': !this.gameManager.gameInstance.hardcore && this.gameManager.gameSettings.extraHighlights && (rowIndex === activeCellRow || colIndex === activeCellCol),
                        'conflicted': !this.gameManager.gameInstance.hardcore && this.gameManager.gameSettings.showConflicts && cell.numConflicts > 0
                    }"
                    (click)="focusCell(rowIndex, colIndex)"
                    (keydown)="cellKeydown(rowIndex, colIndex, $event)">
                    <span class="normal position-absolute" [ngClass]="{ 'revealed': cell.revealed === true, 'valid': cell.valid === true, 'invalid': cell.valid === false }">
                        {{ cell.value }}
                    </span>
                    <div class="candidate-row row g-0 align-items-center text-center w-100">
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.one" class="candidate candidate-1">1</span>
                        </div>
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.two" class="candidate candidate-2">2</span>
                        </div>
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.three" class="candidate candidate-3">3</span>
                        </div>
                    </div>
                    <div class="candidate-row row g-0 align-items-center text-center w-100">
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.four" class="candidate candidate-4">4</span>
                        </div>
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.five" class="candidate candidate-5">5</span>
                        </div>
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.six" class="candidate candidate-6">6</span>
                        </div>
                    </div>
                    <div class="candidate-row row g-0 align-items-center text-center w-100">
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.seven" class="candidate candidate-7">7</span>
                        </div>
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.eight" class="candidate candidate-8">8</span>
                        </div>
                        <div class="col-4 d-flex h-100 align-items-center justify-content-center">
                            <span *ngIf="cell.candidates | hasFlag: SudokuCandidate.nine" class="candidate candidate-9">9</span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="board.state === GameState.paused" id="sudoku-pause-overlay" class="d-flex h-100 w-100 align-items-center justify-content-center">
                <div class="p-3">
                    <span>Game paused</span>
                </div>
            </div>
        </div>
    </div>

    <div #sudokuInputContainer id="sudoku-input-container" class="col-auto col-lg-3 col-xl-2 row g-0 p-2 p-lg-3">
        <div *ngFor="let value of possibleValues" class="sudoku-input-col sudoku-input-col-4 p-2">
            <button #sudokuInput
                class="sudoku-input"
                (click)="inputClick(value)">
                {{ value }}
            </button>
        </div>
        <div class="sudoku-input-col sudoku-input-col-12 p-2">
            <button #sudokuInput
                akTooltip
                class="sudoku-input"
                [tooltipContent]="'Delete'"
                [tooltipPosition]="TooltipPosition.bottom"
                (click)="inputClick(null)">
                <i class="fas fa-backspace"></i>
            </button>
        </div>
        <ak-toggle
            class="p-2"
            [label]="'Pencil in'"
            [(value)]="pencilIn"
            (valueChange)="pencilIn = $event"
        ></ak-toggle>
    </div>
</div>
