@import 'variables';

:host {
    &[skill-type=front] {
        color: $color-green;
    }

    &[skill-type=back] {
        color: $color-red;
    }

    &[skill-type=data] {
        color: $color-sky;
    }

    &[skill-type=tool] {
        color: $color-orange;
    }

    .skill-icon {
        transition: ease-in transform .1s;

        &:hover {
            transform: scale(110%);
        }

        @media (min-width: 0px) {
            font-size: $default-font-size * 3;
        }

        @media (min-width: $breakpoint-tablet) {
            font-size: $default-font-size * 4.5;
        }

        @media (min-width: $breakpoint-desktop) {
            font-size: $default-font-size * 6;
        }
    }
}
