@use 'variables';

:host {
    &[skill-type=front] {
        color: variables.$color-green;
    }

    &[skill-type=back] {
        color: variables.$color-red;
    }

    &[skill-type=data] {
        color: variables.$color-sky;
    }

    &[skill-type=tool] {
        color: variables.$color-orange;
    }

    .skill-icon {
        display: inline-block;
        transition: ease-in transform .1s;

        &:hover {
            transform: scale(110%);
        }

        @media (min-width: 0px) {
            font-size: variables.$default-font-size * 3;
        }

        @media (min-width: variables.$breakpoint-tablet) {
            font-size: variables.$default-font-size * 4.5;
        }

        @media (min-width: variables.$breakpoint-desktop) {
            font-size: variables.$default-font-size * 6;
        }
    }
}
