@use 'sass:math';

@use 'variables';
@use 'mixins';

:host {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    .skill-icon {
        color: variables.$color-sky;
        display: inline-block;
        font-size: variables.$default-font-size * 3;
        transition: ease-in transform .1s;

        &:hover {
            transform: scale(110%);
        }

        @include mixins.for-md-screens {
            font-size: variables.$default-font-size * 4.5;
        }

        @include mixins.for-lg-screens {
            font-size: variables.$default-font-size * 6;
        }
    }
}
