@use 'variables';
@use 'keyframes';
@use 'mixins';

section {
    background: repeating-linear-gradient(0deg, variables.$theme-primary-background 0, variables.$theme-primary-background 20%, transparent 0, transparent 50%),
                repeating-linear-gradient(45deg, variables.$theme-content-background 0, variables.$theme-content-background 10%, transparent 0, transparent 50%);
    background-color: variables.$theme-primary-background;
    background-size: variables.$base-size * 2 variables.$base-size * 2;
    border-bottom: 1px solid variables.$theme-font-color;
    min-height: 100vh;

    .content {
        min-height: 100vh;

        .row {
            min-height: 100vh;

            h1 {
                #hi {
                    animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                    animation-delay: .75s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }

                #im {
                    animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }

                #austin {
                    animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                    animation-delay: 1.75s;
                    animation-fill-mode: forwards;
                    color: variables.$color-sky;
                    font-family: variables.$handwriting-font-family;
                    margin-left: variables.$base-size * 2;
                    opacity: 0;
                    text-transform: none;
                }
            }

            img {
                animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                border-radius: variables.$base-size;
                box-shadow: variables.$hard-box-shadow;
                height: 30vh;
                opacity: 0;

                @include mixins.for-md-screens {
                    height: 40vh;
                }
                @include mixins.for-lg-screens {
                    height: 50vh;
                }
            }
        }

        #scroll-down {
            animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
            animation-delay: 2.25s;
            animation-fill-mode: forwards;
            bottom: 0%;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            user-select: none;

            i {
                animation: keyframes.$bounce-name keyframes.$bounce-duration keyframes.$bounce-timing;
                animation-iteration-count: infinite;
            }
        }
    }
}
