<section [id]="navigationId">
    <div class="content position-relative p-0">
        <div class="row g-0 px-5 px-xl-0 flex-column flex-xl-row align-items-center justify-content-evenly">
            <div class="col-auto">
                <h1>
                    <span id="hi">Hi,</span>
                    <br>
                    <span id="im">I'm</span><span id="austin">Austin</span>
                </h1>
            </div>
            <div id="img-container" class="col-12 col-xl-auto position-relative">
                <img ngSrc="/assets/images/me.jpg" fill="true" alt="Uh oh, something is wrong here... just imagine me standing in front of a cool, glacial lake in Canada!">
            </div>
        </div>
        <div akTooltip
            id="scroll-down"
            class="position-absolute"
            [tooltipContent]="'There\'s more!'">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </div>
    </div>
</section>
