@use 'variables';
@use 'keyframes';
@use 'mixins';

section {
    background: repeating-linear-gradient(0deg, variables.$theme-bg-color-primary 0, variables.$theme-bg-color-primary 20%, transparent 0, transparent 50%),
                repeating-linear-gradient(45deg, variables.$theme-bg-color-secondary 0, variables.$theme-bg-color-secondary 10%, transparent 0, transparent 50%);
    background-color: variables.$theme-bg-color-primary;
    background-size: variables.$base-size * 2 variables.$base-size * 2;
    border-bottom: 1px solid variables.$theme-font-color-primary;
    min-height: 100vh;

    .content {
        min-height: 100vh;

        .row {
            min-height: 100vh;

            h1 {
                #hi {
                    animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                    animation-delay: .75s;
                    animation-fill-mode: forwards;
                    opacity: 0;

                    @media (prefers-reduced-motion) {
                        animation-delay: 0s;
                    }
                }

                #im {
                    animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                    opacity: 0;

                    @media (prefers-reduced-motion) {
                        animation-delay: 0s;
                    }
                }

                #austin {
                    animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                    animation-delay: 1.75s;
                    animation-fill-mode: forwards;
                    color: variables.$theme-accent-color-primary;
                    font-family: variables.$handwriting-font-family;
                    margin-left: variables.$base-size * 2;
                    opacity: 0;
                    text-transform: none;

                    @media (prefers-reduced-motion) {
                        animation-delay: 0s;
                    }
                }
            }

            img {
                animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                border-radius: variables.$base-size;
                box-shadow: variables.$theme-box-shadow-hard;
                height: 30vh;
                opacity: 0;

                @media (prefers-reduced-motion) {
                    animation-delay: 0s;
                }

                @include mixins.for-md-screens {
                    height: 40vh;
                }
                @include mixins.for-lg-screens {
                    height: 50vh;
                }
            }
        }

        #scroll-down {
            animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
            animation-delay: 2.25s;
            animation-fill-mode: forwards;
            bottom: 0%;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            user-select: none;

            @media (prefers-reduced-motion) {
                animation-delay: 0s;
            }

            i {
                animation-duration: keyframes.$bounce-duration;
                animation-name: keyframes.$bounce-name;
                animation-iteration-count: infinite;
                animation-timing-function: keyframes.$bounce-timing;

                @media (prefers-reduced-motion) {
                    animation-duration: 0s;
                }
            }
        }
    }
}
