@import 'variables';
@import 'keyframes';

section {
    background: repeating-linear-gradient(0deg, $theme-primary-background 0, $theme-primary-background 20%, transparent 0, transparent 50%),
                repeating-linear-gradient(45deg, $theme-content-background 0, $theme-content-background 10%, transparent 0, transparent 50%);
    background-size: $base-size * 2 $base-size * 2;
    background-color: $theme-primary-background;
    border-bottom: 1px solid $theme-font-color;
    min-height: 100vh;

    .content {
        min-height: 100vh;

        .row {
            min-height: 100vh;

            h1 {
                #hi {
                    animation: $opacity-name $opacity-duration $opacity-timing;
                    animation-delay: .75s;
                    animation-fill-mode: forwards;
                    color: $theme-font-color;
                    opacity: 0;
                }

                #im {
                    animation: $opacity-name $opacity-duration $opacity-timing;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                    color: $theme-font-color;
                    opacity: 0;
                }

                #austin {
                    animation: $opacity-name $opacity-duration $opacity-timing;
                    animation-delay: 1.75s;
                    animation-fill-mode: forwards;
                    color: $color-green;
                    opacity: 0;
                }
            }

            img {
                animation: $opacity-name $opacity-duration $opacity-timing;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                border-radius: $base-size;
                box-shadow: $hard-box-shadow;
                height: 50vh;
                opacity: 0;
            }
        }

        #scroll-down {
            animation: $opacity-name $opacity-duration $opacity-timing;
            animation-delay: 2.25s;
            animation-fill-mode: forwards;
            bottom: 0%;
            color: $theme-font-color;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            user-select: none;

            i {
                animation: $bounce-name $bounce-duration $bounce-timing;
                animation-iteration-count: infinite;
            }
        }
    }
}
