<section [id]="navigationId">
    <div class="content position-relative p-0">
        <div class="row g-0 align-items-center px-5 px-lg-0 pt-5 pt-md-0">
            <div class="col-auto offset-lg-2">
                <h1>
                    <span id="hi">Hi,</span>
                    <br>
                    <span id="im">I'm</span>&nbsp;<span id="austin">Austin</span>
                </h1>
            </div>
            <div class="col d-flex justify-content-center">
                <img src="/assets/images/me.jpeg">
            </div>
        </div>
        <div akTooltip
            id="scroll-down"
            class="position-absolute"
            [tooltipContent]="'Keep scrolling!'">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </div>
    </div>
</section>
