<div class="container-fluid px-0">
    <div class="dialog-header row g-0 align-items-center">
        <h3 class="text-center">{{ title }}</h3>
    </div>

    <div class="dialog-body row g-0 align-items-center">{{ message }}</div>

    <div class="dialog-actions row g-0 align-items-center justify-content-end">
        <div class="col-auto me-3">
            <button class="confirm-button" (click)="confirm()">{{ confirmText }}</button>
        </div>
        <div class="col-auto">
            <button class="cancel-button" (click)="cancel()">{{ cancelText }}</button>
        </div>
    </div>
</div>
