@use 'sass:math';

@use 'variables';
@use 'mixins';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h2 {
        font-family: variables.$industrial-font-family;
        font-weight: 400;
    }

    #back-btn {
        margin-left: math.div(variables.$base-size, 2) * -1;
    }

    #difficulties {
        max-height: 50vh;

        .difficulty {
            $border-width: math.div(variables.$base-size, 4);

            height: auto;
            margin: $border-width;
            position: relative;

            @include mixins.for-lg-screens {
                height: 40vh;
            }
            
            &::after {
                background:
                    // Left borders
                    linear-gradient(to right, variables.$theme-font-color-normal $border-width, transparent $border-width) 0 0,
                    linear-gradient(to right, variables.$theme-font-color-normal $border-width, transparent $border-width) 0 100%,
                    // Right borders
                    linear-gradient(to left, variables.$theme-font-color-normal $border-width, transparent $border-width) 100% 0,
                    linear-gradient(to left, variables.$theme-font-color-normal $border-width, transparent $border-width) 100% 100%,
                    // Top borders
                    linear-gradient(to bottom, variables.$theme-font-color-normal $border-width, transparent $border-width) 0 0,
                    linear-gradient(to bottom, variables.$theme-font-color-normal $border-width, transparent $border-width) 100% 0,
                    // Bottom borders
                    linear-gradient(to top, variables.$theme-font-color-normal $border-width, transparent $border-width) 0 100%,
                    linear-gradient(to top, variables.$theme-font-color-normal $border-width, transparent $border-width) 100% 100%;
                background-repeat: no-repeat;
                // How large the "square" at each corner border is
                background-size: variables.$base-size * 2 variables.$base-size * 2;
                bottom: -$border-width;
                content: '';
                left: -$border-width;
                position: absolute;
                right: -$border-width;
                top: -$border-width;
                z-index: -1;
            }

            &:hover {
                &::after {
                    background:
                        // Left borders
                        linear-gradient(to right, variables.$theme-accent-color-primary $border-width, transparent $border-width) 0 0,
                        linear-gradient(to right, variables.$theme-accent-color-primary $border-width, transparent $border-width) 0 100%,
                        // Right borders
                        linear-gradient(to left, variables.$theme-accent-color-primary $border-width, transparent $border-width) 100% 0,
                        linear-gradient(to left, variables.$theme-accent-color-primary $border-width, transparent $border-width) 100% 100%,
                        // Top borders
                        linear-gradient(to bottom, variables.$theme-accent-color-primary $border-width, transparent $border-width) 0 0,
                        linear-gradient(to bottom, variables.$theme-accent-color-primary $border-width, transparent $border-width) 100% 0,
                        // Bottom borders
                        linear-gradient(to top, variables.$theme-accent-color-primary $border-width, transparent $border-width) 0 100%,
                        linear-gradient(to top, variables.$theme-accent-color-primary $border-width, transparent $border-width) 100% 100%;
                    background-color: variables.$theme-bg-color-secondary;
                    background-repeat: no-repeat;
                    // How large the "square" at each corner border is
                    background-size: variables.$base-size * 2 variables.$base-size * 2;
                }
            }

            &.selected {
                background: unset;
                background-color: variables.$theme-bg-color-secondary;
                border: $border-width solid variables.$theme-accent-color-primary;
                margin: 0;

                i {
                    color: variables.$theme-accent-color-primary;
                }
            }

            input[type=radio] {
                display: block;
                height: 0;
                margin: 0;
                visibility: hidden;
                width: 0;
            }

            label {
                cursor: pointer;
            }
        }
    }

    #actions {
        border-bottom: math.div(variables.$base-size, 8) solid variables.$color-warships-radar-green;
        border-top: math.div(variables.$base-size, 8) solid variables.$color-warships-radar-green;
    }
}
