<section class="row no-gutters py-5 text-center">
    <div class="col-md-4 align-self-center">
        <h1 class="pt-3" [ngClass]="educationColor">I got learned.</h1>
        <h6 class="pb-3 font-weight-bold">(Education)</h6>
    </div>
    <div class="col-md-8">
        <h3>University of Kansas</h3>
        <div class="row">
            <div class="col-6 col-md-4">
                <i class="fas fa-3x fa-calendar m-3" [ngClass]="educationColor"></i>
                <br>
                <span>Graduated May 2017</span>
            </div>
            <div class="col-6 col-md-4">
                <i class="fas fa-3x fa-graduation-cap m-3" [ngClass]="educationColor"></i>
                <br>
                <span>B.S. Computer Science</span>
                <br>
                <span>Business Minor</span>
            </div>
            <div class="col-12 col-md-4">
                <i class="fas fa-3x fa-map-marker-alt m-3" [ngClass]="educationColor"></i>
                <br>
                <span>Lawrence, KS</span>
            </div>
        </div>
    </div>
</section>
<section class="row no-gutters text-center" [ngClass]="experienceColorBg">
    <div class="col-md-4 align-self-center d-md-none">
        <h1 class="pt-3">Nine to fives.</h1>
        <h6 class="pb-3 font-weight-bold">(Experience)</h6>
    </div>
    <div class="col-md-8 p-5 border-dashed bg-white">
        <div class="row">
            <div class="col-md-6">
                <h3>AllofE Solutions</h3>
                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-2x fa-calendar m-3" [ngClass]="experienceColor"></i>
                        <br>
                        <span>Feb 2014 - Mar 2017</span>
                    </div>
                    <div class="col-6">
                        <i class="fas fa-2x fa-map-marker-alt m-3" [ngClass]="experienceColor"></i>
                        <br>
                        <span>Lawrence, KS</span>
                    </div>
                </div>
                <p class="mt-4 text-left">
                    As a <mark [ngClass]="experienceColor">web developer intern</mark> at AllofE Solutions, I got my first taste of responsibilities such as contributing to the design of new interfaces, updating legacy code and managing diverse databases. The projects I was involved in at AllofE introduced me to modern web technologies and allowed me to build a <mark [ngClass]="experienceColor">solid foundation</mark> of web development skills.
                    <br><br>
                    It was a privilage to work with AllofE's team of talented developers on a wide array of products. My time there provided <mark [ngClass]="experienceColor">invaluable experience</mark> for academic work and shaped into a solid platform from which to launch my professional career.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Lockpath</h3>
                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-2x fa-calendar m-3" [ngClass]="experienceColor"></i>
                        <br>
                        <span>June 2017 - Present</span>
                    </div>
                    <div class="col-6">
                        <i class="fas fa-2x fa-map-marker-alt m-3" [ngClass]="experienceColor"></i>
                        <br>
                        <span>Overland Park, KS</span>
                    </div>
                </div>
                <p class="mt-4 text-left">
                    I currently work at Lockpath as a full-stack <mark [ngClass]="experienceColor">software engineer</mark>. On day one, I joined the back-end team and developed a good understanding of the business logic behind their flagship product, Keylight. After several months, I switched to focus on front-end work and assist with a crucial UI/UX overhaul for Keylight involving converting the app to Angular.
                    <br><br>
                    Since then, I have been able to flex my skills on both sides of Keylight. I continue to be involved in the overall Angular conversion while also building and refining associated REST API endpoints. These projects continue to teach me about advanced <mark [ngClass]="experienceColor">software architecture</mark> principles, modern <mark [ngClass]="experienceColor">coding standards</mark> and timeline management.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-center d-none d-md-block">
        <h1 class="pt-3">Nine to fives.</h1>
        <h6 class="pb-3 font-weight-bold">(Experience)</h6>
    </div>
</section>
<section class="row no-gutters py-5 text-center">
    <div class="col-md-4 align-self-center">
        <h1 class="pt-3" [ngClass]="skillsColor">Party tricks.</h1>
        <h6 class="pb-3 font-weight-bold">(Skills)</h6>
    </div>
    <div class="col-md-8">
        <h3>Highlights</h3>
        <div class="row py-5">
            <div class="col-6 col-md-3 py-3">
                <i class="devicon-html5-plain highlight" [ngClass]="skillsColor"></i>
            </div>
            <div class="col-6 col-md-3 py-3">
                <i class="devicon-angularjs-plain highlight" [ngClass]="skillsColor"></i>
            </div>
            <div class="col-6 col-md-3 py-3">
                <i class="devicon-typescript-plain highlight" [ngClass]="skillsColor"></i>
            </div>
            <div class="col-6 col-md-3 py-3">
                <i class="devicon-css3-plain highlight" [ngClass]="skillsColor"></i>
            </div>
        </div>
        <h3>Others</h3>
        <div class="row pt-5">
            <div class="col-3 col-md-4 align-self-center text-right font-weight-bold">Best Friends</div>
            <div class="col-9 col-md-8 text-left">
                <i class="devicon-visualstudio-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-git-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-javascript-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-bitbucket-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-windows8-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-csharp-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-bootstrap-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-3 col-md-4 align-self-center text-right font-weight-bold">Acquainted</div>
            <div class="col-9 col-md-8 text-left">
                <i class="devicon-dot-net-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-php-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-mysql-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-android-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-sass-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-linux-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-3 col-md-4 align-self-center text-right font-weight-bold">Introduced</div>
            <div class="col-9 col-md-8 text-left">
                <i class="devicon-d3js-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-cplusplus-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-webpack-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
                <i class="devicon-apple-plain px-1 px-lg-2 px-xl-3" [ngClass]="skillsColor"></i>
            </div>
        </div>
    </div>
</section>
