@import 'variables';

h6 {
    color: $black;
}

mark {
    background-color: $black;
}

[class^=devicon-] {
    font-size: $base-size * 2.5;

    &.highlight {
        font-size: $base-size * 4;
    }
}

.border-dashed {
    border-width: $base-size * .33;
}
