@import 'variables';

h6 {
    color: $black;
}

mark {
    background-color: $black;
}

[class^=devicon-] {
    font-size: $base-size * 2.5;

    &.highlight {
        font-size: $base-size * 4;
    }
}

.border-dashed {
    border-width: $base-size * .33;
}

// Make animation length variable
.defer-load {
    animation: 1s linear deferFade;
}

#education.defer-load, #skills.defer-load {
    h1 {
        animation: 1s linear deferSlideRight;
    }
}

#experience.defer-load {
    h1 {
        animation: 1s linear deferSlideLeft;
    }
}

// Move keyframes to global styles
@keyframes deferFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes deferSlideLeft {
    0% {
        margin-left: $base-size * 10;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes deferSlideRight {
    0% {
        margin-right: $base-size * 10;
    }
    100% {
        margin-right: 0;
    }
}
