@import 'variables';

.skill-wrapper {
    height: $base-size * 12;

    &:focus {
        z-index: $z-index-bump;
    }

    &:hover {
        .fas, .fab,
        [class^=devicon-] {
            transform: scale(125%);
        }
    }

    .fas, .fab,
    [class^=devicon-] {
        color: $color-white;
        font-size: $base-size * 4;
        pointer-events: none;
        transition: ease-in transform .1s;
    }
}
