<section>
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row no-gutters px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div class="row no-gutters text-left mb-5 px-5 px-lg-0">
            <div class="col-12 offset-lg-2 col-lg-4">
                <p>My biggest strength, and what I find myself working with most, is Angular. I use it to build web apps both professionally in my job with NAVEX, as well as personally with various hobby projects. However, expanding my knowledge with other tools is never far off my mind.</p>
            </div>
        </div>
        <div class="row no-gutters justify-content-center mb-5 px-5 px-lg-0">
            <div class="col-12 col-lg-8">
                <div class="row no-gutters">
                    <div *ngFor="let skill of skills"
                        akTooltip
                        tabindex="0"
                        class="skill-wrapper dark-focus col-3 position-relative d-flex justify-content-center align-items-center"
                        [ngClass]="skill.color"
                        [tooltipContent]="skill.name">
                        <i [ngClass]="skill.icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
