<section class="text-center" [ngClass]="colorClass + ' ' + deferClass" deferLoad [threshold]="deferThreshold" (onLoad)="deferClass='defer-load'">
    <h1 class="text-left" [innerHtml]="title"></h1>
    <h3 [ngClass]="colorClassLight">University of Kansas</h3>
    <div class="row no-gutters px-5 py-0" [ngClass]="colorClassDark">
        <div class="col-6 col-md-4 py-5">
            <i class="fas fa-3x fa-calendar pb-3"></i>
            <label class="d-block">Graduated May 2017</label>
        </div>
        <div class="col-6 col-md-4 py-5">
            <i class="fas fa-3x fa-graduation-cap pb-3"></i>
            <label class="d-block">B.S. Computer Science</label>
            <label class="d-block">Business Minor</label>
        </div>
        <div class="col-12 col-md-4 pt-md-5 pb-5">
            <i class="fas fa-3x fa-map-marker-alt pb-3"></i>
            <label class="d-block">Lawrence, KS</label>
        </div>
    </div>
</section>
