/* *************** REDESIGN ***************

 * TEAL     #3a735a; rgba(58, 115, 90, 100)
 * L. GRAY  #c3c3c3; rgba(195, 195, 195, 100)
 * M. GRAY  #686469; rgba(195, 195, 195, 100)
 * D. Gray  #353334; rgba(53, 51, 52, 100)
 * D. White #e3e3e3; rgba(227, 227, 227, 100)
 * RED      #d36f62; rgba(211, 111, 98, 100)
 * YELLOW   #ffc43d; rgba(255, 196, 61, 100)
 * GREEN    #5d9c49; rgba(93, 156, 73, 100)

 * *************** REDESIGN *************** */
 
body {
/*    background-color: #e3e3e3;*/
    background-color: #fff;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
}

.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: 100%;
}

#top-div {
    padding: 40px;
}

.resume-item {
    margin-top: 40px;
}

.resume-header {
    font-size: 28px;
}

.resume-content {
    padding-right: 50px;
    padding-left: 50px;
}

.resume-content-header {
    color: #000000;
    font-weight: bold;
}

.resume-content-sub-header {
    color: #3a735a;
    font-style: italic;
}

.resume-content-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

#skills-banner {
    text-align: center;
}

.skills-header {
    color: #000000;
    font-weight: bold;
    margin-left: 70px;
}

.skills-banner-item-container {
    margin: 15px 0px;
}

.skills-banner-item {
    font-size: 4em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*
.skills-banner-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
*/

.tooltip-theme {
	background: #3a735a;
	color: #fff;
}

.tooltip-theme .tooltipster-content {
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 16px;
	padding: 8px 10px;
}
 