@import 'variables';
@import 'keyframes';

#timeline {
    background: $color-app-gradient;
    height: $base-size * 12;
    position: relative;

    .timeline-year-line {
        border: 1px solid rgba($color: $color-white, $alpha: 0.4);
        height: 100%;
        position: absolute;
    }

    .timeline-year-text {
        color: rgba($color: $color-white, $alpha: 0.4);
        position: absolute;
        top: $base-size;
    }

    .timeline-event {
        color: $color-white;
        cursor: pointer;
        font-size: $base-size;
        position: absolute;
        transition: ease-in transform .1s;

        &:hover {
            transform: scale(150%);

            &::after {
                border-color: $color-black;
            }
        }

        &::after {
            animation-duration: $rotate-duration;
            animation-iteration-count: infinite;
            animation-name: $rotate-name;
            animation-timing-function: $rotate-timing;
            border-color: $color-black transparent transparent transparent;
            border-radius: 50%;
            border-style: solid;
            border-width: $base-size / 4;
            content: "";
            height: $base-size * 2;
            left: -50%;
            pointer-events: none;
            position: absolute;
            top: -50%;
            transition: ease-in border-color .1s;
            width: $base-size * 2;
        }
    }
}

#timeline-event-description {
    background-color: $color-ivory;
    min-height: $base-size * 18;
    position: relative;

    #selected-event-arrow {
        border-color: transparent transparent $color-black transparent;
        border-style: solid;
        border-width: $base-size;
        position: absolute;
        top: -($base-size * 2);
        transform: translateX(-25%);
        transition: ease-in left .25s;
    }
}
