<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-4 px-xxl-0 mb-3">
            <div class="col-12 offset-xxl-2 col-xxl-8">
                <ak-section-title [text]="title"></ak-section-title>
            </div>
        </div>
        <div class="row g-0 px-4 px-xxl-0">
            <div class="col-12 offset-xxl-2 col-xxl-8">
                <div class="row g-0">
                    <div class="col-12 col-md-6 col-xxl-4 pe-0 pe-md-3 pe-xxl-4 pb-4 pb-xxl-0 d-flex">
                        <ak-project
                            [name]="'Personal Website'"
                            [icon]="'fas fa-laptop'"
                            [gitHubLink]="'https://github.com/austinkurtti/site'">
                            <p>You're looking at it! Designed and built by hand, by me.</p>
                        </ak-project>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-4 pe-0 pb-4 pb-xxl-0 d-flex">
                        <ak-project
                            [name]="'Game Library'"
                            [icon]="'fas fa-gamepad'"
                            [gitHubLink]="'https://github.com/austinkurtti/site'"
                            [externalLink]="'/games'">
                            <p>A neverending project to build custom versions of simple games I love to play.</p>
                        </ak-project>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
