@use 'sass:math';

@use 'variables';

ak-project {
    background-color: variables.$theme-content-background;
    border-radius: math.div(variables.$base-size, 4);
    display: block;
    padding: variables.$base-size * 2;
}
