@use 'sass:math';

@use 'variables';

ak-project {
    border-radius: math.div(variables.$base-size, 4);
    box-shadow: variables.$soft-box-shadow;
    display: block;
    padding: variables.$base-size * 2;
}
