@import 'variables';

.fa-folder-open {
    color: $color-gold;
}

.folder-item {
    border-left: 1px solid $color-gray;
}

#career-ide {
    background-color: $theme-primary-background;
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-gray;

    #career-ide-explorer {
        border-right: 1px solid $color-gray;
    }

    // #career-ide-editor {
        
    // }
}
