<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title"></ak-section-title>
            </div>
        </div>
        <div id="career-ide" class="row g-0">
            <div id="career-ide-explorer" class="col-auto ps-4 pe-5 d-flex flex-column justify-content-center">
                <div class="row g-0 mb-2 pt-2">
                    <div class="col">
                        <span>EXPLORER</span>
                    </div>
                </div>
                <div class="row g-0 mb-2 align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-caret-down"></i>
                        <i class="fas fa-folder-open ms-2"></i>
                    </div>
                    <div class="col-auto">
                        <span class="ms-2">jobs</span>
                    </div>
                </div>
                <div class="row g-0 ms-4 mb-2 ps-4 align-items-center folder-item">
                    <div class="col-auto">
                        <i class="fas fa-wrench"></i>
                    </div>
                    <div class="col-auto">
                        <span class="ms-2">staff-software-engineer</span>
                    </div>
                </div>
                <div class="row g-0 mb-2 align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-caret-down"></i>
                        <i class="fas fa-folder-open ms-2"></i>
                    </div>
                    <div class="col-auto">
                        <span class="ms-2">companies</span>
                    </div>
                </div>
                <div class="row g-0 ms-4 mb-2 ps-4 align-items-center folder-item">
                    <div class="col-auto">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="col-auto">
                        <span class="ms-2">navex</span>
                    </div>
                </div>
                <div class="row g-0 mb-2 align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-caret-down"></i>
                        <i class="fas fa-folder-open ms-2"></i>
                    </div>
                    <div class="col-auto">
                        <span class="ms-2">locations</span>
                    </div>
                </div>
                <div class="row g-0 ms-4 mb-2 ps-4 align-items-center folder-item">
                    <div class="col-auto">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-auto">
                        <span class="ms-2">minneapolis-minnesota</span>
                    </div>
                </div>
            </div>
            <div id="career-ide-editor" class="col-9 p-2">this is where the description goes</div>
        </div>
    </div>
</section>
