<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row no-gutters px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div id="timeline-ribbon" class="row no-gutters px-5 px-lg-0">
            <ng-container *ngFor="let year of timelineYears">
                <div class="timeline-year-line"
                    [ngStyle]="{'left': (timelineStart | timeline:year) + 'px'}">
                </div>
                <h3 class="timeline-year-text"
                    [ngStyle]="{'left': (timelineStart | timeline:year) + 16 + 'px'}">
                    {{ year | date:'y' }}
                </h3>
            </ng-container>
            <div *ngFor="let event of timelineEvents"
                class="timeline-event-container">
                <div *akLet="(timelineStart | timeline:event.startDate) as eventStart"
                    class="timeline-event dark-focus"
                    [tabindex]="event.description ? 0 : -1"
                    [ngStyle]="{'left': eventStart + 'px', 'width': (timelineStart | timeline:event.endDate) - eventStart + 'px'}"
                    [ngClass]="{'expandable': event.description}"
                    (click)="eventClick(event)"
                    (keyup.enter)="eventClick(event)">
                    <h4>{{ event.name }}</h4>
                    <div *ngIf="event.expanded"
                        class="timeline-event-description">
                        <i>{{ event.startDate | date:'MMMM y' }} - {{ event.endDate | date:'MMMM y' }}</i>
                        <p>{{ event.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
