@use 'variables';

:host {
    .dialog-header {
        margin: 0;
        padding: variables.$base-size * 4 variables.$base-size;
    }

    .dialog-body {
        background-color: variables.$theme-bg-color-secondary;

        #incorrect {
            color: variables.$theme-font-color-negative-on-secondary;
        }

        #correct {
            color: variables.$theme-font-color-positive-on-secondary;
        }
    }

    .dialog-actions {
        padding: variables.$base-size * 4 variables.$base-size;
    }
}
