<h3 class="dialog-header text-center">Whoops...</h3>

<div class="dialog-body row g-0 text-center">
    <span>That <b class="color-red">{{ incorrectValue }}</b> was supposed to be a <b class="color-green">{{ correctValue }}</b>. Better luck next time!</span>
</div>

<div class="dialog-actions row g-0 justify-content-evenly">
    <div class="col-12 col-lg-auto d-flex justify-content-center mb-3 mb-lg-0">
        <button (click)="goHome()">Play different game</button>
    </div>
    <div class="col-12 col-lg-auto d-flex justify-content-center">
        <button (click)="playAgain()">Play another Sudoku</button>
    </div>
</div>
