@import 'variables';

:host {
    .dialog-header {
        margin: 0;
        padding: $base-size * 4 $base-size;
    }

    .dialog-body {
        background-color: $color-gray-100;
    }

    .dialog-actions {
        padding: $base-size * 4 $base-size;
    }
}
