@import 'variables';

:host {
    background-color: $color-white;
    border-radius: $base-size;
    box-shadow: $soft-box-shadow;
    color: $color-black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $base-size * 20;

    &.inactive {
        cursor: default;
        position: relative;

        .inactive-message {
            height: 100%;
            position: absolute;
            width: 100%;

            .coming-soon {
                background-color: $color-gray;
                border-radius: $base-size;
                padding: $base-size;
                z-index: $z-index-bump;
            }
        }

        .game-icon {
            border-color: transparent !important;
            opacity: .5;
        }

        .game-name {
            background-color: $color-gray !important;
            border-color: $color-dark-gray !important;
            border-width: 0px 0px ($base-size / 2) 0px !important;
            opacity: .5;
        }
    }

    .game-icon {
        border-color: transparent;
        border-style: solid;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-width: ($base-size / 4) ($base-size / 4) 0px ($base-size / 4);
    }

    .game-name {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-style: solid;
        border-width: 0px 0px ($base-size / 2) 0px;
        font-size: $base-size * 2;
        font-weight: bold;
    }

    // TODO - mixin for these game-specific styles
    &#solitaire {
        .game-name {
            background-color: lighten($color-solitaire-green, 25%);
            border-color: $color-solitaire-green;
        }

        &:hover {
            .game-icon {
                border-color: $color-solitaire-green;
            }

            .game-name {
                border-width: 0px ($base-size / 4) ($base-size / 2) ($base-size / 4);
            }
        }
    }

    &#warship {
        $warship-color: #1c4cc9;

        .game-name {
            background-color: lighten($warship-color, 25%);
            border-color: $warship-color;
        }

        &:hover {
            .game-icon {
                border-color: $warship-color;
            }

            .game-name {
                border-width: 0px ($base-size / 4) ($base-size / 2) ($base-size / 4);
            }
        }
    }
}
