@import 'variables';

:host {
    background-color: $color-white;
    border-radius: $base-size;
    box-shadow: $default-box-shadow;
    color: $color-black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $base-size * 20;

    .game-icon {
        border-color: transparent;
        border-style: solid;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-width: ($base-size / 4) ($base-size / 4) 0px ($base-size / 4);
    }

    .game-name {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-style: solid;
        border-width: 0px 0px ($base-size / 2) 0px;
        font-size: $base-size * 2;
        font-weight: bold;
    }

    &#solitaire {
        $solitaire-color: #38b64a;

        .game-name {
            background-color: lighten($solitaire-color, 25%);
            border-color: $solitaire-color;
        }

        &:hover {
            .game-icon {
                border-color: $solitaire-color;
            }

            .game-name {
                border-width: 0px ($base-size / 4) ($base-size / 2) ($base-size / 4);
            }
        }
    }

    &#warship {
        $warship-color: #1c4cc9;

        .game-name {
            background-color: lighten($warship-color, 25%);
            border-color: $warship-color;
        }

        &:hover {
            .game-icon {
                border-color: $warship-color;
            }

            .game-name {
                border-width: 0px ($base-size / 4) ($base-size / 2) ($base-size / 4);
            }
        }
    }
}
