@use 'sass:math';

@import 'variables';

$solitaire-header-height: $base-size * 6;

$card-height        : $base-size * 12;
$card-width         : $card-height * .714;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    #solitaire-header {
        // background-color: $color-slate;
        // color: $color-white;
    }

    #solitaire-content {
        #stock, #waste, .foundation, .solitaire-card {
            background-color: $color-white;
            border-radius: math.div($base-size, 3);
            height: $card-height;
            width: $card-width;
        }

        .foundation:not(:first-child), #stock {
            margin-left: $base-size;
        }

        .lane {
            position: relative;
            width: $card-width;
        }

        .solitaire-card {
            border-color: $color-gray-400;
            border-style: solid;
            position: absolute;

            &.facedown {
                background-color: $color-gray-200;
            }

            [data-suit] {
                background-repeat: no-repeat;
                display: block;
                height: $base-size;
                width: $base-size;
            }
            [data-suit="1"] {
                background-image: url('/assets/svgs/heart.svg');
            }
            [data-suit="2"] {
                background-image: url('/assets/svgs/diamond.svg');
            }
            [data-suit="3"] {
                background-image: url('/assets/svgs/club.svg');
            }
            [data-suit="4"] {
                background-image: url('/assets/svgs/spade.svg');
            }
        }
    }
}

.cdk-drag-preview {
    background-color: $color-white;
    border-radius: math.div($base-size, 3);
    height: $card-height;
    width: $card-width;
}

@media (min-width: 0px) {
    #solitaire-header {
        height: $solitaire-header-height * .5;
    }
}

@media (min-width: $breakpoint-tablet) {
    #solitaire-header {
        height: $solitaire-header-height * .75;
    }
}

@media (min-width: $breakpoint-desktop) {
    #solitaire-header {
        height: $solitaire-header-height;
    }
}
