@use 'sass:math';

@use 'variables';

$card-height        : variables.$base-size * 12;
$card-width         : $card-height * .714;

:host {
    background-color: variables.$color-solitaire-green;
    display: block;
    height: 100%;

    header {
        background-color: variables.$color-slate;
        color: variables.$color-white;
    }

    main {
        #stock, .foundation, .solitaire-card {
            border-radius: math.div(variables.$base-size, 2);
            height: $card-height;
            width: $card-width;
        }

        .solitaire-card {
            background-color: variables.$color-white;
            border-color: variables.$color-white;
            border-style: solid;
            border-width: math.div(variables.$base-size, 2);

            &.facedown {
                background-color: variables.$color-solitaire-blue;
            }
        }

        #stock-col {
            background-color: variables.$color-solitaire-dark-green;
            padding: variables.$base-size;

            #stock {
                background-color: variables.$color-solitaire-blue;
                border-color: variables.$color-white;
                border-style: solid;
                border-width: math.div(variables.$base-size, 2);

                &.empty {
                    background-color: variables.$color-solitaire-green;
                }
            }
        }

        .tableau {
            padding: variables.$base-size;
        }

        #foundation-col {
            background-color: variables.$color-solitaire-dark-green;
            padding: variables.$base-size;

            .foundation {
                background-color: variables.$color-solitaire-green;

                &:not(:last-child) {
                    margin-bottom: variables.$base-size;
                }
            }
        }
    }
}
