<!-- <section class="h-100">
    <i>Picture of me</i>
</section> -->
<section class="text-center" [ngClass]="deferClass" deferLoad [threshold]="deferThreshold" (onLoad)="deferClass='defer-load'">
    <h1 class="text-left">Square one.</h1>
    <div class="row no-gutters">
        <div class="col-6">
            <h3>Midwest-bred</h3>
        </div>
        <div class="col-6">
            <h3>Food fan</h3>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-6">
            <h3>Traveler</h3>
        </div>
        <div class="col-6">
            <h3>Passionate coder</h3>
        </div>
    </div>
</section>
