@use 'sass:math';

@import 'variables';
@import 'keyframes';

/***********************

    Global app styles

***********************/
html {
    height: 100%;
    scroll-behavior: smooth;

    &[data-theme="light"] {
        --theme-primary-background: #{$color-white};
        --theme-content-background: #{$color-ivory};
        --theme-font-color: #{$color-black};

        --theme-hoverable-background: #{$color-black};
        --theme-hoverable-font-color: #{$color-white};
    }

    &[data-theme="dark"] {
        --theme-primary-background: #{$color-black};
        --theme-content-background: #{$color-slate};
        --theme-font-color: #{$color-white};

        --theme-hoverable-background: #{$color-white};
        --theme-hoverable-font-color: #{$color-black};
    }
}

body {
    font-family: $default-font-family;
    font-size: $default-font-size;
    height: 100%;
    line-height: 1;
    margin: 0;
}

section {
    transform: translateX(0%);

    .content {
        padding: $base-size * 10 0;
        transform: translateX(10%);

        &:not(.invisible) {
            transform: translateX(0%);
        }

        &.defer-load {
            animation-name: $opacity-name;
            animation-duration: $opacity-duration;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            transition-duration: $opacity-duration;
            transition-property: transform;
            transition-timing-function: linear;
        }
    }
}

h1 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

h3:not(:last-child) {
    margin-bottom: $base-size;
}

label {
    font-weight: bold;
    margin: 0;
}

p {
    line-height: 1.5;
    margin: 0;
}

p:not(:last-child) {
    margin-bottom: $base-size;
}

:focus:not(:focus-visible) {
    // Prevent focusable elements from getting focus styles on click
    outline: none;
}

:focus-visible, button:focus {
    border-radius: $base-size / 4;
    outline-color: $color-green;
    outline-style: solid;
    outline-width: $base-size / 4;

    &.light-focus {
        outline-color: $color-white;
    }

    &.dark-focus {
        outline-color: $color-black;
    }
}

button {
    background-color: transparent;
    border-color: $color-slate;
    border-radius: math.div($base-size, 4);
    border-style: solid;
    border-width: math.div($base-size, 8);
    color: $color-slate;
    font-family: $default-font-family;
    padding: math.div($base-size, 2);
    transition: ease-in background-color .1s,
                ease-in color .1s;
    
    &.icon-button {
        border: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}

/***********************

    Media queries

***********************/
@media (min-width: 0px) {
    h1 {
        font-size: $default-font-size * 3;
        line-height: $default-font-size * 3;
    }

    h2 {
        font-size: $default-font-size * 2;
        line-height: $default-font-size * 2;
    }

    h3 {
        font-size: $default-font-size * 1.25;
        line-height: $default-font-size * 1.25;
    }

    h4 {
        font-size: $default-font-size * 1.1;
        line-height: $default-font-size * 1.1;
    }
}

@media (min-width: $breakpoint-tablet) {
    h1 {
        font-size: $default-font-size * 4.5;
        line-height: $default-font-size * 4.5;
    }

    h2 {
        font-size: $default-font-size * 2.5;
        line-height: $default-font-size * 2.5;
    }

    h3 {
        font-size: $default-font-size * 1.35;
        line-height: $default-font-size * 1.35;
    }

    h4 {
        font-size: $default-font-size * 1.15;
        line-height: $default-font-size * 1.15;
    }
}

@media (min-width: $breakpoint-desktop) {
    h1 {
        font-size: $default-font-size * 6;
        line-height: $default-font-size * 6;
    }

    h2 {
        font-size: $default-font-size * 3;
        line-height: $default-font-size * 3;
    }

    h3 {
        font-size: $default-font-size * 1.5;
        line-height: $default-font-size * 1.5;
    }

    h4 {
        font-size: $default-font-size * 1.25;
        line-height: $default-font-size * 1.25;
    }
}
