@use 'sass:math';

@use 'variables';
@use 'functions';
@use 'keyframes';
@use 'mixins';

/***********************

    Global app styles

***********************/
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: variables.$theme-bg-color-primary;
    color: variables.$theme-font-color-normal;
    font-family: variables.$theme-font-family-normal;
    font-size: variables.$default-font-size;
    height: 100%;
    line-height: 1;
    margin: 0;
}

section {
    .content {
        padding: variables.$base-size * 10 0;

        &.deferred {
            opacity: 0;
            transform: translateX(10%);
            transition: linear opacity .5s,
                        linear transform .5s;

            @media (prefers-reduced-motion) {
                transition: none;
            }
            
            &.loaded {
                opacity: 1;
                transform: translateX(0%);
            }
        }
    }
}

h1, h2, h3, h4, h5 {
    color: variables.$theme-font-color-large;
    font-weight: bold;
    margin: 0;
}

h3:not(:last-child) {
    margin-bottom: variables.$base-size;
}

label {
    color: variables.$theme-font-color-large;
    font-weight: bold;
    margin: 0;
}

b {
    color: variables.$theme-font-color-large
}

p {
    line-height: 1.5;
    margin: 0;
}

p:not(:last-child) {
    margin-bottom: variables.$base-size;
}

:focus:not(:focus-visible) {
    // Prevent focusable elements from getting focus styles on click
    outline: none;
}

:focus-visible, button:focus {
    outline-color: variables.$theme-font-color-normal;
    outline-style: dashed;
    outline-width: math.div(variables.$base-size, 4);
}

button {
    background-color: variables.$theme-bg-color-primary;
    border-color: variables.$theme-font-color-normal;
    border-radius: variables.$border-radius;
    border-style: solid;
    border-width: math.div(variables.$base-size, 8);
    color: variables.$theme-font-color-normal;
    font-family: variables.$theme-font-family-normal;
    font-size: variables.$default-font-size;
    padding: math.div(variables.$base-size, 2);

    &:disabled {
        opacity: .5;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            background-color: variables.$theme-bg-color-secondary;
        }
    }
    
    &.icon-button {
        border: none;

        i {
            color: variables.$theme-icon-color-primary;
        }
    }

    &.header-icon-button {
        border: none;

        i {
            color: variables.$theme-icon-color-primary;
        }

        &:not(:disabled):hover {
            background-color: transparent;

            i {
                color: variables.$theme-accent-color-primary;
            }
        }
    }

    &.confirm-button:not(:disabled) {
        &:hover, &:focus {
            background-color: variables.$color-positive;
            border-color: variables.$color-positive;
            color: variables.$font-color-on-positive;

            i {
                color: variables.$icon-color-on-positive;
            }
        }
    }

    &.cancel-button:not(:disabled) {
        &:hover, &:focus {
            background-color: variables.$color-negative;
            border-color: variables.$color-negative;
            color: variables.$font-color-on-negative;

            i {
                color: variables.$icon-color-on-negative;
            }
        }
    }
}

a[href] {
    font-weight: bold;
    text-decoration: none;

    &:link, &:visited {
        color: variables.$theme-accent-color-primary;
    }

    &:hover {
        text-decoration: underline;

        i {
            color: variables.$theme-accent-color-primary;
        }
    }
}

a[routerLink] {
    &:hover {
        i {
            color: variables.$theme-accent-color-primary;
        }
    }
}

ul {
    line-height: 1.5;
}

kbd {
    background-color: variables.$color-ivory;
    border-color: variables.$color-gray-300;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    // TODO - are these alpha values right?
    box-shadow:
        0 1px 1px rgba($color: variables.$color-black, $alpha: 2),
        0 2px 0 0 rgba($color: variables.$color-white, $alpha: 7) inset;
    color: variables.$color-black;
    display: inline-block;
    font-size: variables.$default-font-size * .8;
    font-weight: bold;
    line-height: 1;
    padding: math.div(variables.$base-size, 8) math.div(variables.$base-size, 4);
    white-space: nowrap;
}

i[class*="fas"], i[class*="fab"], i[class*="far"], i[class*="devicon"] {
    color: variables.$theme-icon-color-primary;
}

.translating {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: keyframes.$gradient-name;
    animation-timing-function: ease;
    background: linear-gradient(
        270deg,
        rgba($color: variables.$color-sky, $alpha: 34%),
        rgba($color: variables.$color-blue, $alpha: 34%),
        rgba($color: variables.$color-red, $alpha: 34%),
        rgba($color: variables.$color-orange, $alpha: 34%)
    );
    background-size: 400% 400%;
    border-radius: 3px;

    @media (prefers-reduced-motion) {
        animation-duration: 0s;
    }

    @media (prefers-contrast: more) {
        border: 1px solid variables.$theme-accent-color-primary;
    }
}

/***********************

    Media queries

***********************/
@include mixins.for-xs-screens {
    header {
        height: variables.$header-height * .667;

        .header-icon-button {
            height: variables.$header-height * .667;
            width: variables.$header-height * .667;
        }

        #header-title span {
            font-size: variables.$default-font-size * 1.25;
            line-height: variables.$base-size * 1.25;
        }
    }

    main {
        padding-top: variables.$header-height * .667;
    }

    footer {
        height: variables.$header-height * .667;
    }

    h1 {
        font-size: variables.$default-font-size * 3;
        line-height: variables.$default-font-size * 3;
    }

    h2 {
        font-size: variables.$default-font-size * 2;
        line-height: variables.$default-font-size * 2;
    }

    h3 {
        font-size: variables.$default-font-size * 1.25;
        line-height: variables.$default-font-size * 1.25;
    }

    h4 {
        font-size: variables.$default-font-size * 1.1;
        line-height: variables.$default-font-size * 1.1;
    }
}

@include mixins.for-md-screens {
    header {
        height: variables.$header-height * .75;

        .header-icon-button {
            height: variables.$header-height * .75;
            width: variables.$header-height * .75;
        }

        #header-title span {
            font-size: variables.$default-font-size * 1.75;
            line-height: variables.$base-size * 1.75;
        }
    }

    main {
        padding-top: variables.$header-height * .75;
    }

    footer {
        height: variables.$header-height * .75;
    }

    h1 {
        font-size: variables.$default-font-size * 4.5;
        line-height: variables.$default-font-size * 4.5;
    }

    h2 {
        font-size: variables.$default-font-size * 2.5;
        line-height: variables.$default-font-size * 2.5;
    }

    h3 {
        font-size: variables.$default-font-size * 1.35;
        line-height: variables.$default-font-size * 1.35;
    }

    h4 {
        font-size: variables.$default-font-size * 1.15;
        line-height: variables.$default-font-size * 1.15;
    }
}

@include mixins.for-lg-screens {
    header {
        height: variables.$header-height;

        .header-icon-button {
            height: variables.$header-height;
            width: variables.$header-height;
        }

        #header-title span {
            font-size: variables.$default-font-size * 2;
            line-height: variables.$base-size * 2;
        }
    }

    main {
        padding-top: variables.$header-height;
    }

    footer {
        height: variables.$header-height;
    }

    h1 {
        font-size: variables.$default-font-size * 6;
        line-height: variables.$default-font-size * 6;
    }

    h2 {
        font-size: variables.$default-font-size * 3;
        line-height: variables.$default-font-size * 3;
    }

    h3 {
        font-size: variables.$default-font-size * 1.5;
        line-height: variables.$default-font-size * 1.5;
    }

    h4 {
        font-size: variables.$default-font-size * 1.25;
        line-height: variables.$default-font-size * 1.25;
    }
}
