@use 'sass:math';

@import 'variables';

.ak-badge {
    border: 1px solid currentColor;
    display: inline-block;
    padding: math.div($base-size, 4);

    &:not(:last-child) {
        margin-right: math.div($base-size, 4);
    }
}
