@use 'variables';

.confetti {
    pointer-events: none;
    position: absolute;
    transition: linear left .1s,
                linear top .1s,
                linear transform .1s;
    z-index: variables.$z-index-confetti;

    @media (prefers-reduced-motion) {
        transition: none;
    }
}
