@use 'sass:math';

@use 'variables';
@use 'keyframes';
@use 'mixins';

dialog {
    align-items: center;
    background-color: rgba($color: variables.$color-slate, $alpha: .5);
    border: none;
    height: 100%;
    justify-content: center;
    opacity: 0;
    padding: 0;
    width: 100%;
    z-index: variables.$z-index-dialog;

    &[open] {
        display: flex;
        flex-direction: column;
        opacity: 1;
    }

    &.fullscreen .dialog-content {
        height: 100%;
        width: 100%;
    }

    &.minimal .dialog-content {
        width: auto;
    }

    .dialog-content {
        animation: keyframes.$dialog-appear-name keyframes.$dialog-appear-timing keyframes.$dialog-appear-duration;
        background-color: variables.$color-white;
        border-radius: math.div(variables.$base-size, 4);
        box-shadow: variables.$theme-box-shadow-hard;
        margin: 0 math.div(variables.$base-size, 2);

        @media (prefers-contrast: more) {
            border: 1px solid variables.$theme-accent-color-primary;
        }

        .dialog-header {
            padding: variables.$base-size;
        }

        .dialog-body {
            max-height: 50vh;
            overflow: auto;
            padding: variables.$base-size;
        }

        .dialog-actions {
            padding: variables.$base-size;
        }
    }

    @include mixins.for-xs-screens {
        &.small .dialog-content {
            width: 80%;
        }

        &.medium .dialog-content {
            width: 85%;
        }
    
        &.large .dialog-content {
            width: 90%;
        }
    }

    @include mixins.for-md-screens {
        &.small .dialog-content {
            width: 60%;
        }

        &.medium .dialog-content {
            width: 75%;
        }
    
        &.large .dialog-content {
            width: 85%;
        }
    }

    @include mixins.for-lg-screens {
        &.small .dialog-content {
            width: 40%;
        }

        &.medium .dialog-content {
            width: 65%;
        }
    
        &.large .dialog-content {
            width: 80%;
        }
    }
}
