@use 'sass:math';

@use 'variables';

.confetti,
.splash,
.explosion {
    pointer-events: none;
    position: absolute;
    transition: linear left .1s,
                linear top .1s,
                linear transform .1s;
    z-index: variables.$z-index-effects;

    @media (prefers-reduced-motion) {
        transition: none;
    }

    &.white {
        color: variables.$color-white;
    }

    &.black {
        color: variables.$color-black;
    }

    &.red {
        color: variables.$color-red;
    }

    &.orange {
        color: variables.$color-orange;
    }

    &.yellow {
        color: variables.$color-yellow;
    }

    &.green {
        color: variables.$color-green;
    }

    &.sky {
        color: variables.$color-sky;
    }

    &.blue {
        color: variables.$color-blue;
    }

    &.purple {
        color: variables.$color-purple;
    }
}

.splash, .explosion {
    font-size: .4em;
}

.ripple {
    background: transparent;
    border: math.div(variables.$base-size, 6) solid rgba(96, 207, 255, .45);
    border-radius: 50%;
    box-shadow: 0 0 math.div(variables.$base-size, 2) math.div(variables.$base-size, 8) rgba(0, 180, 255, .2);
    height: variables.$base-size * 6;
    pointer-events: none;
    position: absolute;
    transform: scale(.2);
    transition: transform 1440ms ease-out, opacity 1440ms linear;
    width: variables.$base-size * 6;
    z-index: variables.$z-index-effects;
}
