@use 'variables';

.confetti,
.splash,
.explosion {
    pointer-events: none;
    position: absolute;
    transition: linear left .1s,
                linear top .1s,
                linear transform .1s;
    z-index: variables.$z-index-effects;

    @media (prefers-reduced-motion) {
        transition: none;
    }

    &.white {
        color: variables.$color-white;
    }

    &.black {
        color: variables.$color-black;
    }

    &.red {
        color: variables.$color-red;
    }

    &.orange {
        color: variables.$color-orange;
    }

    &.yellow {
        color: variables.$color-yellow;
    }

    &.green {
        color: variables.$color-green;
    }

    &.sky {
        color: variables.$color-sky;
    }

    &.blue {
        color: variables.$color-blue;
    }

    &.purple {
        color: variables.$color-purple;
    }
}

.splash, .explosion {
    font-size: .4em;
}
