@use 'sass:map';
@use 'sass:math';

@use 'theme/maps/dark' as dark;
@use 'variables';

html {
    &[data-game=sudoku] {
        body {
            --theme-accent-color-primary: var(--theme-accent-color-sudoku);
        }
    }

    // Warships game will automatically use dark mode
    &[data-game=warships] {
        body {
            --theme-accent-color-primary: #{variables.$color-warships};
            --theme-font-family-normal: monospace;

            button {
                background-color: variables.$theme-bg-color-primary;
                border: none;
                border-radius: 0;
                font-weight: bold;
                text-transform: uppercase;

                &:not(:disabled):hover {
                    background-color: variables.$theme-bg-color-primary;
                    color: variables.$color-warships;
                }

                &.confirm-button:not(:disabled) {
                    &:hover, &:focus {
                        background-color: variables.$theme-bg-color-primary;
                        color: variables.$color-warships-radar;
                    }
                }

                &.cancel-button:not(:disabled) {
                    &:hover, &:focus {
                        background-color: variables.$theme-bg-color-primary;
                        color: variables.$color-warships-radar-negative;
                    }
                }
            }

            ak-games #header-title {
                font-family: variables.$industrial-font-family;
            }

            img.invertible {
                filter: invert(1);
            }
        }
    }
}
