@use 'variables';

// Color classes
.color-white {
    color: variables.$color-white;
    fill: variables.$color-white;
    stroke: variables.$color-white;
}

.color-red {
    color: variables.$color-red;
    fill: variables.$color-red;
    stroke: variables.$color-red;
}

.color-orange {
    color: variables.$color-orange;
    fill: variables.$color-orange;
    stroke: variables.$color-orange;
}

.color-green {
    color: variables.$color-green;
    fill: variables.$color-green;
    stroke: variables.$color-green;
}

.color-sky {
    color: variables.$color-sky;
    fill: variables.$color-sky;
    stroke: variables.$color-sky;
}

.color-blue {
    color: variables.$color-blue;
    fill: variables.$color-blue;
    stroke: variables.$color-blue;
}

.color-success {
    color: variables.$color-success;
    fill: variables.$color-success;
    stroke: variables.$color-success;
}

.color-error {
    color: variables.$color-error;
    fill: variables.$color-error;
    stroke: variables.$color-error;
}

// Text/font classes
.font-family-handwriting {
    font-family: variables.$handwriting-font-family;
}

.font-family-monospace {
    font-family: monospace;
}

.text-transform-none {
    text-transform: none;
}
