@use 'variables';

// Text/font
.font-family-handwriting {
    font-family: variables.$handwriting-font-family;
}

.font-family-monospace {
    font-family: monospace;
}

.text-transform-none {
    text-transform: none;
}

// Display
@media (pointer: coarse) {
    // pointer: coarse can be used as a rouch estimation for users being on a mobile touchscreen device
    .d-touchscreen-none {
        display: none;
    }
}
