// Color classes
.bg-color-app-primary {
    background-color: $color-app-primary;
}

.bg-color-app-accent-1 {
    background-color: $color-app-accent-1;
}

.bg-color-app-accent-2 {
    background-color: $color-app-accent-2;
}

.color-white {
    color: $color-white;
    fill: $color-white;
    stroke: $color-white;
}

.color-app-primary {
    color: $color-app-primary;
    fill: $color-app-primary;
    stroke: $color-app-primary;
}

.color-app-accent-1 {
    color: $color-app-accent-1;
    fill: $color-app-accent-1;
    stroke: $color-app-accent-1;
}

.color-app-accent-2 {
    color: $color-app-accent-2;
    fill: $color-app-accent-2;
    stroke: $color-app-accent-2;
}

.color-error {
    color: $color-error;
    fill: $color-error;
    stroke: $color-error;
}
