// Color classes
.color-white {
    color: $color-white;
    fill: $color-white;
    stroke: $color-white;
}

.color-error {
    color: $color-error;
    fill: $color-error;
    stroke: $color-error;
}
