@use 'sass:math';

@import 'variables';

.menu-host {
    cursor: pointer;
}

[role=menu] {
    background-color: $theme-primary-background;
    border-radius: math.div($base-size, 4);
    box-shadow: $hard-box-shadow;
    position: absolute;
    z-index: $z-index-menu;

    [role=menuitem] {
        cursor: pointer;
        display: block;
        padding: $base-size;
        transition: ease-in background-color .1s;

        &:first-child {
            border-top-left-radius: math.div($base-size, 4);
            border-top-right-radius: math.div($base-size, 4);
        }

        &:last-child {
            border-bottom-left-radius: math.div($base-size, 4);
            border-bottom-right-radius: math.div($base-size, 4);
        }

        &:hover {
            background-color: $theme-content-background;
        }
    }
}
