@use 'variables';

.menu-host {
    cursor: pointer;
}

[role=menu] {
    background-color: variables.$theme-bg-color-primary;
    border-radius: variables.$border-radius;
    box-shadow: variables.$theme-box-shadow-hard;
    position: absolute;
    z-index: variables.$z-index-menu;

    @media (prefers-contrast: more) {
        border: 1px solid variables.$theme-accent-color-primary;
    }

    [role=menuitem] {
        cursor: pointer;
        display: block;
        padding: variables.$base-size;

        &:first-child {
            border-top-left-radius: variables.$border-radius;
            border-top-right-radius: variables.$border-radius;
        }

        &:last-child {
            border-bottom-left-radius: variables.$border-radius;
            border-bottom-right-radius: variables.$border-radius;
        }

        &:hover {
            background-color: variables.$theme-bg-color-secondary;
        }
    }
}
