@use 'sass:math';

@use 'variables';

.menu-host {
    cursor: pointer;
}

[role=menu] {
    background-color: variables.$theme-bg-color-primary;
    border-radius: math.div(variables.$base-size, 4);
    box-shadow: variables.$theme-box-shadow-hard;
    position: absolute;
    z-index: variables.$z-index-menu;

    [role=menuitem] {
        cursor: pointer;
        display: block;
        padding: variables.$base-size;

        &:first-child {
            border-top-left-radius: math.div(variables.$base-size, 4);
            border-top-right-radius: math.div(variables.$base-size, 4);
        }

        &:last-child {
            border-bottom-left-radius: math.div(variables.$base-size, 4);
            border-bottom-right-radius: math.div(variables.$base-size, 4);
        }

        &:hover {
            background-color: variables.$theme-bg-color-secondary;
        }
    }
}
