@use 'sass:math';

@use 'variables';

.ak-notification {
    align-items: center;
    border-radius: math.div(variables.$base-size, 4);
    bottom: variables.$base-size;
    display: flex;
    left: variables.$base-size;
    padding: variables.$base-size;
    position: absolute;
    z-index: variables.$z-index-notification;

    &.info {
        background-color: variables.$color-blue;
    }

    &.success {
        background-color: variables.$color-green;
    }

    &.error {
        background-color: variables.$color-red;
    }

    i {
        margin-right: variables.$base-size;
    }
}
