@use 'sass:math';

@use 'variables';

.ak-notification {
    align-items: center;
    border-radius: math.div(variables.$base-size, 4);
    bottom: variables.$base-size;
    display: flex;
    left: variables.$base-size;
    padding: variables.$base-size;
    position: absolute;
    z-index: variables.$z-index-notification;

    &.info {
        background-color: variables.$color-neutral;
        color: variables.$font-color-on-neutral;

        i {
            color: variables.$icon-color-on-neutral;
        }
    }

    &.success {
        background-color: variables.$color-positive;
        color: variables.$font-color-on-positive;

        i {
            color: variables.$icon-color-on-positive;
        }
    }

    &.error {
        background-color: variables.$color-negative;
        color: variables.$font-color-on-negative;

        i {
            color: variables.$icon-color-on-negative;
        }
    }

    i {
        margin-right: variables.$base-size;
    }
}
