@use 'sass:math';

@use 'variables';
@use 'mixins';

#ak-tooltip-container {
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: variables.$z-index-tooltip;

    .ak-tooltip {
        background-color: variables.$theme-hoverable-background;
        border-radius: math.div(variables.$base-size, 4);
        color: variables.$theme-hoverable-font-color;
        min-width: variables.$base-size;
        padding: variables.$base-size;
        position: absolute;

        // For tooltip arrow
        &:after {
            border-style: solid;
            border-width: variables.$base-size;
            content: "";
            position: absolute;
        }

        &.top:after {
            border-color: variables.$theme-hoverable-background transparent transparent transparent;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
        }

        &.right:after {
            border-color: transparent variables.$theme-hoverable-background transparent transparent;
            left: -(variables.$base-size * 2);
            top: 50%;
            transform: translateY(-50%);
        }

        &.bottom:after {
            border-color: transparent transparent variables.$theme-hoverable-background transparent;
            left: 50%;
            top: -50%;
            transform: translateX(-50%);
        }

        &.left:after {
            border-color: transparent transparent transparent variables.$theme-hoverable-background;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @include mixins.for-xs-screens {
        .ak-tooltip {
            max-width: 35%;
        }
    }

    @include mixins.for-md-screens {
        .ak-tooltip {
            max-width: 25%;
        }
    }

    @include mixins.for-lg-screens {
        .ak-tooltip {
            max-width: 15%;
        }
    }
}
