@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

@use 'theme/maps/dark' as dark;
@use 'variables';
@use 'functions';

.game {
    border: none;
    border-radius: math.div(variables.$base-size, 2);
    overflow: hidden;
    padding: 0;
    transition: ease-in box-shadow .1s;
    width: 100%;

    @media (prefers-reduced-motion) {
        transition: none;
    }

    &:not(:disabled):hover {
        box-shadow: variables.$theme-box-shadow-hard;
    }

    .game-icon {
        font-size: variables.$default-font-size * 4;
        padding: variables.$base-size;
    }

    .game-name {
        font-size: variables.$default-font-size * 2;
        padding: variables.$base-size;
    }

    .coming-soon {
        color: variables.$color-white;
        cursor: not-allowed;
        font-size: variables.$default-font-size * 3;
        left: 0;
        top: 0;
        z-index: variables.$z-index-bump;
    }

    &.sudoku {
        background-color: variables.$color-sudoku;

        .game-icon i {
            color: functions.adjust-to-contrast(variables.$color-sudoku, variables.$color-sudoku, 3);
        }

        .game-name {
            background-color: functions.adjust-to-contrast(variables.$color-sudoku, variables.$color-sudoku);
            color: variables.$color-sudoku;
        }
    }

    &.solitaire {
        background-color: variables.$color-solitaire-green;

        .game-icon i {
            color: functions.adjust-to-contrast(variables.$color-solitaire-green, variables.$color-solitaire-green, 3);
        }

        .game-name {
            background-color: functions.adjust-to-contrast(variables.$color-solitaire-green, variables.$color-solitaire-green);
            color: variables.$color-solitaire-green;
        }
    }

    &.warships {
        background-color: map.get(dark.$map, 'background-color', 'secondary');

        .game-icon i {
            color: variables.$color-warships-radar-green;
        }

        .game-name {
            background-color: map.get(dark.$map, 'background-color', 'secondary');
            border-top: math.div(variables.$base-size, 8) solid variables.$color-warships-radar-green;
            color: variables.$color-warships-radar-green;
        }
    }
}
