<header class="position-fixed w-100 row no-gutters align-items-center">
    <button
        id="header-button"
        class="col-auto d-flex align-items-center justify-content-center"
        [tabindex]="showHome ? -1 : 0"
        [ngClass]="{ 'show': !showHome }"
        [routerLink]="'/games'">
        <i class="fas fa-angle-left fa-2x"></i>
    </button>
    <div id="header-title"
        class="col-auto"
        [ngClass]="{ 'pl-4': showHome }">
        <span>Games</span>
    </div>
</header>

<main #gameContent class="position-static">
    <div *ngIf="showHome" id="home" class="row no-gutters">
        <button *ngFor="let game of games"
            class="game col-2"
            [disabled]="game.disabled"
            [ngClass]="game.route"
            [routerLink]="['/games', { outlets: { g: [game.route] } }]">
            <div class="game-icon">
                <i [ngClass]="game.icon"></i>
            </div>
            <div class="game-name">{{ game.name }}</div>
        </button>
    </div>

    <router-outlet
        name="g"
        (activate)="gameActivate()"
        (deactivate)="gameDeactivate()">
    </router-outlet>
</main>
