<div class="container-fluid px-0 py-5">
    <div id="home" class="row gx-5 mx-4">
        <div *ngFor="let game of games" class="col-2">
            <button class="game"
                routerLink="/games/{{ game.route }}"
                [disabled]="game.disabled"
                [ngClass]="game.route">
                <div class="game-icon">
                    <i [ngClass]="game.icon"></i>
                </div>
                <div class="game-name">{{ game.name }}</div>
            </button>
        </div>
    </div>
</div>
