@import 'variables';

$header-height: $base-size * 6;

:host {
    background-color: $color-ivory;
    color: $color-black;
    display: block;
    height: 100%;

    header {
        background-color: $color-white;
        height: $header-height;
        z-index: $z-index-header;

        #header-title span {
            font-size: $default-font-size * 2;
            line-height: $base-size * 2;
        }

        #header-button {
            background-color: $color-white;
            border: none;
            height: $header-height;
            overflow: hidden;
            padding: 0;
            width: 0;

            &.show {
                width: $header-height;
            }

            &:hover {
                color: $color-app-accent-2;
                cursor: pointer;
            }

            i {
                transition: ease-in color .1s;
            }
        }
    }

    main {
        height: 100%;
        padding: $header-height + ($base-size * 2) $base-size * 2 $base-size * 2 $base-size * 2;

        .game {
            border: none;
            border-radius: $base-size / 2;
            overflow: hidden;
            padding: 0;
            transition: ease-in box-shadow .1s;

            &:not(:disabled):hover {
                box-shadow: $hard-box-shadow;
            }

            .game-icon {
                font-size: $default-font-size * 4;
                padding: $base-size;
            }

            .game-name {
                font-size: $default-font-size * 2;
                padding: $base-size;
            }

            &.sudoku {
                background-color: $color-sudoku-orange;

                .game-name {
                    background-color: lighten($color-sudoku-orange, 20%);
                }
            }

            &.solitaire {
                background-color: $color-solitaire-green;

                .game-name {
                    background-color: lighten($color-solitaire-green, 20%);
                }
            }

            &.warships {
                background-color: $color-warships;

                .game-name {
                    background-color: lighten($color-warships, 20%);
                }
            }
        }
    }
}
