@use 'variables';

:host {
    background-color: variables.$color-ivory;
    color: variables.$color-black;
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        background-color: variables.$color-white;
        box-shadow: variables.$theme-box-shadow-soft;
        z-index: variables.$z-index-header;

        &[data-game="sudoku"] {
            background-color: variables.$color-sudoku-light;
            color: variables.$color-sudoku-dark;

            button {
                color: variables.$color-sudoku-dark;

                &:hover {
                    color: variables.$color-white;
                }
            }
        }
    }

    main {
        flex: 1;
    }
}
