@use 'variables';
@use 'functions';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    &[data-game="sudoku"] {
        --theme-accent-color-primary: var(--theme-accent-color-sudoku);
    }

    header {
        background-color: variables.$theme-bg-color-primary;
        box-shadow: variables.$theme-box-shadow-soft;
        color: variables.$theme-font-color-large;
        z-index: variables.$z-index-header;

        @media (forced-colors) {
            #theme-button {
                display: none;
            }
        }
    }

    main {
        flex: 1;
    }
}
