<header class="row g-0 position-fixed align-items-center w-100">
    <div id="header-title" class="col ps-3 ps-lg-5">
        <span><!-- Value set by routerOutletActivate --></span>
    </div>
    <button akMenu akTooltip
            id="theme-button"
            class="header-icon-button"
            [menuPosition]="MenuPosition.bottomRight"
            [tooltipContent]="'Theme'"
            [tooltipPosition]="TooltipPosition.bottom">
            <i class="fas fa-palette fa-2x"></i>
            <ng-template #menuContent>
                <div akMenuContent>
                    <ak-theme></ak-theme>
                </div>
            </ng-template>
        </button>
    <button akTooltip
        id="exit-button"
        class="col-auto header-icon-button"
        routerLink="/"
        [tooltipContent]="'Exit'"
        [tooltipPosition]="TooltipPosition.bottom">
        <i class="fas fa-2x fa-sign-out-alt"></i>
    </button>
    <button akTooltip
        id="close-button"
        class="col-auto header-icon-button"
        routerLink="/games"
        [tooltipContent]="'Close'"
        [tooltipPosition]="TooltipPosition.bottom">
        <i class="fas fa-2x fa-times"></i>
    </button>
</header>

<main #gameContent class="w-100 overflow-hidden">
    <router-outlet (activate)="routerOutletActivate($event)"></router-outlet>
</main>
