@use 'sass:math';

@import 'variables';

.game {
    border: none;
    border-radius: math.div($base-size, 2);
    overflow: hidden;
    padding: 0;
    transition: ease-in box-shadow .1s;
    width: 100%;

    &:not(:disabled):hover {
        box-shadow: $hard-box-shadow;
    }

    .game-icon {
        font-size: $default-font-size * 4;
        padding: $base-size;
    }

    .game-name {
        font-size: $default-font-size * 2;
        padding: $base-size;
    }

    .coming-soon {
        color: $color-white;
        cursor: not-allowed;
        font-size: $default-font-size * 3;
        left: 0;
        top: 0;
        z-index: $z-index-bump;
    }

    &.sudoku {
        background-color: $color-sudoku;

        .game-name {
            background-color: $color-sudoku-light;
            color: $color-sudoku-dark;
        }
    }

    &.solitaire {
        background-color: $color-solitaire-green;

        .game-name {
            background-color: lighten($color-solitaire-green, 10%);
        }
    }

    &.warships {
        background-color: $color-warships;

        .game-name {
            background-color: lighten($color-warships, 10%);
        }
    }
}
