@import 'variables';

:host {
    height: $base-size * 2;

    .contact-icon-wrapper {
        display: inline-block;
        margin-left: $base-size * 2;

        &:first-child {
            margin-left: 0;
        }

        .contact-icon {
            color: $theme-font-color;
            font-size: $default-font-size;
            height: $base-size * 2;
            text-decoration: none;
            transition: ease-in color .1s;
            width: $base-size * 2;

            &:hover {
                color: $color-app-accent-2;
            }
        }
    }
}
