@use 'variables';

:host {
    height: variables.$base-size * 2;

    .contact-icon-wrapper {
        display: inline-block;
        margin-left: variables.$base-size * 2;

        &:first-child {
            margin-left: 0;
        }

        .contact-icon {
            height: variables.$base-size * 2;
            text-decoration: none;
            width: variables.$base-size * 2;

            &:hover > i {
                color: variables.$theme-accent-color-primary;
            }
        }
    }
}
