@use 'sass:math';
@use 'sass:color';

@use 'variables';

:host {
    display: block;

    &.disabled {
        opacity: .5;

        .toggle-container {
            cursor: default;
        }
    }

    label {
        cursor: pointer;
    }

    p {
        font-size: variables.$default-font-size * .8;
        font-style: italic;
        line-height: variables.$default-font-size;
    }

    .toggle-container {
        cursor: pointer;
        position: relative;

        &.off {
            .toggle-background {
                background-color: variables.$color-gray-300;
            }

            .toggle-foreground {
                left: math.div(variables.$base-size, 4);
            }
        }

        &.on {
            .toggle-background {
                background-color: variables.$color-success;
            }

            .toggle-foreground {
                left: variables.$base-size * 3.25;
            }
        }

        .toggle-background {
            align-items: center;
            border-radius: variables.$base-size;
            display: flex;
            justify-content: space-between;
            padding: math.div(variables.$base-size, 2);
            transition: ease-in background-color .1s;
            width: variables.$base-size * 4;

            .fa-check {
                color: color.adjust(variables.$color-success, $lightness: 60%);
                height: variables.$base-size;
                width: variables.$base-size;
            }

            .fa-times {
                color: variables.$color-slate;
                height: variables.$base-size;
                width: variables.$base-size;
            }
        }

        .toggle-foreground {
            background-color: variables.$color-white;
            border-radius: variables.$base-size;
            height: variables.$base-size * 1.5;
            position: absolute;
            top: math.div(variables.$base-size, 4);
            transition: ease-in left .1s;
            width: variables.$base-size * 1.5;
        }
    }
}
