@import 'variables';

$tile-slide-header-height: $base-size * 6;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    #tile-slide-header{
        button {
            &:not(:first-child) {
                margin-left: $base-size;
            }
        }

        #tile-slide-state {
            #tile-slide-time {
                font-family: monospace;
            }
        }
    }
    
    #tile-slide-content {
        flex: 1;
        flex-direction: row;

        #tile-slide-container {
            display: flex;
            flex-direction: column;
            max-height: 100%;
            max-width: 100%;

            #tile-slide-board {
                aspect-ratio: 1/1;
                border-style: solid;
                border-width: 2px;
                display: flex;
                flex: 1;
                flex-direction: column;
                max-height: 100%;
                max-width: 100%;
                position: relative;

                > .row {
                    flex: 1;
                    max-height: calc(100% / 4);
                }

                .tile {
                    border-style: solid;
                    border-width: 1px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (min-width: 0px) {
    #tile-slide-header {
        height: $tile-slide-header-height * .5;
    }

    #tile-slide-content {
        max-height: calc(100% - $tile-slide-header-height * .5);
    }
}

@media (min-width: $breakpoint-tablet) {
    #tile-slide-header {
        height: $tile-slide-header-height * .75;
    }

    #tile-slide-content {
        max-height: calc(100% - $tile-slide-header-height * .75);
    }
}

@media (min-width: $breakpoint-desktop) {
    #tile-slide-header {
        height: $tile-slide-header-height;
    }

    #tile-slide-content {
        max-height: calc(100% - $tile-slide-header-height);
    }
}
