@use 'sass:math';

@import 'variables';

:host {
    background-color: $color-white;

    .setting-group {
        background-color: $color-ivory;
        border-radius: math.div($base-size, 4);
        margin: math.div($base-size, 2);
        padding: math.div($base-size, 2);

        h5 {
            font-weight: normal;
        }

        ak-toggle {
            &:not(:last-child) {
                margin-bottom: $base-size;
            }
        }
    }
}
