@import 'variables';

:host {
    background-color: $color-white;

    .setting {
        padding-left: $base-size;
        padding-right: $base-size;
        padding-top: $base-size;

        &:last-child {
            padding-bottom: $base-size;
        }
    }
}
