@use 'sass:math';

@import 'variables';

.setting-group {
    background-color: $color-ivory;
    border-radius: math.div($base-size, 4);
    padding: math.div($base-size, 2);

    &:not(:first-child) {
        margin-top: $base-size;
    }

    h5 {
        font-weight: normal;
    }

    ak-toggle {
        &:not(:last-child) {
            margin-bottom: $base-size;
        }
    }
}
