@use 'sass:math';

@use 'variables';

.setting-group {
    background-color: variables.$theme-bg-color-secondary;
    border-radius: math.div(variables.$base-size, 4);

    &:not(:first-child) {
        margin-top: variables.$base-size;
    }

    h5 {
        font-weight: normal;
    }

    ak-toggle {
        &:not(:last-child) {
            margin-bottom: variables.$base-size;
        }
    }

    .fa-skull {
        color: variables.$theme-icon-color-negative-on-secondary;
    }
}
