@use 'sass:math';

@use 'variables';
@use 'mixins';

#skills-carousel {
    background-color: variables.$theme-bg-color-secondary;
    border-bottom: 1px solid variables.$theme-font-color-normal;
    border-top: 1px solid variables.$theme-font-color-normal;
    display: flex;

    ak-skill {
        transition: ease-in-out transform 1s;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }
}

@include mixins.for-xs-screens {
    ak-skill {
        width: math.div(100%, 3);
    }
}

@include mixins.for-md-screens {
    ak-skill {
        width: math.div(100%, 4);
    }
}

@include mixins.for-lg-screens {
    ak-skill {
        width: math.div(100%, 6);
    }
}
