<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-4 px-xxl-0">
            <div class="col-12 offset-xxl-2 col-xxl-8">
                <ak-section-title [text]="title"></ak-section-title>
            </div>
        </div>
        <div #skillsCarousel
            id="skills-carousel"
            class="py-3"
            (mouseover)="mouseover()"
            (mouseout)="mouseout()">
            <ng-container *ngFor="let skill of skills">
                <ak-skill
                    [name]="skill.name"
                    [icon]="skill.icon"
                    [type]="skill.type"
                ></ak-skill>
            </ng-container>
        </div>
    </div>
</section>
