<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row no-gutters px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div class="row no-gutters mb-5 px-5 px-lg-0">
            <div class="col-12 offset-lg-2 col-lg-4">
                <p>Building web apps professionally in my job with NAVEX, as well as personally with various hobby projects, has helped me developed a strong proficiency with TypeScript and Angular. It is what I find myself working with most and is my biggest strength in web development. But expanding my knowledge with other tools is never far off my mind.</p>
                <p>Take a look below to see where my skills and experience with various tools stand.</p>
            </div>
        </div>
        <div class="row no-gutters justify-content-center px-5 px-lg-0">
            <div class="col-12 col-lg-8">
                <div class="row no-gutters">
                    <div *ngFor="let skill of skills"
                        akTooltip
                        tabindex="0"
                        class="skill-wrapper light-focus col-3 position-relative d-flex justify-content-center align-items-center"
                        [ngClass]="skill.color"
                        [tooltipContent]="skill.name">
                        <i [ngClass]="skill.icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
