@use 'sass:math';

@use 'variables';

#skills-carousel {
    background-color: variables.$theme-content-background;
    border-bottom: 1px solid variables.$theme-font-color;
    border-top: 1px solid variables.$theme-font-color;
    display: flex;

    ak-skill {
        transition: ease-in-out transform 1s;
    }
}

@media (min-width: 0px) {
    ak-skill {
        width: math.div(100%, 3);
    }
}

@media (min-width: variables.$breakpoint-tablet) {
    ak-skill {
        width: math.div(100%, 4);
    }
}

@media (min-width: variables.$breakpoint-desktop) {
    ak-skill {
        width: math.div(100%, 6);
    }
}
