<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div class="row g-0 mb-5 px-5 px-lg-0">
            <div class="col-12 offset-lg-2 col-lg-4">
                <p>Building web apps professionally in my job with NAVEX, as well as personally with various hobby projects, has helped me developed a strong proficiency with TypeScript and Angular. It is what I find myself working with most and is my biggest strength in web development. But expanding my knowledge with other tools is never far off my mind.</p>
                <p>Take a look below to see where my skills and experience with various tools stand.</p>
            </div>
        </div>
        <div class="row g-0 px-5 px-lg-0">
            <div class="col-12 offset-lg-2 col-lg-8">
                <div class="row g-0 mb-5">
                    <ak-skill class="col-2" [name]="'HTML5'" [icon]="'fab fa-html5'" [level]="5"></ak-skill>
                    <ak-skill class="col-2" [name]="'Angular'" [icon]="'fab fa-angular'" [level]="5"></ak-skill>
                    <ak-skill class="col-2" [name]="'TypeScript'" [icon]="'devicon-typescript-plain'" [level]="4"></ak-skill>
                    <ak-skill class="col-2" [name]="'CSS3'" [icon]="'fab fa-css3-alt'" [level]="5"></ak-skill>
                    <ak-skill class="col-2" [name]="'Sass'" [icon]="'fab fa-sass'" [level]="3"></ak-skill>
                    <ak-skill class="col-2" [name]="'Bootstrap'" [icon]="'fab fa-bootstrap'" [level]="5"></ak-skill>
                </div>
                <div class="row g-0 mb-5">
                    <ak-skill class="col-2" [name]="'C#'" [icon]="'devicon-csharp-plain'" [level]="4"></ak-skill>
                    <ak-skill class="col-2" [name]="'.NET'" [icon]="'devicon-dot-net-plain'" [level]="3"></ak-skill>
                    <ak-skill class="col-2" [name]="'SQL'" [icon]="'fas fa-database'" [level]="3"></ak-skill>
                    <ak-skill class="col-2" [name]="'PHP'" [icon]="'fab fa-php'" [level]="2"></ak-skill>
                </div>
                <div class="row g-0">
                    <ak-skill class="col-2" [name]="'Git'" [icon]="'fab fa-git-alt'" [level]="5"></ak-skill>
                    <ak-skill class="col-2" [name]="'Visual Studio Code'" [icon]="'devicon-vscode-plain'" [level]="5"></ak-skill>
                    <ak-skill class="col-2" [name]="'Visual Studio'" [icon]="'devicon-visualstudio-plain'" [level]="4"></ak-skill>
                    <ak-skill class="col-2" [name]="'Windows'" [icon]="'fab fa-windows'" [level]="5"></ak-skill>
                    <ak-skill class="col-2" [name]="'Jira'" [icon]="'fab fa-jira'" [level]="4"></ak-skill>
                    <ak-skill class="col-2" [name]="'Confluence'" [icon]="'fab fa-confluence'" [level]="4"></ak-skill>
                </div>
            </div>
        </div>
    </div>
</section>
