@use 'sass:math';

@use 'variables';

:host {
    display: block;
    height: 100%;

    #difficulty-easy {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    #difficulty-medium {
        border-left-width: 0;
        border-radius: 0;
        border-right-width: 0;
    }

    #difficulty-hard {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    [id^=difficulty-] {
        padding: variables.$base-size;
        text-align: center;
        width: 100%;

        &.selected {
            background-color: variables.$color-sudoku-light;
            color: variables.$color-sudoku-dark;
            font-weight: bold;
        }
    }
}
