<div class="container g-0 h-100 d-flex flex-column justify-content-center">
    <ng-container [ngSwitch]="gameManager.menu()">
        <ng-container *ngSwitchCase="MenuState.main">
            <div class="row g-0 px-2 px-md-0 mb-5">
                <h1 class="text-center text-uppercase">Sudoku</h1>
            </div>
            <div class="row g-0 px-2 px-md-0">
                <button class="fs-2 text-start px-3" (click)="gameManager.menu.set(MenuState.new)">New</button>
            </div>
            <div class="row g-0 px-2 px-md-0 mt-3">
                <div class="col">
                    <button class="d-flex align-items-center justify-content-between fs-2 px-3 w-100" [disabled]="!gameManager.savedGame" (click)="resume()">
                        <span>Resume</span>
                        <div *ngIf="gameManager.savedGame" class="d-flex align-items-center">
                            <span class="d-none d-md-inline fs-6 font-family-monospace">{{ gameManager.savedGame.time$ | async }}</span>
                            <span class="fs-6 ms-3">{{ gameManager.savedGame.difficulty | sudokuDifficulty }}</span>
                            <i *ngIf="gameManager.savedGame.hardcore" class="fas fa-skull fs-6 ms-3"></i>
                        </div>
                    </button>
                </div>
                <div *ngIf="gameManager.savedGame" class="col-auto ms-2 ms-md-3">
                    <button akTooltip
                        class="cancel-button px-3"
                        [tooltipContent]="'Delete Save'"
                        (click)="gameManager.deleteSave()">
                        <i class="fas fa-times fs-1"></i>
                    </button>
                </div>
            </div>
            <div class="row g-0 px-2 px-md-0 mt-3">
                <button class="fs-2 text-start px-3" (click)="showSettingsDialog()">Settings</button>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="MenuState.new">
            <ng-template #difficultyCard let-icon="icon">
                <div class="difficulty-card p-3 text-center">
                    <i class="fas fa-3x" [ngClass]="icon"></i>
                </div>
                <div class="difficulty-radio-label"></div>
            </ng-template>

            <div class="row g-0 px-2 px-md-0 mb-5">
                <h2>New Game</h2>
            </div>
            <div class="row align-items-center px-2 px-md-0">
                <div class="col-12 mb-2">
                    <label>Difficulty</label>
                </div>
                <div class="col-4 position-relative">
                    <div class="difficulty">
                        <input type="radio"
                            id="difficulty-easy"
                            class="difficulty-radio mx-2 position-absolute"
                            name="difficulty"
                            [value]="Difficulty.easy"
                            [(ngModel)]="difficulty"
                        />
                        <label for="difficulty-easy">
                            <div class="difficulty-text position-absolute">Easy</div>
                            <ng-container
                                [ngTemplateOutlet]="difficultyCard"
                                [ngTemplateOutletContext]="{ icon: 'fa-laugh' }"
                            ></ng-container>
                        </label>
                    </div>
                </div>
                <div class="col-4 position-relative">
                    <div class="difficulty">
                        <input type="radio"
                            id="difficulty-medium"
                            class="difficulty-radio mx-2 position-absolute"
                            name="difficulty"
                            [value]="Difficulty.medium"
                            [(ngModel)]="difficulty"
                        />
                        <label for="difficulty-medium">
                            <div class="difficulty-text position-absolute">Medium</div>
                            <ng-container
                                [ngTemplateOutlet]="difficultyCard"
                                [ngTemplateOutletContext]="{ icon: 'fa-smile' }"
                            ></ng-container>
                        </label>
                    </div>
                </div>
                <div class="col-4 position-relative">
                    <div class="difficulty">
                        <input type="radio"
                            id="difficulty-hard"
                            class="difficulty-radio mx-2 position-absolute"
                            name="difficulty"
                            [value]="Difficulty.hard"
                            [(ngModel)]="difficulty"
                        />
                        <label for="difficulty-hard">
                            <div class="difficulty-text position-absolute">Hard</div>
                            <ng-container
                                [ngTemplateOutlet]="difficultyCard"
                                [ngTemplateOutletContext]="{ icon: 'fa-surprise' }"
                            ></ng-container>
                        </label>
                    </div>
                </div>
            </div>
            <ak-toggle
                class="px-2 px-md-0 mt-1"
                [label]="'Hardcore'"
                [labelCols]="'12'"
                [labelDescription]="'Assistive settings will be disabled and any incorrect entry immediately ends the game!<br><br>Can you complete Sudoku without any mistakes?'"
                [(value)]="hardcore"
            ></ak-toggle>
            <ak-text class="px-2 px-md-0 mt-3"
                [buttonClass]="'fas fa-random'"
                [buttonTooltip]="'Randomize'"
                [label]="'Seed'"
                [maxLength]="16"
                [(value)]="seed"
                (buttonClick)="randomizeSeed()"
            ></ak-text>
            <div class="row g-0 px-2 px-md-0 mt-5">
                <div class="col me-2">
                    <button class="confirm-button w-100" (click)="startNew()">Start</button>
                </div>
                <div class="col ms-2">
                    <button class="cancel-button w-100" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
