@use 'sass:math';

@use 'variables';

:host {
    display: block;
    height: 100%;

    button {
        &:hover {
            .fa-skull {
                color: variables.$theme-icon-color-negative-on-secondary;
            }
        }

        .fa-skull {
            color: variables.$theme-icon-color-negative-on-primary;
        }
    }

    .difficulty {
        &:hover {
            .difficulty-card, .difficulty-radio-label {
                border-color: variables.$theme-accent-color-primary;
            }

            .fas {
                color: variables.$theme-accent-color-primary;
            }
        }

        [for^=difficulty-] {
            cursor: pointer;
        }

        .difficulty-radio {
            bottom: math.div(variables.$base-size, 1.6);
            pointer-events: none;

            &:checked + label {
                .difficulty-card {
                    background-color: variables.$theme-accent-color-primary;
                    border-color: variables.$theme-accent-color-primary;
                }

                .difficulty-radio-label {
                    border-color: variables.$theme-accent-color-primary;
                }

                .fas {
                    color: variables.$color-white;
                }
            }
        }

        .difficulty-text {
            bottom: math.div(variables.$base-size, 2);
            left: variables.$base-size * 2.5;
        }

        .difficulty-card {
            border: 1px solid variables.$color-gray;
            border-top-left-radius: math.div(variables.$base-size, 4);
            border-top-right-radius: math.div(variables.$base-size, 4);
        }

        .difficulty-radio-label {
            border-bottom: 1px solid variables.$color-gray;
            border-left: 1px solid variables.$color-gray;
            border-right: 1px solid variables.$color-gray;
            border-bottom-left-radius: math.div(variables.$base-size, 4);
            border-bottom-right-radius: math.div(variables.$base-size, 4);
            height: variables.$base-size * 2;
        }
    }
}
