// https://github.com/angular/angular-cli/wiki/stories-global-styles
@import 'variables';

// Defaults
html {
    height: 100%;
}

body {
    background-color: $off-white;
    color: $black;
    font-family: $default-font-family;
    font-size: $default-font-size;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    animation-name: $body-overflow-name;
    animation-duration: $body-overflow-duration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: $body-overflow-delay;
}

section {
    border-bottom: .25rem solid $black;

    .background {
        left: 0;
        opacity: 0.5;
        top: 0;
    }

    .content {
        padding: $base-size * 5 0;
    }
}

.section-title-text {
    font-size: $section-title-font-size;
    font-weight: $section-title-font-weight;
}

// ::selection {
//     background-color: $magenta;
// }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h1 {
    padding: $base-size * 3;
}

h3 {
    font-weight: bold;
    padding-bottom: $base-size * 2;
}

// Color classes
.color-black {
    color: $black;
    fill: $black;
    stroke: $black;
}

@for $i from 1 through length($class-colors) {
    .color-#{$i} {
        // background-color: nth($class-colors, $i);
        color: nth($class-colors, $i);
        fill: nth($class-colors, $i);
        stroke: nth($class-colors, $i);
        
        // &::selection, h1::selection, h3::selection, p::selection, li::selection, label::selection {
        //     background-color: nth($class-complement-colors, $i);
        // }
    }
    .color-#{$i}-light {
        // background-color: lighten(nth($class-colors, $i), 5%);
        color: lighten(nth($class-colors, $i), 5%);
        fill: lighten(nth($class-colors, $i), 5%);
        stroke: lighten(nth($class-colors, $i), 5%);

        // &::selection, h1::selection, h3::selection, p::selection, li::selection, label::selection {
        //     background-color: nth($class-complement-colors, $i);
        // }
    }
    .color-#{$i}-dark {
        // background-color: darken(nth($class-colors, $i), 5%);
        color: darken(nth($class-colors, $i), 5%);
        fill: darken(nth($class-colors, $i), 5%);
        stroke: darken(nth($class-colors, $i), 5%);

        // &::selection, h1::selection, h3::selection, p::selection, li::selection, label::selection {
        //     background-color: nth($class-complement-colors, $i);
        // }
    }
}

// Brand color classes
.github-purple {
    color: $white;

    &:hover {
        color: $github-purple;
    }
}

.linkedin-blue {
    color: $white;

    &:hover {
        color: $linkedin-blue;
    }
}

.spotify-green {
    color: $black;

    &:hover {
        color: $spotify-green;
    }
}

.youtube-red {
    color: $black;

    &:hover {
        color: $youtube-red;
    }
}

// Misc
.list-unstyled {
    margin-bottom: 0;
}

.defer-load {
    animation-name: $defer-load-name;
    animation-duration: $defer-load-duration;
    animation-timing-function: linear;
}

.rainbow {
    background: linear-gradient(130deg, $red, $orange, $yellow, $green, $teal, $blue, $purple, $magenta);
    background-size: 1000% 1000%;
    animation-name: $rainbow-name !important;
    animation-duration: $rainbow-duration !important;
    animation-timing-function: ease !important;
    animation-iteration-count: infinite !important;
    animation-delay: $rainbow-delay !important;
}

// Keyframes
@keyframes #{$title-outline-name} {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes #{$title-fill-name} {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

@keyframes #{$title-slide-name} {
    from {
        height: 100%;
    }
    to {
        height: 15%;
    }
}

@keyframes #{$svg-font-size-name} {
    0% {
        font-size: $default-font-size;
    }
    100% {
        font-size: $default-font-size * 2.5;
    }
}

@keyframes #{$slant-appear-name} {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{$defer-load-name} {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{$rainbow-name} {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
