@import 'variables';

.contact-icon-wrapper {
    display: inline-block;
    margin-left: $base-size * 2;

    &:first-child {
        margin-left: 0;
    }

    .contact-icon {
        height: $base-size * 2;
        text-decoration: none;
        transition: ease-in color .1s;
        width: $base-size * 2;

        &-white {
            color: $color-white;

            &:hover {
                color: $color-app-accent-2;
            }
        }

        &-black {
            color: $color-black;

            &:hover {
                color: $color-app-accent-2;
            }
        }
    }
}
