$black                  : #333;
$white                  : #fff;
$off-white              : #eee;

$about                  : #fa4e71;
$education              : #61b0ff;
$experience             : #c7fa4e;
$skills                 : #814efa;
$contact                : #fa814e;