@import 'variables';

$opacity-name               : kfOpacity;
$opacity-duration           : .5s;
$opacity-timing             : ease-in;
@keyframes #{$opacity-name} {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

$shrink-name                : kfShrink;
$shrink-duration            : .25s;
$shrink-timing              : ease-in;
@keyframes #{$shrink-name} {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

$grow-name                  : kfGrow;
$grow-duration              : .25s;
$grow-timing                : ease-in;
@keyframes #{$grow-name} {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

$rotate-name                : kfRotate;
$rotate-duration            : 2s;
$rotate-timing              : linear;
@keyframes #{$rotate-name} {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

$bounce-name                : kfBounce;
$bounce-duration            : 2s;
$bounce-timing              : ease-in-out;
@keyframes #{$bounce-name} {
    0% {
        transform: translateY(-50%);
    }
    15% {
        transform: translateY(0%);
    }
    35% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}

$bg-gradient-name           : kfGradientChange;
$bg-gradient-duration       : 2s;
$bg-gradient-timing         : ease-in-out;
@keyframes #{$bg-gradient-name} {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -100% -100%;
    }
}
