// Colors
$color-white                : #fff;
$color-ivory                : #eaeaea;
$color-light-grey           : #d3d3d3;
$color-grey                 : #888;
$color-dark-grey            : #434343;
$color-black                : #333;

$color-app-primary          : #1c4670;
$color-app-accent-1         : #278ab0;
$color-app-accent-2         : #1dc690;

$color-app-gradient         : linear-gradient(45deg, $color-app-primary, $color-app-accent-1, $color-app-accent-2);

// Settings
$base-size                  : 1rem;

$default-font-family        : 'Montserrat', sans-serif;
$default-font-size          : $base-size;
