// -----------------------------------------
// Colors
// -----------------------------------------

$color-white                : #fff;
$color-ivory                : #eaeaea;
$color-gray-100             : #ddd;
$color-gray-200             : #ccc;
$color-gray-300             : #bbb;
$color-gray-400             : #9c9c9c;
$color-gray-500             : #888;
$color-gray                 : $color-gray-500;
$color-gray-600             : #777;
$color-gray-700             : #666;
$color-gray-800             : #555;
$color-slate                : #434343;
$color-black                : #333;
$color-red                  : #e23434;
$color-orange               : #e28234;
$color-yellow               : #e2e234;
$color-green                : #34e282;
$color-cyan                 : #34e2e2;
$color-blue                 : #3482e2;
$color-purple               : #8234e2;

$color-app-primary          : #1c4670;
$color-app-accent-1         : #278ab0;
$color-app-accent-2         : #1dc690;

$color-success              : $color-green;
$color-error                : $color-red;

$color-app-gradient         : linear-gradient(45deg, $color-app-primary, $color-app-accent-1, $color-app-accent-2);

// Games
$color-easy                 : green;
$color-easy-light           : lighten(green, 60%);
$color-medium               : goldenrod;
$color-medium-light         : lighten(goldenrod, 30%);
$color-hard                 : red;
$color-hard-light           : lighten(red, 40%);

// Sudoku
$color-sudoku-yellow        : #d6d652;

// Solitaire
$color-solitaire-green      : #38b64a;
$color-solitaire-dark-green : #208a2e;
$color-solitaire-blue       : #48bfe5;

// Warships
$color-warships             : #5298d6;

// -----------------------------------------
// Core settings
// -----------------------------------------
$base-size                  : 1rem;
$base-z-index               : 0;

$default-font-family        : 'Montserrat', sans-serif;
$default-font-size          : $base-size;
$font-awesome-font-family   : 'Font Awesome 5 Free';

// -----------------------------------------
// Theme
// -----------------------------------------
$theme-primary-background   : var(--theme-primary-background);
$theme-content-background   : var(--theme-content-background);
$theme-font-color           : var(--theme-font-color);

$theme-hoverable-background : var(--theme-hoverable-background);
$theme-hoverable-font-color : var(--theme-hoverable-font-color);

// -----------------------------------------
// Effects
// -----------------------------------------
$soft-box-shadow            : 0 2px 10px 0 rgba(0, 0, 0, .15);
$hard-box-shadow            : 0 2px 10px 0 rgba(0, 0, 0, .55);

// -----------------------------------------
// Breakpoints
// -----------------------------------------
$breakpoint-tablet          : 768px;
$breakpoint-desktop         : 992px;

// -----------------------------------------
// Z-indexes
// -----------------------------------------
$z-index-bump               : $base-z-index + 100;
$z-index-header             : 1000;
$z-index-menu               : 2000;
$z-index-dialog             : 10000;
$z-index-tooltip            : 100000;
