@use 'sass:color';

@use 'variables';

:host {
    background-color: color.mix(variables.$color-red, transparent, $weight: 35%);
    border-bottom: 2px solid variables.$color-red;
    border-top: 2px solid variables.$color-red;
    box-sizing: border-box;
    height: variables.$base-size * 6;

    .newsflash-moving-content {
        align-items: center;
        display: flex;
        height: 100%;

        #ship-sank-message {
            color: variables.$color-red;
            font-family: variables.$industrial-font-family;
            font-size: variables.$default-font-size * 3;
        }
    }
}
