@use 'sass:color';
@use 'sass:math';

@use 'variables';
@use 'functions';

$red-on-grid: functions.adjust-to-contrast(variables.$color-red, variables.$color-sky, 3, $prefer: 'darken');

:host {
    display: block;
    height: 100%;

    #sidebar {
        border-right: 1px solid variables.$theme-font-color-normal;
        width: variables.$base-size * 22;

        #sidebar-content {
            // Need specific non-percentage height in order for event log to overflow correctly
            // TODO - this will need to be media-queried
            height: calc(100vh - (variables.$base-size * 8)); // 100vh - header height(6rem) - sidebar padding(2rem)

            .deployable-ship {
                background-color: variables.$theme-bg-color-secondary;
                border: 1px solid variables.$theme-font-color-normal;
                border-radius: math.div(variables.$base-size, 4);
                cursor: grab;
                height: variables.$base-size * 3;

                &:not(:first-child) {
                    margin-top: variables.$base-size;
                }
            }

            #deployable-ship-preview {
                background-color: variables.$theme-bg-color-secondary;
                opacity: .5;
                position: absolute;
                top: -2000px;
            }

            #event-log {
                list-style: none;
                margin: 0;
                padding: 0;

                li:nth-child(even) {
                    background-color: variables.$theme-bg-color-secondary;
                }
            }
        }
    }

    #grid-container {
        background: radial-gradient(
            color.mix(variables.$color-blue, variables.$color-sky),
            variables.$color-sky
        );
        box-sizing: border-box;
        height: 100%;
        position: relative;
        width: 100%;

        #grid {
            aspect-ratio: 1 / 1;
            border: 1px solid variables.$color-black;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: relative;

            &.player-turn {
                .sector:not(.targeted):hover {
                    background-color: color.mix(variables.$color-white, transparent);
                    cursor: crosshair;
                }
            }

            #grid-col-labels {
                color: variables.$color-black;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                height: variables.$base-size * 2;
                position: absolute;
                top: -(variables.$base-size * 2);
                width: 100%;

                .grid-col-label {
                    align-self: center;
                    font-family: variables.$industrial-font-family;
                    font-size: variables.$default-font-size * 2;
                    text-align: center;
                }
            }

            #grid-row-labels {
                color: variables.$color-black;
                display: grid;
                grid-template-rows: repeat(10, 1fr);
                height: 100%;
                left: -(variables.$base-size * 2);
                position: absolute;
                width: variables.$base-size * 2;

                .grid-row-label {
                    align-self: center;
                    font-family: variables.$industrial-font-family;
                    font-size: variables.$default-font-size * 2;
                    text-align: center;
                }
            }

            .sector {
                aspect-ratio: 1 / 1;
                border: 1px solid variables.$color-black;
                box-sizing: border-box;
            }

            #deployable-ship-placeholder {
                background-color: variables.$color-green;
                pointer-events: none;
                position: absolute;
            }

            .deployed-ship {
                border: 1px solid variables.$color-black;
                padding: variables.$base-size;

                &[draggable=true] {
                    cursor: grab;
                }

                // Vertical orientation
                &[data-ship-orientation="2"] {
                    .ship-model span {
                        transform: rotate(90deg);
                    }
                }

                .ship-model {
                    background: variables.$color-white;
                    border-radius: math.div(variables.$base-size, 2);
                    color: variables.$color-black;

                    span {
                        text-wrap: nowrap;
                    }
                }
            }
        }

        #grid-overlays-container {
            box-sizing: border-box;
            height: 100%;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 100%;

            #grid-overlays {
                aspect-ratio: 1 / 1;
                border: 1px solid transparent;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);
                margin: auto;
                max-height: 100%;
                max-width: 100%;

                .sector-overlay {
                    aspect-ratio: 1 / 1;
                    border: 1px solid transparent;
                    box-sizing: border-box;

                    .fa-map-marker {
                        &.miss {
                            color: variables.$color-white;
                        }

                        &.hit {
                            color: $red-on-grid;
                        }
                    }
                }

                .fa-crosshairs {
                    color: $red-on-grid;
                }
            }
        }
    }
}
