<div class="row g-0 h-100">
    <div id="sidebar" class="col-auto p-3">
        <div id="sidebar-content" class="d-flex flex-column">
            <ng-container *ngIf="gameManager.gameInstance.gameState() === GameState.deploying; else gameEvents">
                <div class="d-flex flex-column">
                    <button class="mb-3" (click)="deployRandomly(playerGrid)">Randomize</button>
                </div>

                <div class="flex-grow-1">
                    <div class="d-flex flex-column">
                        <div *ngFor="let ship of deployableShips()"
                            class="deployable-ship d-flex align-items-center justify-content-center"
                            draggable="true"
                            [attr.data-ship-id]="ship.id"
                            [attr.data-ship-length]="ship.length"
                            [attr.data-ship-orientation]="ship.orientation"
                            (dragstart)="shipDragStart($event)"
                            (dragend)="shipDragEnd($event)"
                        >
                            <span>{{ ship.name }} ({{ ship.length }})</span>
                        </div>
                    </div>
                </div>

                <!-- <div id="deployable-ship-preview" class="d-none"></div> -->
            </ng-container>
            <ng-template #gameEvents>
                <div id="event-log-container" class="flex-grow-1 overflow-y-auto mb-3">
                    <ul id="event-log">
                        <li *ngFor="let event of gameManager.gameInstance.eventLog">
                            <ng-container [ngSwitch]="event.type">
                                <span *ngSwitchCase="EventType.miss" class="me-1">[MISS]</span>
                                <span *ngSwitchCase="EventType.hit" class="me-1">[HIT]</span>
                            </ng-container>
                            <span>{{ event.message }}</span>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <div class="d-flex flex-column">
                <button *ngIf="gameManager.gameInstance.gameState() === GameState.deploying"
                    akTooltip
                    tooltipContent="All ships must be placed on the grid before deploying!"
                    class="confirm-button mb-3"
                    [disabled]="deployableShips().length > 0"
                    [tooltipEnabled]="deployableShips().length > 0"
                    [tooltipPosition]="TooltipPosition.right"
                    (click)="deploy()"
                >
                    <span>Deploy</span>
                </button>
                <!-- <button class="mb-3" (click)="testVictory()">Victory</button> -->
                <button class="mb-3" (click)="showSettingsDialog()">Settings</button>
                <button class="mb-3" (click)="showHelpDialog()">Help</button>
                <button class="cancel-button" (click)="quit(true)">Quit</button>
            </div>
        </div>
    </div>

    <div id="grid-container" class="col p-5">
        <div id="grid"
            [ngClass]="{
                'player-turn': gameManager.gameInstance.turn() === Turn.player,
                'computer-turn': gameManager.gameInstance.turn() === Turn.computer
            }"
            (dragleave)="gridDragLeave($event)"
        >
            <div id="grid-col-labels">
                <span *ngFor="let col of [].constructor(10); let i = index" class="grid-col-label">{{ i + 1 }}</span>
            </div>

            <div id="grid-row-labels">
                <span *ngFor="let col of [].constructor(10); let i = index" class="grid-row-label">{{ String.fromCharCode(65 + i) }}</span>
            </div>

            <ng-container *ngFor="let row of gridSectors(); let r = index">
                <ng-container *ngFor="let sector of row; let c = index">
                    <div *ngIf="gameManager.gameInstance.turn() === Turn.player || !sector.state.hasFlag(SectorState.ship)"
                        class="sector"
                        [ngClass]="{
                            'targeted': sector.state.hasFlag(SectorState.miss) || sector.state.hasFlag(SectorState.hit)
                        }"
                        [attr.data-row]="r"
                        [attr.data-col]="c"
                        (dragover)="sectorDragOver($event)"
                        (drop)="sectorDrop($event)"
                        (click)="sectorClick(r, c)"
                    ></div>
                </ng-container>
            </ng-container>

            <div *ngIf="showPlaceholder()" id="deployable-ship-placeholder"></div>

            <div *ngFor="let ship of deployedShips()"
                class="deployed-ship"
                [draggable]="gameManager.gameInstance.gameState() === GameState.deploying"
                [attr.data-ship-id]="ship.id"
                [attr.data-ship-length]="ship.length"
                [attr.data-ship-orientation]="ship.orientation"
                [style.gridRowStart]="ship.anchorSector.row + 1"
                [style.gridRowEnd]="ship.orientation === ShipOrientation.horizontal ? 'span 1' : ('span ' + ship.length)"
                [style.gridColumnStart]="ship.anchorSector.col + 1"
                [style.gridColumnEnd]="ship.orientation === ShipOrientation.horizontal ? ('span ' + ship.length) : 'span 1'"
                (dragstart)="shipDragStart($event)"
                (dragend)="shipDragEnd($event)"
                (click)="rotateShip(ship.id)"
            >
                <div class="ship-model h-100 w-100 d-flex align-items-center justify-content-center position-relative">
                    <span class="position-absolute">{{ ship.name }}</span>
                    <!-- TODO - ship art -->
                    <!-- <img priority
                        fill="true"
                        [alt]="ship.name"
                        [ngSrc]="'/assets/images/warships/' + ship.id + '.png'"
                        [ngClass]="ship.orientation === ShipOrientation.vertical ? 'vertical' : ''"
                    > -->
                </div>
            </div>
        </div>

        <div id="grid-overlays-container" class="p-5">
            <div id="grid-overlays">
                <i id="crosshairs" class="fas fa-3x fa-spin fa-crosshairs" style="display: none"></i>

                <ng-container *ngFor="let row of gridSectors(); let r = index">
                    <ng-container *ngFor="let sector of row; let c = index">
                        <div class="sector-overlay d-flex align-items-center justify-content-center"
                            [attr.data-row]="r"
                            [attr.data-col]="c"
                        >
                            <i *ngIf="sector.state.hasFlag(SectorState.miss) || sector.state.hasFlag(SectorState.hit)"
                                class="fas fa-2x fa-map-marker"
                                [ngClass]="{
                                    'miss': sector.state.hasFlag(SectorState.miss),
                                    'hit': sector.state.hasFlag(SectorState.hit)
                                }"
                            ></i>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
