@use 'sass:color';
@use 'sass:math';

@use 'variables';
@use 'functions';

$red-on-grid: functions.adjust-to-contrast(variables.$color-red, variables.$color-sky, 3, $prefer: 'darken');

$drag-message-duration: 2s;
$drag-message-timing: ease-in-out;
$drag-message-hand-name: kfDragMessageHand;
@keyframes #{$drag-message-hand-name} {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(200%);
    }
}
$drag-message-arrow-name: kfDragMessageArrow;
@keyframes #{$drag-message-arrow-name} {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

// Custom property for Deploy button
@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

:host {
    display: block;
    height: 100%;

    #sidebar {
        // 22 comes from (20 to maintain width for height:width ratio of 1:3.2 for the side profile ship images) + (2 for sidebar padding)
        width: variables.$base-size * 22;

        #sidebar-content {
            // Need specific non-percentage height in order for event log to overflow correctly
            // TODO - this will need to be media-queried
            height: calc(100vh - (variables.$base-size * 8)); // 100vh - header height(6rem) - sidebar padding(2rem)

            .deployable-ship {
                background-color: variables.$theme-bg-color-secondary;
                cursor: grab;
                // 6.25 maintains height for height:width ratio of 1:3.2 for the side profile ship images
                height: variables.$base-size * 6.25;

                &:not(:first-child) {
                    margin-top: variables.$base-size;
                }

                &:hover {
                    outline: 2px solid variables.$theme-accent-color-primary;
                }

                .ship-info {
                    pointer-events: none;
                    top: variables.$base-size;

                    &.ship-name {
                        left: variables.$base-size;
                    }

                    &.ship-length {
                        right: variables.$base-size;
                    }
                }
            }

            #drag-ships-message {
                .fa-hand-rock {
                    animation-duration: $drag-message-duration;
                    animation-name: $drag-message-hand-name;
                    animation-iteration-count: infinite;
                    animation-timing-function: $drag-message-timing;

                    @media (prefers-reduced-motion) {
                        animation-duration: 0s;
                    }
                }

                .fa-arrow-right {
                    animation-duration: $drag-message-duration;
                    animation-name: $drag-message-arrow-name;
                    animation-iteration-count: infinite;
                    animation-timing-function: $drag-message-timing;

                    @media (prefers-reduced-motion) {
                        animation-duration: 0s;
                    }
                }
            }

            // Fancy rotating gradient border on Deploy button when all ships are placed
            .confirm-button:not(:disabled):not(:hover) {
                --gradient-angle: 0deg;
                @keyframes rotateGradient {
                    to {
                        --gradient-angle: 360deg;
                    }
                }

                background-clip: padding-box;
                border-color: transparent;
                position: relative;

                &::after {
                    animation: rotateGradient 3s linear infinite;
                    background: conic-gradient(from var(--gradient-angle),
                        variables.$color-sky,
                        variables.$color-blue,
                        variables.$color-green,
                        variables.$color-sky
                    );
                    bottom: -(math.div(variables.$base-size, 8));
                    content: '';
                    left: -(math.div(variables.$base-size, 8));
                    position: absolute;
                    right: -(math.div(variables.$base-size, 8));
                    top: -(math.div(variables.$base-size, 8));
                    z-index: -1;
                }
            }

            label[for="event-log-toggle"] {
                cursor: pointer;
            }

            #event-log-toggle {
                .collapsed {
                    transform: rotate(270deg);
                }
            }

            #event-log {
                list-style: none;
                margin: 0;
                padding: 0;

                li:nth-child(even) {
                    background-color: variables.$theme-bg-color-secondary;
                }
            }
        }
    }

    #grid-container {
        background: radial-gradient(
            color.mix(variables.$color-blue, variables.$color-sky),
            variables.$color-sky
        );
        box-sizing: border-box;
        height: 100%;
        position: relative;
        width: 100%;

        #grid {
            aspect-ratio: 1 / 1;
            border: 1px solid variables.$color-black;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: relative;

            &.player-turn {
                .sector:not(.targeted):hover {
                    background-color: color.mix(variables.$color-white, transparent);
                    cursor: crosshair;
                }
            }

            #grid-col-labels {
                color: variables.$color-black;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                height: variables.$base-size * 2;
                position: absolute;
                top: -(variables.$base-size * 2);
                width: 100%;

                .grid-col-label {
                    align-self: center;
                    font-family: variables.$industrial-font-family;
                    font-size: variables.$default-font-size * 2;
                    text-align: center;
                }
            }

            #grid-row-labels {
                color: variables.$color-black;
                display: grid;
                grid-template-rows: repeat(10, 1fr);
                height: 100%;
                left: -(variables.$base-size * 2);
                position: absolute;
                width: variables.$base-size * 2;

                .grid-row-label {
                    align-self: center;
                    font-family: variables.$industrial-font-family;
                    font-size: variables.$default-font-size * 2;
                    text-align: center;
                }
            }

            .sector {
                aspect-ratio: 1 / 1;
                border: 1px solid variables.$color-black;
                box-sizing: border-box;
            }

            #deployable-ship-placeholder {
                background-color: variables.$color-green;
                pointer-events: none;
                position: absolute;
            }

            .deployed-ship {
                border: 1px solid variables.$color-black;

                &[draggable=true] {
                    cursor: grab;
                }
            }
        }

        #grid-overlays-container {
            box-sizing: border-box;
            height: 100%;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 100%;

            #sector-overlays {
                aspect-ratio: 1 / 1;
                border: 1px solid transparent;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);
                margin: auto;
                max-height: 100%;
                max-width: 100%;

                .sector-overlay {
                    aspect-ratio: 1 / 1;
                    border: 1px solid transparent;
                    box-sizing: border-box;

                    .fa-map-marker {
                        &.miss {
                            color: variables.$color-white;
                        }

                        &.hit {
                            color: $red-on-grid;
                        }
                    }
                }

                .fa-crosshairs {
                    color: $red-on-grid;
                }
            }
        }
    }
}
