<div class="row g-0 h-100">
    <div id="sidebar" class="col-auto p-3">
        <div id="sidebar-content" class="d-flex flex-column">
            <div class="row g-0 mb-3">
                <div class="col">
                    <button class="icon-button cancel-button" (click)="quit(true)"><i class="fas fa-sign-out-alt fa-rotate-180"></i></button>
                </div>
                <div class="col-auto">
                    <button class="icon-button" (click)="showHelpDialog()"><i class="fas fa-question-circle"></i></button>
                    <button class="icon-button" (click)="showSettingsDialog()"><i class="fas fa-cog"></i></button>
                </div>
            </div>

            <ng-container *ngIf="gameManager.gameInstance.gameState() === GameState.deploying; else postDeploymentElements">
                <div class="flex-grow-1">
                    <div class="d-flex flex-column">
                        <div *ngFor="let ship of deployableShips()"
                            class="deployable-ship d-flex position-relative"
                            draggable="true"
                            [attr.data-ship-id]="ship.id"
                            [attr.data-ship-length]="ship.length"
                            [attr.data-ship-orientation]="ship.orientation"
                            (dragstart)="shipDragStart($event)"
                            (dragend)="shipDragEnd($event)"
                        >
                            <label class="ship-info ship-name position-absolute">{{ ship.name }}</label>
                            <span class="ship-info ship-length position-absolute">{{ ship.length }} units</span>
                            <img fill="true" [ngSrc]="'assets/images/warships/' + ship.id + '.png'"/>
                        </div>
                    </div>

                    <div *ngIf="showDragShipsMessage()"
                        id="drag-ships-message"
                        class="mt-3 d-flex align-items-center justify-content-center"
                    >
                        <span>Drag ships to the grid</span>
                        <i class="fas fa-hand-rock ms-3"></i>
                        <i class="fas fa-arrow-right ms-3"></i>
                    </div>
                </div>
            </ng-container>
            <ng-template #postDeploymentElements>
                <!-- Fleet Statuses -->
                <div class="fleet-status mb-3">
                    <label>Your fleet</label>
                    <ak-warships-fleet-status
                        [isPlayer]="true"
                        [isFinal]="false"
                    ></ak-warships-fleet-status>
                </div>
                <div class="fleet-status mb-3">
                    <label>Opponent fleet</label>
                     <ak-warships-fleet-status
                        [isPlayer]="false"
                        [isFinal]="false"
                    ></ak-warships-fleet-status>
                </div>

                <!-- Event Log -->
                <div class="row g-0 justify-content-between">
                    <button id="event-log-toggle"
                        class="icon-button col-auto px-2 mr-2"
                        (click)="showEventLog.set(!showEventLog())"
                    >
                        <i class="fas fa-angle-down"
                            [ngClass]="{
                                'collapsed': !showEventLog()
                            }"
                        ></i>
                    </button>
                    <label class="col align-content-center" for="event-log-toggle">Event log</label>
                </div>
                <div id="event-log-container" class="flex-grow-1 overflow-y-auto">
                    <ul *ngIf="showEventLog()" id="event-log">
                        <li *ngFor="let event of gameManager.gameInstance.eventLog">
                            <ng-container [ngSwitch]="event.type">
                                <span *ngSwitchCase="EventType.miss" class="me-1">[MISS]</span>
                                <span *ngSwitchCase="EventType.hit" class="me-1">[HIT]</span>
                            </ng-container>
                            <span>{{ event.message }}</span>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <div class="d-flex flex-column">
                <button *ngIf="gameManager.gameInstance.gameState() === GameState.deploying"
                    class="mb-3"
                    (click)="deployRandomly(playerGrid)"
                >
                    <span>Randomize</span>
                </button>
                <button *ngIf="gameManager.gameInstance.gameState() === GameState.deploying"
                    akTooltip
                    tooltipContent="Cannot deploy until all ships are placed!"
                    class="confirm-button"
                    [disabled]="deployableShips().length > 0"
                    [tooltipEnabled]="deployableShips().length > 0"
                    [tooltipPosition]="TooltipPosition.right"
                    (click)="deploy()"
                >
                    <span>Deploy</span>
                </button>
                <!-- <button class="mt-3" (click)="testVictory()">Victory</button> -->
            </div>
        </div>
    </div>

    <div id="grid-container" class="col p-5">
        <div id="grid"
            [ngClass]="{
                'player-turn': gameManager.gameInstance.turn() === Turn.player,
                'computer-turn': gameManager.gameInstance.turn() === Turn.computer
            }"
            (dragleave)="gridDragLeave($event)"
        >
            <div id="grid-col-labels">
                <span *ngFor="let col of [].constructor(10); let i = index" class="grid-col-label">{{ i + 1 }}</span>
            </div>

            <div id="grid-row-labels">
                <span *ngFor="let col of [].constructor(10); let i = index" class="grid-row-label">{{ String.fromCharCode(65 + i) }}</span>
            </div>

            <ng-container *ngFor="let row of gridSectors(); let r = index">
                <ng-container *ngFor="let sector of row; let c = index">
                    <div *ngIf="gameManager.gameInstance.turn() === Turn.player || !sector.state.hasFlag(SectorState.ship)"
                        class="sector"
                        [ngClass]="{
                            'targeted': sector.state.hasFlag(SectorState.miss) || sector.state.hasFlag(SectorState.hit)
                        }"
                        [attr.data-row]="r"
                        [attr.data-col]="c"
                        (dragover)="sectorDragOver($event)"
                        (drop)="sectorDrop($event)"
                        (click)="sectorClick(r, c)"
                    ></div>
                </ng-container>
            </ng-container>

            <div *ngIf="showPlaceholder()" id="deployable-ship-placeholder"></div>

            <div *ngFor="let ship of deployedShips()"
                class="deployed-ship"
                [draggable]="gameManager.gameInstance.gameState() === GameState.deploying"
                [attr.data-ship-id]="ship.id"
                [attr.data-ship-length]="ship.length"
                [attr.data-ship-orientation]="ship.orientation"
                [style.gridRowStart]="ship.anchorSector.row + 1"
                [style.gridRowEnd]="ship.orientation === ShipOrientation.horizontal ? 'span 1' : ('span ' + ship.length)"
                [style.gridColumnStart]="ship.anchorSector.col + 1"
                [style.gridColumnEnd]="ship.orientation === ShipOrientation.horizontal ? ('span ' + ship.length) : 'span 1'"
                (dragstart)="shipDragStart($event)"
                (dragend)="shipDragEnd($event)"
                (click)="rotateShip(ship.id)"
            >
                <div class="ship-model h-100 w-100 position-relative">
                    <img class="position-absolute"
                        fill="true"
                        [ngSrc]="'assets/images/warships/' + ship.id + '-top-down' + (ship.orientation === ShipOrientation.vertical ? '-vertical' : '') + '.png'"
                        [ngClass]="ship.orientation === ShipOrientation.vertical ? 'vertical' : ''"
                        [attr.data-ship-id]="ship.id"
                    />
                </div>
            </div>
        </div>

        <div id="grid-overlays-container" class="p-5">
            <div id="sector-overlays">
                <i id="crosshairs" class="fas fa-3x fa-spin fa-crosshairs" style="display: none"></i>

                <ng-container *ngFor="let row of gridSectors(); let r = index">
                    <ng-container *ngFor="let sector of row; let c = index">
                        <div class="sector-overlay d-flex align-items-center justify-content-center"
                            [attr.data-row]="r"
                            [attr.data-col]="c"
                        >
                            <i *ngIf="sector.state.hasFlag(SectorState.miss) || sector.state.hasFlag(SectorState.hit)"
                                class="fas fa-2x fa-map-marker"
                                [ngClass]="{
                                    'miss': sector.state.hasFlag(SectorState.miss),
                                    'hit': sector.state.hasFlag(SectorState.hit)
                                }"
                            ></i>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
