<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-4 px-xl-0">
            <div class="col-12 offset-xl-2 col-xl-8">
                <ak-section-title [text]="title"></ak-section-title>
            </div>
        </div>
        <div class="row g-0 px-4 px-xl-0">
            <div class="col-12 offset-xl-2 col-xl-8">
                <div class="row g-0">
                    <div class="col-12 col-xl-6 pe-xl-4 pe-0 pb-4 pb-xl-0">
                        <div class="about-content">
                            <p>Welcome to my site! This is where I try to keep an accurate representation of my experience as a software engineer. It's also where you might catch me experimenting with the latest ideas bouncing around in my head.</p>
                             <p>I work remotely out of Minneapolis as a <b>Staff Software Engineer</b> for NAVEX, a GRC web software company based in Portland. But before that I was a student at the <b>University of Kansas</b> and graduated with a degree in Computer Science.</p>
                            <p class="mb-0">Check out the <a routerLink="/games">games library</a> I'm building! It's a constant work in progress, but I continue to build it out as I find time and ideas.</p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 ps-xl-4 ps-0 pt-4 pt-xl-0">
                        <div class="about-content">
                            <div>
                                <label class="me-3">2014</label>
                                <b>Web Developer</b>
                                <p class="timeline-description ms-3 my-2">My first job in the web development industry. While in school at KU, I worked part-time for AllofE Solutions. I mostly worked on their suite of higher education apps, but also maintained legacy systems.</p>
                            </div>
                            <div>
                                <label class="me-3">2017</label>
                                <b>Software Engineer</b>
                                <p class="timeline-description ms-3 my-2">Fresh out of college I was hired by Lockpath, a relatively young company building a powerful GRC application called Keylight.  Lockpath was bought by NAVEX in 2019, but our engineering team remained largely the same.</p>
                            </div>
                            <div>
                                <label class="me-3">2022</label>
                                <b>Senior Software Engineer</b>
                                <p class="timeline-description ms-3 my-2">Through several years of building my development skills and gaining experience across the tech stack, I earned new positions. First I was promoted to senior engineer, then to staff engineer a year later.</p>
                            </div>
                            <div>
                                <label class="me-3">2023</label>
                                <b>Staff Software Engineer</b>
                                <p class="timeline-description border-0 ms-3 my-2">My current role at NAVEX. As a front-end codeowner, I am responsible for reviewing code changes from other engineers. I play a central role in architectural changes of the Angular web client for NAVEX's risk governance solution, IRM (Integrated Risk Management).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
