<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-4 px-xxl-0 mb-3">
            <div class="col-12 offset-xxl-2 col-xxl-8">
                <ak-section-title [text]="title"></ak-section-title>
            </div>
        </div>
        <div class="row g-0 px-4 px-xxl-0">
            <div class="col-12 offset-xxl-2 col-xxl-8">
                <div class="row g-0">
                    <div class="col-12 col-xxl-6 pe-0 pe-xxl-4 pb-4 pb-xxl-0">
                        <div class="about-content">
                            <p akTranslatable>Welcome to my site! This is where I try to keep an accurate representation of my experience as a software engineer. It's also where you might catch me experimenting with the latest ideas bouncing around in my head.</p>
                            <p akTranslatable>I work remotely out of Minneapolis as a Staff Software Engineer for NAVEX, a GRC web software company based in Portland. But before that I was a student at the University of Kansas and graduated with a degree in Computer Science.</p>
                            <p akTranslatable class="mb-0">Check out the <a routerLink="/games">game library</a> I'm building! It's a constant work in progress, but I continue to build it out as I find time and ideas.</p>
                        </div>
                    </div>
                    <div class="col-12 col-xxl-6 ps-0 ps-xxl-4 pt-4 pt-xxl-0">
                        <div class="about-content">
                            <div>
                                <label class="me-3">2023</label>
                                <b akTranslatable>Staff Software Engineer</b>
                                <p akTranslatable class="timeline-description ms-3 mt-3 mb-0 pb-3">My current role at NAVEX. As a front-end codeowner, I am responsible for reviewing code changes from other engineers. I play a central role in architectural changes of the Angular web client for NAVEX's risk governance solution, IRM (Integrated Risk Management).</p>
                                <div class="timeline-badges ms-3 mb-3">
                                    <span class="ak-badge">TypeScript</span>
                                    <span class="ak-badge">Angular</span>
                                    <span class="ak-badge">C#</span>
                                    <span class="ak-badge">.NET</span>
                                    <span class="ak-badge">T-SQL</span>
                                </div>
                            </div>
                            <div>
                                <label class="me-3">2022</label>
                                <b akTranslatable>Senior Software Engineer</b>
                                <p akTranslatable class="timeline-description ms-3 mt-3 mb-0 pb-3">Through several years of building my development skills and gaining experience across the tech stack, I earned new positions. First I was promoted to senior engineer, then to staff engineer a year later.</p>
                                <div class="timeline-badges ms-3 mb-3">
                                    <span class="ak-badge">TypeScript</span>
                                    <span class="ak-badge">Angular</span>
                                    <span class="ak-badge">C#</span>
                                    <span class="ak-badge">.NET</span>
                                    <span class="ak-badge">T-SQL</span>
                                </div>
                            </div>
                            <div>
                                <label class="me-3">2017</label>
                                <b akTranslatable>Software Engineer</b>
                                <p akTranslatable class="timeline-description ms-3 mt-3 mb-0 pb-3">Fresh out of college I was hired by Lockpath, a relatively young company building a powerful GRC application called Keylight.  Lockpath was bought by NAVEX in 2019, but our engineering team remained largely the same.</p>
                                <div class="timeline-badges ms-3 mb-3">
                                    <span class="ak-badge">TypeScript</span>
                                    <span class="ak-badge">Angular</span>
                                    <span class="ak-badge">C#</span>
                                    <span class="ak-badge">.NET</span>
                                    <span class="ak-badge">T-SQL</span>
                                </div>
                            </div>
                            <div>
                                <label class="me-3">2014</label>
                                <b akTranslatable>Web Developer</b>
                                <p akTranslatable class="timeline-description border-0 ms-3 mt-3 mb-0 pb-3">My first job in the web development industry. While in school at KU, I worked part-time for AllofE Solutions. I mostly worked on their suite of higher education apps, but also maintained legacy systems.</p>
                                <div class="timeline-badges border-0 ms-3 mb-3">
                                    <span class="ak-badge">JavaScript</span>
                                    <span class="ak-badge">Ext JS</span>
                                    <span class="ak-badge">PHP</span>
                                    <span class="ak-badge">MySQL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
