<section [id]="navigationId">
    <div akDeferLoad
        class="content"
        [ngClass]="deferClass"
        [threshold]="deferThreshold"
        (deferLoad)="deferLoad()">
        <div class="row g-0 px-5 px-lg-0">
            <div class="col offset-lg-2">
                <ak-section-title [text]="title" [colorClass]="titleColor"></ak-section-title>
            </div>
        </div>
        <div class="row g-0 justify-content-center px-5 px-lg-0">
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="row g-0">
                    <div class="col-12">
                        <p>Over the last several years, I've had the opportunity to work with a variety of web technologies and talented people. While I mostly identify as a front-ender, I continue to find myself utilizing my skills on both ends of the tech stack.</p>
                        <p>I strive to stay up-to-date on the latest programming principles and am continually looking for ways to improve my web development game.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row g-0 justify-content-center align-items-center mb-5">
                    <div class="col-4 d-flex justify-content-end">
                        <div class="about-icon-container text-center">
                            <i class="color-app-accent-2 fas fa-suitcase fa-3x"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <label class="ms-3">Staff Software Engineer</label>
                    </div>
                </div>
                <div class="row g-0 align-items-center mb-5">
                    <div class="col-4 d-flex justify-content-end">
                        <div class="about-icon-container text-center">
                            <i class="color-app-accent-2 fas fa-building fa-3x"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <label class="ms-3">NAVEX (remote)</label>
                    </div>
                </div>
                <div class="row g-0 align-items-center">
                    <div class="col-4 d-flex justify-content-end">
                        <div class="about-icon-container text-center">
                            <i class="color-app-accent-2 fas fa-map-marker-alt fa-3x"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <label class="ms-3">Minneapolis, Minnesota</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
