@use 'sass:math';

@import 'variables';
@import 'keyframes';

:host {
    background-color: $theme-content-background;
    color: $theme-font-color;
    display: block;

    header {
        animation: $opacity-name $opacity-duration $opacity-timing;
        background-color: $theme-primary-background;
        box-shadow: $soft-box-shadow;
        z-index: $z-index-header;

        #header-title span {
            background-color: $theme-font-color;
            color: $theme-primary-background;
            font-weight: bold;
            padding: 0 math.div($base-size, 2);
        }

        #header-nav {
            a:not(:last-child) {
                margin-right: $base-size * 1.5;
            }
        }

        [role=menu] {
            width: 75%;

            [role=menuitem]:hover {
                background-color: $theme-primary-background;
            }

            #menu-buttons {
                border-top: 1px solid $theme-font-color;
            }
        }

        a {
            color: $theme-font-color;
            font-size: $default-font-size * 1.25;
            font-weight: normal;
            text-decoration: none;
            text-transform: uppercase;

            span {
                position: relative;

                &::after {
                    background-color: $theme-font-color;
                    bottom: -(math.div($base-size, 4));
                    content: '';
                    height: math.div($base-size, 8);
                    left: 0;
                    position: absolute;
                    transition: ease-in transform .2s;
                    transform-origin: bottom right;
                    width: 100%;
                }
            }

            &:not(.active) > span::after {
                transform: scaleX(0);
            }
    
            &.active > span::after {
                background-color: $color-blue;
            }
    
            &:hover > span::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    main {
        overflow-x: hidden;
        padding-top: 0px;
    }

    footer {
        background-color: $theme-primary-background;

        .footer-text {
            margin-right: $base-size * 2;
        }
    }
}
