<!-- Header -->
<header #header class="position-fixed w-100 row g-0 align-items-center">
    <ng-template #headerButtons>
        <button akTooltip
            class="header-icon-button"
            routerLink="/games"
            [tooltipContent]="'Games'"
            [tooltipPosition]="TooltipPosition.bottom">
            <i class="fas fa-2x fa-gamepad"></i>
        </button>
        <button akTooltip
            class="header-icon-button"
            [tooltipContent]="'Theme'"
            [tooltipPosition]="TooltipPosition.bottom"
            (click)="toggleTheme()">
            <i class="theme-toggle fas fa-2x" [ngClass]="currentThemeValue ? 'fa-sun' : 'fa-moon'"></i>
        </button>
    </ng-template>

    <button akMenu
        id="menu-button"
        class="col-auto header-icon-button d-flex d-xl-none align-items-center justify-content-center"
        [menuPosition]="MenuPosition.bottomLeft">
        <i class="fas fa-bars fa-2x"></i>
        <ng-template #menuContent>
            <div akMenuContent>
                <a *ngFor="let anchor of navigationAnchors"
                    #navAnchor
                    akMenuItem
                    [href]="'#' + anchor.id">
                    <span>{{ anchor.text }}</span>
                </a>
                <div id="menu-buttons" class="d-flex justify-content-evenly">
                    <ng-template [ngTemplateOutlet]="headerButtons"></ng-template>
                </div>
            </div>
        </ng-template>
    </button>
    <div id="header-title" class="col col-xl-3 ps-xl-5">
        <span>{{ title }}</span>
    </div>
    <div id="header-nav" class="col-xl-6 d-none d-xl-flex align-items-center justify-content-center">
        <a *ngFor="let anchor of navigationAnchors"
            #navAnchor
            [href]="'#' + anchor.id">
            <span>{{ anchor.text }}</span>
        </a>
    </div>
    <div class="col-auto col-xl-3 d-none d-xl-flex justify-content-end">
        <ng-template [ngTemplateOutlet]="headerButtons"></ng-template>
    </div>
</header>

<main #main class="position-static">
    <!-- Content -->
    <ak-intro></ak-intro>
    <ak-about></ak-about>
    <ak-career></ak-career>
    <ak-skills></ak-skills>

    <!-- Footer -->
    <footer class="row g-0 justify-content-center align-items-center">
        <div class="col-auto footer-text">
            <i class="far fa-copyright"></i>&nbsp;{{ title }}
        </div>
        <div class="col-auto">
            <ak-contact-icons></ak-contact-icons>
        </div>
    </footer>
</main>
