@use 'sass:math';

@use 'variables';
@use 'keyframes';

:host {
    display: block;

    header {
        animation: keyframes.$opacity-name keyframes.$opacity-duration keyframes.$opacity-timing;
        background-color: variables.$theme-bg-color-primary;
        box-shadow: variables.$theme-box-shadow-soft;
        z-index: variables.$z-index-header;

        @media (prefers-contrast: more) {
            border-bottom: 1px solid variables.$theme-font-color-normal;
        }

        @media (forced-colors) {
            #theme-button {
                display: none;
            }
        }

        #header-title span {
            background-color: variables.$theme-accent-color-primary;
            border-radius: math.div(variables.$base-size, 4);
            color: variables.$theme-bg-color-primary;
            font-weight: bold;
            padding: 0 math.div(variables.$base-size, 2);
        }

        #header-nav {
            a:not(:last-child) {
                margin-right: variables.$base-size * 1.5;
            }
        }

        a {
            color: variables.$theme-font-color-normal;
            font-size: variables.$default-font-size * 1.25;
            font-weight: normal;
            text-decoration: none;

            span {
                position: relative;

                &::after {
                    background-color: variables.$theme-font-color-normal;
                    bottom: -(math.div(variables.$base-size, 4));
                    content: '';
                    height: math.div(variables.$base-size, 8);
                    left: 0;
                    position: absolute;
                    transform-origin: bottom right;
                    transition: ease-in transform .2s;
                    width: 100%;

                    @media (prefers-reduced-motion) {
                        transition: none;
                    }
                }
            }

            &:not(.active) > span::after {
                transform: scaleX(0);
            }
    
            &.active > span::after {
                background-color: variables.$theme-accent-color-primary;
            }
    
            &:hover > span::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    main {
        overflow-x: hidden;
        padding-top: 0px;
    }

    footer {
        background-color: variables.$theme-bg-color-primary;
        border-top: 1px solid variables.$theme-font-color-normal;

        ak-contact-icons {
            margin-left: variables.$base-size * 2;
        }
    }
}
