<header #header class="position-fixed w-100 row g-0 align-items-center">
    <button akMenu
        id="menu-nav"
        class="col-auto header-icon-button d-flex d-xl-none align-items-center justify-content-center"
        [menuPosition]="MenuPosition.bottomLeft"
        [menuWidth]="MenuWidth.threeQuarters">
        <i class="fas fa-bars fa-2x"></i>
        <ng-template #menuContent>
            <div akMenuContent>
                <a *ngFor="let anchor of navigationAnchors"
                    #navAnchor
                    akMenuItem
                    [href]="'#' + anchor.id">
                    <span>{{ anchor.text }}</span>
                </a>
            </div>
        </ng-template>
    </button>
    <div id="header-title" class="col col-xl-3 ps-xl-5">
        <span>{{ title }}</span>
    </div>
    <div id="header-nav" class="col-xl-6 d-none d-xl-flex align-items-center justify-content-center">
        <a *ngFor="let anchor of navigationAnchors"
            #navAnchor
            [href]="'#' + anchor.id">
            <span akTranslatable>{{ anchor.text }}</span>
        </a>
    </div>
    <div class="col-auto col-xl-3 d-flex justify-content-end">
        <button akMenu akTooltip
            class="header-icon-button"
            [menuPosition]="MenuPosition.bottomRight"
            [tooltipContent]="'Translate'"
            [tooltipPosition]="TooltipPosition.bottom">
            <i class="fas fa-language fa-2x"></i>
            <ng-template #menuContent>
                <div akMenuContent>
                    <ak-translations style="min-width: 10vw"></ak-translations>
                </div>
            </ng-template>
        </button>
        <button akTooltip
            class="header-icon-button"
            [tooltipContent]="'Theme'"
            [tooltipPosition]="TooltipPosition.bottom"
            (click)="toggleTheme()">
            <i class="fas fa-2x" [ngClass]="currentThemeValue ? 'fa-sun' : 'fa-moon'"></i>
        </button>
    </div>
</header>

<main #main class="position-static">
    <ak-intro></ak-intro>
    <ak-about></ak-about>
    <ak-skills></ak-skills>
    <ak-projects></ak-projects>
</main>

<footer class="row g-0 align-items-center justify-content-center">
    <div class="col-auto d-flex align-items-center">
        <span><i class="far fa-copyright"></i>&nbsp;{{ title }}</span>
        <ak-contact-icons></ak-contact-icons>
    </div>
</footer>
