<!-- Header -->
<header #header class="position-fixed w-100 row no-gutters align-items-center">
    <div id="header-menu" class="col-auto d-flex d-lg-none text-center">
        <i tabindex="0" class="fas fa-bars fa-2x" (click)="toggleMenu()"></i>
    </div>
    <div id="header-title" class="col col-lg-3">
        <span>{{ title }}</span>
    </div>
    <div id="header-nav" class="col-lg-6 d-none d-lg-flex text-center">
        <ak-navigation class="d-block w-100"></ak-navigation>
    </div>
    <div id="header-icons" class="col-lg-3 d-none d-lg-flex justify-content-end">
        <i tabindex="0" class="fas fa-2x" [ngClass]="currentThemeValue ? 'fa-sun' : 'fa-moon'" (click)="toggleTheme()"></i>
    </div>
</header>

<div #headerMenuContent id="header-menu-content" class="position-fixed d-none p-3 text-center">
    <i tabindex="0" class="fas mb-3" [ngClass]="currentThemeValue ? 'fa-sun' : 'fa-moon'" (click)="toggleTheme()"></i>
    <ak-navigation class="d-block" [orientation]="'vertical'"></ak-navigation>
</div>

<main #main class="position-static">
    <!-- Content -->
    <ak-intro></ak-intro>
    <ak-about></ak-about>
    <ak-timeline></ak-timeline>
    <ak-skills></ak-skills>

    <!-- Footer -->
    <footer class="row no-gutters justify-content-center align-items-center">
        <div class="col-auto footer-text">
            <i class="far fa-copyright"></i>&nbsp;{{ title }}
        </div>
        <div class="col-auto">
            <ak-contact-icons></ak-contact-icons>
        </div>
    </footer>
</main>
