@use 'sass:math';

@import 'variables';
@import 'keyframes';

$header-height: $base-size * 6;

:host {
    background-color: $theme-content-background;
    color: $theme-font-color;
    display: block;

    header {
        animation: $opacity-name $opacity-duration $opacity-timing;
        background-color: $theme-primary-background;
        box-shadow: $soft-box-shadow;
        height: $header-height;
        z-index: $z-index-header;

        #header-title span {
            background-color: $theme-font-color;
            color: $theme-primary-background;
            font-size: $default-font-size * 2;
            font-weight: bold;
            line-height: $base-size * 2;
            padding: 0 math.div($base-size, 2);
        }

        #header-nav {
            a:not(:last-child) {
                margin-right: $base-size;
            }
        }

        [role=menu] [role=menuitem]:hover {
            background-color: $theme-primary-background;
        }

        .icon-button {
            animation-fill-mode: forwards;
            color: $theme-font-color;
            height: $header-height;
            width: $header-height;

            &:hover {
                color: $color-blue;
            }
        }

        a {
            color: $theme-font-color;
            font-size: $default-font-size * 1.25;
            text-decoration: none;
            text-transform: uppercase;

            span {
                position: relative;

                &::after {
                    background-color: $theme-font-color;
                    bottom: -(math.div($base-size, 4));
                    content: '';
                    height: math.div($base-size, 8);
                    left: 0;
                    position: absolute;
                    transition: ease-in transform .2s;
                    transform-origin: bottom right;
                    width: 100%;
                }
            }

            &:not(.active) > span::after {
                transform: scaleX(0);
            }
    
            &.active > span::after {
                background-color: $color-blue;
            }
    
            &:hover > span::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    main {
        overflow-x: hidden;
    }

    footer {
        background-color: $theme-primary-background;
        height: $base-size * 6;

        .footer-text {
            margin-right: $base-size * 2;
        }
    }
}
