<div class="ak-tooltip-container"></div>

<!-- Header -->
<header #header class="position-fixed w-100 row no-gutters justify-content-between align-items-center">
    <div class="col-auto header-title d-none d-md-flex">{{ title }}</div>
    <div class="col-auto header-icons d-none d-md-flex">
        <ak-contact-icons [iconClass]="'contact-icon-black'"></ak-contact-icons>
    </div>
</header>

<main #main class="position-static">
    <!-- Nav control -->
    <ak-navigation></ak-navigation>

    <!-- Content -->
    <ak-intro></ak-intro>
    <ak-about></ak-about>
    <ak-career></ak-career>
    <ak-skills></ak-skills>

    <!-- Footer -->
    <footer class="row no-gutters justify-content-center align-items-center">
        <div class="col-auto footer-text">
            <i class="far fa-copyright"></i>&nbsp;{{ title }}
        </div>
        <div class="col-auto">
            <ak-contact-icons [iconClass]="'contact-icon-white'"></ak-contact-icons>
        </div>
    </footer>
</main>
