<section class="text-center" [ngClass]="colorClass + ' ' + deferClass" deferLoad [threshold]="deferThreshold" (onLoad)="deferClass='defer-load'">
    <h1 class="text-left">Trade secrets.</h1>
    <h3 [ngClass]="colorClassDark">Highlights</h3>
    <div class="row no-gutters pt-0 px-0 pb-5" [ngClass]="colorClassDark">
        <div class="col-3">
            <i class="devicon-html5-plain highlight" title="HTML5"></i>
        </div>
        <div class="col-3">
            <i class="devicon-angularjs-plain highlight" title="Angular"></i>
        </div>
        <div class="col-3">
            <i class="devicon-typescript-plain highlight" title="Typescript"></i>
        </div>
        <div class="col-3">
            <i class="devicon-css3-plain highlight" title="CSS3"></i>
        </div>
    </div>
    <h3 [ngClass]="colorClassLight">Others</h3>
    <div class="row no-gutters p-0" [ngClass]="colorClassLight">
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-visualstudio-plain other" title="Visual Studio"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-git-plain other" title="Git"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-javascript-plain other" title="Javascript"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-bitbucket-plain other" title="Bitbucket"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-windows8-plain other" title="Windows"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-csharp-plain other" title="C#"></i>
        </div>
    </div>
    <div class="row no-gutters p-0" [ngClass]="colorClassLight">
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-sass-plain other" title="Sass"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-bootstrap-plain other" title="Bootstrap"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-dot-net-plain other" title=".NET"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-php-plain other" title="PHP"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-mysql-plain other" title="MySQL/TSQL"></i>
        </div>
        <div class="col-4 col-md-2 pb-5">
            <i class="devicon-android-plain other" title="Android"></i>
        </div>
    </div>
</section>
