<section class="text-center" [ngClass]="colorClass + ' ' + deferClass" deferLoad [threshold]="deferThreshold" (onLoad)="deferClass='defer-load'">
    <h1 class="text-left">Party tricks.</h1>
    <h3 [ngClass]="colorClassDark">Highlights</h3>
    <div class="row no-gutters pt-0 px-0 pb-5" [ngClass]="colorClassDark">
        <div class="col-3">
            <i class="devicon-html5-plain highlight" title="HTML5"></i>
        </div>
        <div class="col-3">
            <i class="devicon-angularjs-plain highlight" title="Angular"></i>
        </div>
        <div class="col-3">
            <i class="devicon-typescript-plain highlight" title="Typescript"></i>
        </div>
        <div class="col-3">
            <i class="devicon-css3-plain highlight" title="CSS3"></i>
        </div>
    </div>
    <h3 [ngClass]="colorClassLight">Others</h3>
    <div class="row no-gutters p-0" [ngClass]="colorClassLight">
        <div class="col-4 align-self-center text-right font-weight-bold">Best Friends</div>
        <div class="col-8 text-left">
            <i class="devicon-visualstudio-plain other" title="Visual Studio"></i>
            <i class="devicon-git-plain other" title="Git"></i>
            <i class="devicon-javascript-plain other" title="Javascript"></i>
            <i class="devicon-bitbucket-plain other" title="Bitbucket"></i>
            <i class="devicon-windows8-plain other" title="Windows"></i>
            <i class="devicon-csharp-plain other" title="C#"></i>
            <i class="devicon-bootstrap-plain other" title="Bootstrap"></i>
        </div>
    </div>
    <div class="row no-gutters px-0 py-4" [ngClass]="colorClassLight">
        <div class="col-4 align-self-center text-right font-weight-bold">Acquainted</div>
        <div class="col-8 text-left">
            <i class="devicon-dot-net-plain other" title=".NET"></i>
            <i class="devicon-php-plain other" title="PHP"></i>
            <i class="devicon-mysql-plain other" title="MySQL/TSQL"></i>
            <i class="devicon-android-plain other" title="Android"></i>
            <i class="devicon-sass-plain other" title="Sass"></i>
            <i class="devicon-linux-plain other" title="Linux"></i>
        </div>
    </div>
    <div class="row no-gutters pt-0 px-0 pb-5" [ngClass]="colorClassLight">
        <div class="col-4 align-self-center text-right font-weight-bold">Introduced</div>
        <div class="col-8 text-left">
            <i class="devicon-d3js-plain other" title="D3JS"></i>
            <i class="devicon-cplusplus-plain other" title="C++"></i>
            <i class="devicon-webpack-plain other" title="Webpack"></i>
            <i class="devicon-apple-plain other" title="macOS/iOS"></i>
        </div>
    </div>
</section>
