<section class="text-center position-relative" [ngClass]="deferClass" deferLoad [threshold]="deferThreshold" (onLoad)="deferClass='defer-load'">
    <div class="content">
        <div class="row no-gutters">
            <div class="col-lg-4 offset-lg-2">
                <section-title [text]="title" [colorClass]="colorClass"></section-title>
            </div>
        </div>
        <div class="row no-gutters justify-content-center text-left mb-5">
            <div class="col-lg-4">
                <h2>My Focus</h2>
            </div>
            <div class="col-lg-4">
                <p>While I identify mostly as a frontender, I am capable of flexing skills on both sides of the tech stack. I most enjoy creating cool pages for users to interact with, but understanding the data those pages present is important to building the best possible user experience. When I have a good understanding of all of the technical elements of a web environment, it only leads to better results.</p>
                <p>On my off time, I tend to find myself exploring Angular and applying some of what I've learned to this site and other projects. However, expanding my knowledge with other tools is never far off my mind.</p>
            </div>
        </div>
        <div class="row no-gutters justify-content-center text-left mb-5">
            <div class="col-lg-8">
                <h2>Tech</h2>
            </div>
        </div>
        <div class="row no-gutters justify-content-center mb-5">
            <div class="col-lg-8">
                <skill-carousel [skills]="skills" [colorClass]="colorClass"></skill-carousel>
            </div>
        </div>
    </div>
</section>
