@import 'variables';

section {
    background-color: $white;
    border-bottom: none;
}

h3 {
    padding-top: $base-size * 2;
}

[class^=devicon-] {
    font-size: $base-size * 2.5;

    &.highlight {
        font-size: $base-size * 4;
    }

    &.other {
        padding-left: $base-size * 2;
    }
}
