<h3 class="text-center">{{ gameManager.gameInstance.hardcore ? 'Flawless!' : 'Well Done!' }}</h3>

<div id="puzzle-data" class="row g-0">
    <div class="col-6 text-center">
        <span>{{ gameManager.gameInstance.difficulty | sudokuDifficulty }}</span>
        <i *ngIf="gameManager.gameInstance.hardcore" class="fas fa-skull color-red ms-3"></i>
    </div>
    <div class="col-6 text-center">
        <time [dateTime]="(gameManager.gameInstance.time$ | async)">{{ timeDisplay }}</time>
    </div>
</div>

<div id="next-options" class="row g-0 justify-content-evenly">
    <div class="col-12 col-lg-auto d-flex justify-content-center mb-3 mb-lg-0">
        <button (click)="goHome()">Play different game</button>
    </div>
    <div class="col-12 col-lg-auto d-flex justify-content-center">
        <button (click)="playAgain()">Play another Sudoku</button>
    </div>
</div>
