@import 'variables';

:host {
    background-color: $color-white;

    h3 {
        margin: 0;
        padding: $base-size * 4 $base-size;
    }

    #puzzle-data {
        background-color: $color-sudoku-light;
        color: $color-sudoku-dark;
        font-weight: bold;
        padding: $base-size;
    }

    #next-options {
        padding: $base-size * 4 $base-size;
    }
}
