@import 'variables';

:host {
    background-color: $color-sudoku-orange;

    h3 {
        margin: 0;
        padding: $base-size * 4 $base-size;
    }

    #puzzle-data {
        background-color: lighten($color: $color-sudoku-orange, $amount: 10%);
        font-weight: bold;
        padding: $base-size;
    }

    #next-options {
        padding: $base-size * 4 $base-size;

        button {
            background-color: $color-white;
        }

        button:hover {
            background-color: lighten($color-slate, 60%);
        }
    }
}
