@use 'variables';

:host {
    .dialog-header {
        margin: 0;
        padding: variables.$base-size * 4 variables.$base-size;
    }

    .dialog-body {
        background-color: variables.$color-sudoku-light;
        color: variables.$color-sudoku-dark;
        font-weight: bold;
    }

    .dialog-actions {
        padding: variables.$base-size * 4 variables.$base-size;
    }
}
